.quizContainer
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: calc(var(--vw)*90);
    height: calc(var(--vw)*60);
    background-color: red;
    background: url("../assets/bg.jpg") no-repeat center center fixed;
    background-size: contain;
}
.quiz
{
    
    border: 1px solid #000000;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 100%;
    margin: 0 auto;
    width:100%;
}
.quiz .question
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    color: black;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 0 auto;
    width: calc(var(--vw)*50);
    height: 20%;
}
.quiz .question p
{
    font-size: calc(var(--vw)*2);
    font-weight: normal;
    margin: 0;
    padding: calc(var(--vw)*2);
}
.quiz .question h3
{
    font-size: calc(var(--vw)*2.5);
    font-weight: bold;
    margin: 0;
    padding: calc(var(--vw)*1.5);
}
.quiz .answers {
    background-color: white;
    border: 1px solid #000000;
    height: 50%;
    margin: 0 auto;
    width: calc(var(--vw)*50);
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.quiz .answers .answer {
    border: 1px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--bigfont);
    font-weight: bold;
    height: 20%;
    line-height: 30px;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: calc(var(--vw)*2);
    width: calc(var(--vw)*40);
}
.correct
{
    background-color: rgba(0, 255, 0, 0.8) !important;
    color: white;
}
.incorrect
{
    background-color: rgba(255, 0, 0, 0.8) !important;
    color: white;
}
.badAnswer
{
    background-color: green !important;
    color: white;
}
.quiz .answers .answer:hover
{
    background-color: rgba(100, 149, 237, 0.5);

    color: white;
}
.quiz .unselected
{
    background-color: white;
    color: black    ;
}
.quiz .selected 
{
    background-color: rgba(100, 149, 237, 1);
    color: white;
}
.quiz .answers .answer input
{
    display: none;
}
.quiz .answers .answer label
{
    cursor: pointer;
}
.quiz .buttons
{
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    height: calc(var(--vw)*10);
    margin: 0 auto;
    width: calc(var(--vw)*50);
}
.quiz .buttons button
{
    background-color: cornflowerblue;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(var(--vw)*2.5);
    font-weight: bold;
    height:calc(var(--vw)*5);
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.nopress
{
    background-color: #CCCCCC !important;
    color: #666666!important;
    cursor: default!important;
}
.hid
{
    display: none;
}