html
{
    --player-size:1.5;
}
.playerContainer
{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    width: calc(var(--vw)*45 * var(--player-size));
    height: calc(var(--vw)*30 * var(--player-size));
    background-color: red;
}
.player1
{
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 100%;
    margin: 0 auto;
    padding: 5px;
    width:100%;
}
.player1 .player1-video
{
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    height: calc(var(--vw)*12 * var(--player-size));
    margin: 0 auto;
    width: calc(var(--vw)*18 * var(--player-size));
}
.player1 .player1-controls
{
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    height: 40px;
    margin: 0 auto;
    width: 100%;
}
.player1 .player1-controls .player1-play
{
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 5px 0 0 5px;
    text-align: center;
    width: 30px;
}
.player1 .player1-controls .player1-play:hover
{
    background-color: #FFFFFF;
    color: #000000;
}
.player1 .player1-controls .player1-progress
{
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    float: left;
    height: 30px;
    margin: 5px 0 0 5px;
    width: 300px;
}
.player1 .player1-controls .player1-progress .player1-progress-bar
{
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    height: 30px;
    width: 0px;
}
.player1 .player1-controls .player1-time
{
    color: #FFFFFF;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 5px 0 0 5px;
    width: 30px;
}
.player1 .player1-controls .player1-volume
{
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 5px 0 0 5px;
    text-align: center;
    width: 30px;
}
.player1 .player1-controls .player1-volume:hover
{
    background-color: #FFFFFF;
    color: #000000;
}
.player1 .player1-controls .player1-fullscreen
{
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 5px 0 0 5px;
    text-align: center;
    width: 30px;
}
.player1 .player1-controls .player1-fullscreen:hover
{
    background-color: #FFFFFF;
    color: #000000;
}
.player1 .player1-controls .player1-mute
{
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 5px 0 0 5px;
    text-align: center;
    width: 30px;
}
.player1 .player1-controls .player1-mute:hover
{
    background-color: #FFFFFF;
    color: #000000;
}
.player1 .player1-controls .player1-unmute
{
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 5px 0 0 5px;
    text-align: center;
    width: 30px;
}
.player1 .player1-controls .player1-unmute:hover
{
    background-color: #FFFFFF;
    color: #000000;
}
.player1 .player1-controls .player1-volume-bar
{
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    height: 30px;
    width: 0px;
}
.player1 .player1-controls .player1-volume-bar .player1-volume-bar-value
{
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    height: 30px;
    width: 0px;
}
.player1 .player1-controls .player1-fullscreen-exit
{
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 5px 0 0 5px;
    text-align: center;
    width: 30px;
}
.player1 .player1-controls .player1-fullscreen-exit:hover
{
    background-color: #FFFFFF;
    color: #000000;
}

.btnTakeQuiz
{
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: calc(var(--vw) * 5);
    line-height: 30px;
    margin: 5px 0 0 5px;
    text-align: center;
    width: calc(var(--vw) * 10);
    margin-left: 50%;
    transform: translateX(-50%);
}