<g id="wordBox" draggable="true">
    <svg width="15%" height="10%" preserveAspectRatio="none">
        <rect x="0" y="0" width="100%" height="100%" fill="wheat" stroke="black" stroke-width="4"></rect>
        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" class="svgText">TEXT</text>
    </svg>
</g>
<g id="targBox">
    <rect x="0" y="0" width="20%" height="20%" fill="white" stroke="green" stroke-width="4"></rect>
</g>
<text class="svgText" id="qtext" x="50%" y="10%" fill="black" font-size="22" font-family="Arial" alignment-baseline="middle" text-anchor="middle"></text>