
<g id="uiWindow">
   
    <rect x="5%" y="5%" width="90%" height="90%" fill="white" stroke="blue" stroke-width="10"></rect>
</g>
<g id="screen1">   
    <rect x="5%" y="5%" width="90%" height="90%" fill="red"></rect>
    <text x="50%" y="10%" fill="white" class="whiteText">This is the main screen</text>  
</g>