.shapebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: calc(var(--vw) * 20);
    height: calc(var(--vw) * 50);
    background-color: black;
    align-content: center;
}
.shapebox
{
    width: calc(var(--vw) * 12);
    height: calc(var(--vw) * 8);
    background-color: gray;
    background-image: url("../assets/hex.svg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
    border-top: white 2px solid;
    
}

.gameGrid
{
    display: grid;
    grid-template-columns:1fr 9fr;
    grid-template-rows: 4fr 1fr;
    width: calc(var(--vw) * 100);
}

.gameGrid > :first-child
{
    grid-row: 1/3;
}
.board
{
    width: calc(var(--vw) * 70);
    height: calc(var(--vw) * 40);
    background-color: white;
    border: solid black 2px;
}
.shape
{
    position: absolute;
    width: calc(var(--vw) * 10);
    height: calc(var(--vw) * 10);
    background-image: url("../assets/hex.svg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 90% 90%;
   /*  border: solid black 2px; */
}