.gameContainer {
    display: flex;
    /* width: calc(var(--vw)*97); */
    height: 96vh;
    position: relative;
    /* overflow: hidden; */
    /* justify-content: space-evenly; */
    /* flex-direction: row; */
}
.mainGame
{
    background-color: black;
    width: calc(var(--vw)*100);
   
}
.room
{
   
    width: 100%;
    height: calc(var(--vw)*30);
    background-image: url("../assets/lab1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.mainGame .textSpace
{
    text-align: center;
    width: 100%;
    height:fit-content;
}
.mainGame textarea
{
    width: 50%;
    margin: auto;
    color:black;
}
.controls h2
{
    text-align: center;
    font-size: calc(var(--vw)*2);
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: calc(var(--vw)*15);
    height: calc(var(--vw)*5);
    line-height: calc(var(--vw)*5);
}
.controls {
    padding-top: calc(var(--vw)*1.5);
    display: flex;
    columns: 3;
    gap: 10px;
    justify-content: center;
    background-color: wheat;
    height: 100%;
    width: 100%;
}
.controls ul
{
    border-radius: 0;
    height: calc(var(--vw)*10);
    width: calc(var(--vw)*15);
    overflow-y: auto;
    overflow-x: hidden;
}
.controls ul .notactive
{
    color: gray;
    opacity: 0.5;
}
.controls button
{
    font-size: var(--smallfont)!important;
    width: calc(var(--vw)*10);
    height: calc(var(--vw)*5);
    font-size: calc(var(--vw)*2);
    border-radius: 0;
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
}