h1 {
  color: white;
  background-color: black;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0 !important;
  touch-action: none;
}
.full
{
  width: 100vw;
  height: 100vh;
}
.uiWindow
{
  width:100%;
  height: 100%;
  margin: auto;
}
.draggable {
  cursor: move;
}