<head><script defer="defer" src="bundle.min.js"></script></head><title>Timeline player</title><link rel="stylesheet" href="fstyle.css"><link rel="stylesheet" href="spotlighteffect.css"><div id="phaser-game"></div><div class="spotlightoverlay"></div>