/*
SPOTLIGHT EFFECT STYLE
by seang@teachingtextbooks.com
version 0.1
*/

/*
	The "spotlightoverlay" div is where the actual Spotlight Effect is rendered.
	It covers the entire window with a semi-transparent gray background,
	but with a slightly blurred fully transparent circle cut out.
*/
div.spotlightoverlay {
	position: fixed;
	display: none;
	left: 0px;
	top: 0px;
	z-index: 200;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity .5s ease-in-out;
}