h1 {
  color: white;
  background-color: black;
}
body
{
  height: 100vh;
  padding:0;
  margin: 0!important;
  touch-action: none;
}
.draggable
{
  cursor: move;
  
}
.svgText
{
  touch-action: none;
  pointer-events: none;
}
.fullscreen
{
  height: 100vh;
  width: 100vw;
}