<foreignObject x="0" y="0" width="300" height="300">
    <div class="pg3 right oldpaper HTMNHL" xmlns="http://www.w3.org/1999/xhtml">
        <h1 data-nhl="pg3h1">So, Is <em>This</em><br />a Board Book?</h1>
        <article>
            <p data-nhl="pg3p1">No, this is an HTML page, using a &#x2018;book&#x2019;
                visual metaphor to navigate its content.</p>
            <figure class="spotart"></figure>
            <p data-nhl="pg3p2">But we are calling it the &#x201C;Board Book Demo,&#x201D;
                only because of how we animate the page-turning.
                The pages flip <em>rigidly</em> rather than all floppy and bendy.</p>
        </article>
        <figure class="guttershadow"></figure>
    </div>
</foreignObject>