<style media='screen' type='text/css'>
    @font-face {
        font-family: "BarthowheelReg";
        src: url('./assets/Barthowheel Regular.ttf');
    }

    @font-face {
        font-family: "BarthowheelIt";
        src: url('./assets/Barthowheel Italic.ttf');
    }
</style>
<div style="font-family:'BarthowheelReg';display:none">BarthowheelReg</div>
<div style="font-family:'BarthowheelIt'; display: none;">BarthowheelIt</div>