/** BOTTOM BAR **/
.bottomBar {
    position: absolute;
    transform: translate(0, 50%);
    width: 100%;
    height: 22vh;
    z-index: 40;
    /*  background-image: linear-gradient(to top, rgba(0,0,0,0), rgb(0, 0, 0,.2)); */
    transition: bottom 2s;
    overflow: visible;
}

.bottomBar.open {
    bottom: 12vh;
}

.bottomBar.closed {
    bottom: -12vh;
}

.pageSliderNav {
    width: 80%;
    top: 1vh;
     margin: 1vh auto; 
    position: relative;
}
.tickmarks {
    position: relative;
    top: -2.8vh;
    left: 0;
    width: 100%;
    z-index: 20;
}
.tickmark {
    position: absolute;
    height: 2.2vh;
    width: calc(var(--vw)*0.5);
    background-color: #598CC9;
    border-radius: 20%;
    z-index: 0;
    padding: 0%;
    margin: 0%;
    border: 0;
    align-items: center;
}

.zoomySlider {
    width: 100%;
    background: linear-gradient(to right, #5B8ECC 0%, #5B8ECC 0%, #fff 0%, #fff 100%);
    height: 2vh;
    transition: background 450ms ease-in;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 25px;
    box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
    -webkit-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
    -moz-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
    position: relative;
    z-index: 10;
}

.zoomySlider::-webkit-slider-thumb {
    cursor: pointer;
    appearance: none;
    height: 30px;
    width: 30px;
    background: radial-gradient(#5C90CE, #375982);
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
    -webkit-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
    -moz-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
    z-index: 15;


}

.smallNavButton {
    width: calc(var(--vw)*9);
    height: calc(var(--vw)*9);
    position: relative;
    background-image: url(../assets/images/ui/buttons/navbuttons/btnBlank.svg);
    background-size: 65% 65%;
    background-repeat: no-repeat;
    -webkit-transition: -webkit-filter 500ms linear;
    transition: -webkit-filter 500ms linear;

}

.bbButtons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(var(--vw)*30);
    top: calc(var(--vw)*5);
    left: calc(var(--vw)*13);
}

.bbButtons2 {
    position: absolute;
    top: calc(var(--vw)*5);
    left: calc(var(--vw)*80);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btnPlay {
    position: absolute;
    top: calc(var(--vw)*3);
    left: calc(var(--vw)*2);
    width: calc(var(--vw)*10);
    height:calc(var(--vw)*10);
    background-image: url(../assets/images/ui/buttons/navbuttons2/btnPlay.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat
}
/**buttons**/

.bbButtons .btnVolume {
    background-image: url(../assets/images/ui/buttons/navbuttons2/btnSpeech.svg) !important;
}

.bbButtons .btnVolumeMusic {
    background-image: url(../assets/images/ui/buttons/navbuttons2/btnMusic.svg) !important;
}

.btnSpeed {
    background-image: url(../assets/images/ui/buttons/navbuttons2/btnSpeed.svg) !important;
}

/**highlight switch**/
/* #highlightSwitch {
    position: absolute;
    top: 38%;
    left: 86%;
} */
.hightlightContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    align-content: flex-start;
    flex-wrap: wrap;
}
.highlightLabel{
    font-family:Andika;
    font-size:calc(var(--vw)*2.5);
    color: white;
    text-shadow:2px 2px black;
    text-size-adjust: auto;
}

.toggleSwitch {
    position:absolute;
    width: calc(var(--vw)*5);
    height:calc(var(--vw)*3);
    background-image: url("../assets/images/ui/nav/switchbar.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
   
}

/* .toggleSwitchOn {
    width: calc(var(--vw)*5);
    height: calc(var(--vw)*2);
    background-image: url("../../assets/images/ui/nav/switchbarOn.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}
 */
.toggleSwitch .knob {
    position: absolute;
    left: 0;
    top: calc(var(--vw)*0.5);
    width: calc(var(--vw)*2);
    height:calc(var(--vw)*2);
    background-image: url("../assets/images/ui/nav/slideknob.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.toggleSwitch .knob.selected
{
    left: calc(var(--vw)*2.5);
}
.btnCopyright {
    position: absolute;
    top:6vh;
    right: 0;
    width: calc(var(--vw)*8);
    height: calc(var(--vw)*8);
    background-image: url(../assets/images/ui/buttons/navbuttons2/btnCopyright.svg); 
    background-size: 85% 85%;
    background-repeat: no-repeat
}
/* .previewHolder {
    position: absolute;
    top: calc(var(--vw)*-16);
    left: 1%;
    background: url("../assets/images/ui/nav/previewWindow.svg");
    background-size: 15vw;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(var(--vw)*15);
    width: calc(var(--vw)*15);
    transform: translate(-50%, 0);
    z-index: 8;
} */
/* .paddArea {
    position: absolute;
    top: calc(var(--vw)*4);
    left: calc(var(--vw)*3);
    width: calc(var(--vw)*12);
    height: calc(var(--vw)*7);
    z-index: 10;
} */
/* .ppageStart
{
    width: 100%;
    height: 100%;
} */
.previewHolder{
    position: absolute;
    left: 0;
    width:200px;
    height: 160px;
    top: -160px;
    text-align: center;
    color:white;
    line-height: 245px;
    font-size: 20px;
    font-weight: bold;
    background-image: url("../assets/images/ui/nav/previewWindow.svg");
    background-size: 200px;
    background-repeat: no-repeat;
    margin: 0%;
    padding: 0%;
    transform: translate(-85px,0);
}