.topBar {
    position: absolute;
    /* transform: translate(0, 50%); */
    width: 100%;
    height: 20vh;
    z-index: 40;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0, .2));
    /*background-image: url("../assets/images/ui/nav/bar.svg");*/
    transition: top 2s;
}

.topBar.open {
    top: 0;
}

.topBar.closed {
    top: -20vh;
}

.btnNavDown {
    position: absolute;
    top: 19.6vh;
    left: 4%;
    width: 10%;
    height: 30%;
    background-image: url("../assets/images/ui/buttons/navbuttons/navDown.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.tbButtons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(var(--vw)*30);
    /* top: calc(var(--vw)*5); */
    left: calc(var(--vw)*2);
}

.topBarClosed {
    top: -28vh;
}

.smallToggleButton {
    width: calc(var(--vw)*9);
    height: calc(var(--vw)*9);
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
}

.btnAuto.on {
    background-image: url(../assets/images/ui/buttons/navbuttons2/btnAutoSelected.svg) !important;
}

.btnAuto.off {
    background-image: url(../assets/images/ui/buttons/navbuttons2/btnAuto.svg) !important;
}


.btnListen.on {
    background-image: url(../assets/images/ui/buttons/navbuttons2/btnListenSelected.svg) !important;
}

.btnListen.off {
    background-image: url(../assets/images/ui/buttons/navbuttons2/btnListen.svg) !important;
}

.btnRead.on {
    background-image: url(../assets/images/ui/buttons/navbuttons2/btnReadSelected.svg) !important;
}

.btnRead.off {
    background-image: url(../assets/images/ui/buttons/navbuttons2/btnRead.svg) !important;
}

.navFlip
{
    transform: rotate(180deg);
    top:19vh;
}