.clusterList .clusterCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: space-between;
}
.clusterList h2{
    text-align: center;
    font-size: 1.5em;
    margin: auto;
    padding-bottom:5%;
}
.clusterList .clusterCard
{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin: 0 0 10px 0;
    padding: 10px;
    width: calc(var(--vw)*30);
    cursor: pointer;
}
.clusterList .clusterCard h2
{
    font-size: 1.5em;
    margin: 0 0 10px 0;
    text-align: center;
}
.clusterList .clusterCard p
{
    font-size: 1em;
    margin: 0 0 10px 0;
    text-align: center;
}
.clusterList .clusterCard ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 10px 0;
    padding: 0;
    width: calc(var(--vw)*30);
    margin: auto;
    list-style: none;
}
.clusterList .clusterCard li mark
{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    color: #000;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 0 0;
    padding: 10px;
    width: 8%;
    height:auto;
}
.clusterList .clusterCard li mark.good
{
    background-color: green;
}
.clusterList .clusterCard li mark.bad
{
    background-color: red;
}
.clusterList .clusterCard li mark.unknown
{
    background-color: yellow;
}
.clusterList .clusterCard li mark.loading
{
    background-color: orange;
}
.clusterList .secondText
{
    font-size: calc(var(--vw)*2);
    margin: 10px 0 10px 0;
    text-align: center;
}