/* statusicon figure */

.v4monitor .statusBar .statusicon {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-image: url("../assets/status_ikon_sprite.svg");
	background-repeat: no-repeat;
	background-size: 60px 90px;
	background-position: left top;
	vertical-align: -30%;
}
.v4monitor .top
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    list-style: none;
    width: calc(var(--vw) * 60);
    height: fit-content;
    background-color: white;
    border: black solid 1px;
    border-radius: 5px;
    margin: auto;
    padding: calc(var(--vw) * 2);
}
.v4monitor h2
{
    margin: auto;
    font-size: 20px;
    text-align: center;
}
.v4monitor .statusRows
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    list-style: none;
    width: calc(var(--vw) * 60);
    height: fit-content;
    background-color: white;
    border: black solid 1px;
    border-radius: 5px;
    margin: auto;
    padding: calc(var(--vw) * 2);
}
.v4monitor .statusRows .statusBar {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    list-style: none;
    width: 100%;
    height: 45px;
    background-color: white;
    border: black solid 1px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.v4monitor .statusRows .statusBar .statusicon.grey.animated {
	background-position: right top;
} 
.v4monitor .statusRows .statusBar .statusicon.green {
	background-position: left center;
}
.v4monitor .statusRows .statusBar .statusicon.green.animated {
	background-position: right center;
}
.v4monitor .statusRows .statusBar .statusicon.red {
	background-position: left bottom;
}
.v4monitor .statusRows .statusBar .statusicon.red.animated {
	background-position: right bottom;
} 

.v4monitor .statusRows .statusBar .repsonseTime
{
    font-size: calc(var(--vw) * 1.2);
    text-align: center;
    width: calc(var(--vw) * 15);
    padding: calc(var(--vw) * .2);
    margin: auto;
}
.v4monitor .statusRows .statusBar .goodText
{
    font-size: var(--medfont);
    text-align: center;
    color: green;
    text-shadow: black 1px 1px 1px;
    margin: auto;
}
.v4monitor .statusRows .statusBar .badText
{
    font-size: var(--medfont);
    text-align: center;
    color: red;
    text-shadow: black 1px 1px 1px;
    margin: auto;
}
.v4monitor .statusRows .statusBar .unknownText
{
    font-size: var(--smallFont);
    text-align: center;
    color: orange;
    text-shadow: black 1px 1px 1px;
    margin: auto;
}
.v4monitor .statusRows .statusBar .labelText
{
    font-size: var(--medfont);
    text-align: center;
    color: grey;
    text-shadow: black 1px 1px 1px;
    margin: auto;
}
.v4monitor .statusRows .statusBar .domainText
{
    font-size: var(--smallFont);
    text-align: center;
    color: black;
    font-weight: bold;
    margin: auto;
}
.v4monitor .secondText
{
    margin: auto;
    font-size: 20px;
    text-align: center;
    width: calc(var(--vw) * 60);
    border: solid 1px black;
    border-radius: 5px;
    padding: calc(var(--vw) * 2);
}

@media only screen and (max-width: 950px) {
    .v4monitor h2
    {
        width: calc(var(--vw) * 90);
    }
    .v4monitor .statusRows
    {
        width: calc(var(--vw) * 90);
    }
    .v4monitor .secondText
    {
        width: calc(var(--vw) * 90);
    }
    .v4monitor .statusRows .statusBar .labelText
    {
        font-size: var(--smallFont);
    }
    .v4monitor .statusRows .statusBar .unknownText
    {
        font-size:  calc(var(--vw) * 2.5);
    }
    .v4monitor .statusRows .statusBar .goodText
    {
        font-size: var(--smallFont);
    }
    .v4monitor .statusRows .statusBar .badText
    {
        font-size: var(--smallFont);
    }
    .v4monitor .statusRows .statusBar .domainText
    {
        font-size: calc(var(--vw) * 2);
    }
    .v4monitor .statusRows .statusBar .repsonseTime
    {
        font-size:  calc(var(--vw) * 2);
    }
}