#titleTextHeader {

    text-align: center;
    margin-top: 5vh;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: #6384D2;
    font-size: 4vw;
    display: none;
}

.red {
    background-color: red;
}

.blue {
    background-color: aqua;
}

.green {
    background-color: greenyellow;
}

#topBar {
    position: absolute;
    transform: translate(0, 50%);
    left: -5%;
    width: 105%;
    height: 20vh;
    z-index: 40;
    background-image: url("./assets/images/ui/nav/bar.svg");
    background-repeat: no-repeat;
    transition: top 2s;
}

.topBarOpen {
    top: -11vh;
}

.topBarClosed {
    top: -28vh;
}

#bottomBar {
    position: absolute;
    transform: translate(0, 50%);
    left: -10px;
    width: 105%;
    height: 22vh;
    z-index: 40;
    background-image: url("./assets/images/ui/nav/barBottom.svg");
    background-repeat: no-repeat;
    transition: top 2s;
    overflow: visible;
}

.bottomBarOpen {
    top: -12vh;
}

.bottomBarClosed {
    top: 18vh;
}


#gadgets {
    position: absolute;
    bottom: 20%;
    left: -10px;
    display: grid;
    grid-template-columns: 10px 100px 100px 100px 50px 50px 50px 80px 120px 120px 120px 200px;
    grid-template-rows: 200px;
    grid-gap: 3px;
}

.bbButtons {
    display: grid;
    grid-template-columns: 10px 100px 100px 100px 50px 100px 100px 120px 120px 120px 200px;
    grid-template-rows: 100px;
    grid-gap: 3px;
}

.tbButtons {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px auto auto;
    grid-template-rows: 100px;
}

#vol1 {

    position: absolute;
    top: -33%;
    left: 0%;
    width: 100px;
    height: 35vh;
    display: none;
}

#vol1 #volback {
    width: 70px;
}

#vol1 #well {
    position: absolute;
    top: 50%;
    left: 34%;
    width: 50px;
    height: 100%;
    background-image: url('./assets/images/ui/vol/bluewell.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#vol1 #whitewell {
    position: absolute;
    top: 52%;
    left: 50%;
    width: 100%;
    height: 80%;
    background-image: url('./assets/images/ui/vol/whitewell.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}

#vol1 #volknob1 {
    position: absolute;
    left: 5%;
    top: 65%;
    width: 50px;
    height: 50px;
    background-image: url("./assets/images/ui/nav/slideknob.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#vol1 #btnMute {
    position: absolute;
    top: 103%;
    left: 35%;
    width: 40px;
    height: 40px;
    z-index: 100;
    transform: translate(-50%, -50%);
}

.unmuted {
    background-image: url(./assets/images/ui/buttons/navbuttons2/btnUnmuted.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.muted {
    background-image: url(./assets/images/ui/buttons/navbuttons2/btnMuted.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#vol2 {

    position: absolute;
    top: -33%;
    left: 0%;
    width: 100px;
    height: 35vh;
    display: none;
}

#vol2 #volback {
    width: 70px;
}

#vol2 #well {
    position: absolute;
    top: 58%;
    left: 34%;
    width: 50px;
    height: 100%;
    background-image: url('./assets/images/ui/vol/bluewell.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#vol2 #whitewell2 {
    position: absolute;
    top: 52%;
    left: 50%;
    width: 100%;
    height: 80%;
    background-image: url('./assets/images/ui/vol/whitewell.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}

#vol2 #volknob2 {
    position: absolute;
    left: 5%;
    top: 65%;
    width: 50px;
    height: 50px;
    background-image: url("./assets/images/ui/nav/slideknob.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#btnNavUp {
    position: absolute;
    top: 19vh;
    left: 4%;
    width: 10%;
    height: 30%;
    background-image: url("./assets/images/ui/buttons/navbuttons/navUp.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#btnNavDown {
    position: absolute;
    top: 19vh;
    left: 4%;
    width: 10%;
    height: 30%;
    background-image: url("./assets/images/ui/buttons/navbuttons/navDown.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#btnPlay {
    position: absolute;
    bottom: -6%;
    left: 30px;
    width: 100px;
    height: 140px;
    background-image: url(./assets/images/ui/buttons/navbuttons2/btnPlay.svg);
    background-size: 85% 85%;
    background-repeat: no-repeat
}

.paused {
    background-image: url(./assets/images/ui/buttons/navbuttons2/btnPause.svg) !important;
}

.buttonSelected {
    background-image: url(./assets/images/ui/buttons/navbuttons/btnSelected.svg) !important;
}

#btnNextPage {
    background-image: url(./assets/images/ui/buttons/navbuttons2/btnEnd.svg) !important;
}

#btnNextPage:hover {
    background-image: url(./assets/images/ui/buttons/navbuttons2/btnEndDown.svg) !important;
}

#btnPrevPage {
    background-image: url(./assets/images/ui/buttons/navbuttons2/btnPrev.svg) !important;
}

#btnPrevPage:hover {
    background-image: url(./assets/images/ui/buttons/navbuttons2/btnPrevDown.svg) !important;
}

#btnVolume {
    background-image: url(./assets/images/ui/buttons/navbuttons2/btnSpeech.svg) !important;
}

#btnVolumeMusic {
    background-image: url(./assets/images/ui/buttons/navbuttons2/btnMusic.svg) !important;
}

#btnSpeed {
    background-image: url(./assets/images/ui/buttons/navbuttons2/btnSpeed.svg) !important;
}

.autoToggledOff {
    background-image: url(./assets/images/ui/buttons/navbuttons2/btnAuto.svg) !important;
}

.autoToggledOn {
    background-image: url(./assets/images/ui/buttons/navbuttons2/btnAutoSelected.svg) !important;
}

.listenToggledOn {
    background-image: url(./assets/images/ui/buttons/navbuttons2/btnListenSelected.svg) !important;
}

.listenToggledOff {
    background-image: url(./assets/images/ui/buttons/navbuttons2/btnListen.svg) !important;
}

.btnReadToggledOff {
    background-image: url(./assets/images/ui/buttons/navbuttons2/btnRead.svg) !important;
}

.btnReadToggledOn {
    background-image: url(./assets/images/ui/buttons/navbuttons2/btnReadSelected.svg) !important;
}


#leftHalf {
    position: absolute;
    left: 50%;
    top: 0;
    height: 55%;
    width: 50%;
}

#btnStart {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 20%;
    z-index: 210;
    transform: translate(-50%, -50%);
    display: none !important;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 200;
}

#bb{
    overflow: visible;
}

#bubble {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 51%;
    height: 53%;
    z-index: 210;
    background-image: url("../assets/images/ui/nav/bubble.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
}
#bubbleGrid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px;
    grid-gap: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 300;
}

#btnAutoStart {
    width: 200px;
    height: 200px;
    background-image: url(./assets/images/ui/buttons/navbuttons2/btnAuto.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#btnReadStart {
    width: 200px;
    height: 200px;
    background-image: url(./assets/images/ui/buttons/navbuttons2/btnRead.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#btnListenStart {
    width: 200px;
    height: 200px;
    background-image: url(./assets/images/ui/buttons/navbuttons2/btnListen.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


#highlightSwitch {
    position: absolute;
    top: 38%;
    left: 86%;
}

#highlightLabel{
    position: absolute;
    top: 20%;
    right: 18%;
    font-family:Andika;
    font-size: x-large; 
    color: white;
    text-shadow:2px 2px black;
    text-size-adjust: auto;
}

.toggleSwitch {
    width: 10%;
    height: 3vw;
    background-image: url("./assets/images/ui/nav/switchbar.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}

.toggleSwitchOn {
    width: 10%;
    height: 3vw;
    background-image: url("./assets/images/ui/nav/switchbarOn.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}

.knob {
    position: absolute;
    left: 20%;
    top: 5%;
    width: 3vw;
    height: 3vw;
    background-image: url("./assets/images/ui/nav/slideknob.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#progBar {
    position: absolute;
    top: 60%;
    left: 67%;
    width: 30%;
    height: 4vw;
    background-image: url("./assets/images/ui/nav/slidebar.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}

#progKnob {
    position: absolute;
    top: 10%;
    left: 0;
    width: 4vw;
    height: 4vw;
    background-image: url("./assets/images/ui/nav/slideknob.svg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.smallToggleButton {
    width: 75%;
    height: 75%;
    top: 3vh;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
}

.toggledOn {
    background-image: url(./assets/images/ui/buttons/navbuttons/btnOn.svg);
    background-size: 85% 85%;
    background-repeat: no-repeat;
}

.toggledOff {
    background-image: url(./assets/images/ui/buttons/navbuttons/btnOff.svg);
    background-size: 85% 85%;
    background-repeat: no-repeat;
}

.smallNavButton {
    width: 90%;
    height: 90%;
    top: -2vh;
    left: -56px;
    margin-top: 30px;
    position: relative;
    background-image: url(./assets/images/ui/buttons/navbuttons/btnBlank.svg);
    background-size: 65% 65%;
    background-repeat: no-repeat;
    -webkit-transition : -webkit-filter 500ms linear;
    transition: -webkit-filter 500ms linear;

}
.greyout
{
    filter: grayscale(1);
}


.smallNavButton:hover {
    background-image: url(./assets/images/ui/buttons/navbuttons/btnOver.svg);
}

.smallNavButton .selected {
    background-image: url(./assets/images/ui/buttons/navbuttons/btnOver.svg);
}

.smallNavButton img {
    height: 90%;
    width: 90%;
}


#btnBarClose {
    position: absolute;
    right: -6px;
    top: 20px;
    height: 36%;
    width: 5%;
    text-align: left;
    background-image: url(./assets/images/ui/buttons/navbuttons2/btnClose.svg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 50;
}

#volBar {
    position: absolute;
    top: 46%;
    z-index: 100;
    left: 14.5%;
    width: 25vh;
    height: 50vh;
}

#volBack {
    position: absolute;
    left: 0;
    top: 0;
    width: fit-content;
    height: fit-content;

}

#volWell {
    position: absolute;
    left: 18.5%;
    top: 10%;
    width: max-content;
    height: max-content;
}


.buttonLabel {
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-60%, 0);
    color: white;
    text-align: center;

}

#prevFrame {
    position: absolute;
    bottom: 15%;
    right: 30%;
    width: 10%;
    opacity: .5;
    z-index: 110;
    display: none;
}

#speedBox {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 100%;
    background-image: url("./assets/images/ui/nav/speedBalloon.svg");
    background-size: cover;
    display: none;
}

#speedBox #fastrow {
    position: absolute;
    text-align: center;
    top: 20%;
    left: 50%;
    color: blueviolet;
    font-size: large;
    transform: translate(-50%, 0);
    background-color: transparent;
    width: 90%;
}

#speedBox #fastrow:hover {
    background-color: #DABD82;
}

#speedBox #normalrow {
    position: absolute;
    text-align: center;
    width: 90%;
    top: 40%;
    left: 50%;
    color: blueviolet;
    font-size: large;
    transform: translate(-50%, 0);
    background-color: transparent;
}

#speedBox #normalrow:hover {
    background-color: #DABD82;
}

#speedBox #slowrow {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 90%;
    color: blueviolet;
    font-size: large;
    transform: translate(-50%, 0);
    background-color: transparent;
}

#speedBox #slowrow:hover {
    background-color: #DABD82;
}

/*Styles for navigation bar*/

.pageSliderNav{
    width: 80%;
    top: 2vh;
    margin: 8px auto;
    position:relative;
}

#progressSlider{
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    outline: none;
    border-radius: 3px;
}

#progressSlider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index:3;
    position: relative;
}

#selector{
    height: 64px;
    width: 30px;
    position: absolute;
    bottom: -20px;
    left: 0%;
    transform: translate(-50%);
    z-index: 2;
    
}

.SelectBtn{
    height:48px;
    width: 48px;
    background-image: url('./assets/images/ui/nav/slideknob.svg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position:absolute;
    bottom: 0;
}

#selectionPreview{
    width: 44px;
    height: 40px;
    position: absolute;
    top: -30px;
    background:#5788C4;
    border-radius: 4px;
    text-align: center;
    color:white;
    line-height: 45px;
    font-size: 20px;
    font-weight: bold;
}

#selectionPreview::after{
    content:'';
    border-top:17px solid #5788C4;
    border-left: 22px solid #00000000;
    border-right: 22px solid #00000000;
    position: absolute;
    bottom: -14px;
    left: 0;
}

#progressBar{
    width: 0%;
    height: 10px;
    background:#5788C4;
    border-radius: 3px;
    position: absolute;
    top: 6px;
    left: 0;
}

.sectionMarks{
    height: 14px;
    width: 7px;
   background-color: #598CC9;
    border-radius: 50%;
    float: left;
    top: -18.5px;
    z-index: 1;
}
/*End of navigation bar styles*/

@media only screen and (min-width:1000) and (max-width:1220px)  {
    .bottomBarOpen {
        top: -5%;

    }

    .buttonLabel {
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translate(-60%, 0);
        color: white;
        font-size: 2vh;
        /* margin-top: 55%; */
        text-align: center;
    }

    #btnNavUp {
        position: absolute;
        top: 15vh;
        left: 4%;
        width: 10%;
        height: 30%;
        background-image: url("./assets/images/ui/buttons/navbuttons/navUp.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    #btnNavDown {
        position: absolute;
        top: 15vh;
        left: 4%;
        width: 10%;
        height: 30%;
        background-image: url("./assets/images/ui/buttons/navbuttons/navDown.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-height:500px) {
    #btnPlay {

        bottom: -3% !important;
    }
}

@media only screen and (max-device-width: 1000px) {
    .buttonLabel {
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-60%, 0);
        color: white;
        font-size: 2vh;
        /* margin-top: 55%; */
        text-align: center;
    }
    
   

    .bbButtons {
        display: grid;
        grid-template-columns: 10px 75px 75px 75px 35px 75px 75px 60px 60px 60px 100px;
        grid-template-rows: 100px;
        grid-gap: 3px;
    }

    .tbButtons {
        display: grid;
        grid-template-columns: 75px 75px 75px 75px 75px auto auto;
        grid-template-rows: 100px;
    }

    #btnPlay {
        position: absolute;
        bottom: 0%;
        left: 75px;
        width: 75px;
        height: 100px;
        background-image: url(./assets/images/ui/buttons/navbuttons2/btnPlay.svg);
        background-size: 85% 85%;
        background-repeat: no-repeat;
    }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) and (max-device-width: 667px) {
/* Styles */
#btnPlay {
    bottom: -7% !important;
}
.topBarClosed {
    top: -30vh;
}
#btnNavDown {
    
    top: 19vh;
    z-index: 50;
}
#btnNavUp {
    
    top: 19vh;
    z-index: 49;
}
#btnSpeed {
    top: 1.5vh;
    width: 100%;
    background-image: url(./assets/images/ui/buttons/navbuttons2/btnSpeed.svg) !important;
    height: 100%;
}
#gadgets {
    grid-template-columns: 10px 90px 50px 50px 50px 50px 50px 50px 120px;
    grid-template-rows: 200px;
    grid-gap: 3px;
}
#vol1 {
    position: absolute;
    top: -38%;
    left: 17%;
    width: 100px;
    height: 64vh;
    display: none;
}
#vol1 #well {    
    height: 92%; 
}
#vol2 {
    position: absolute;
    top: -36%;
    left: -41%;
    width: 100px;
    height: 64vh;
    display: none;
}
#vol2 #well {
    position: absolute;
    top: 60%;
    left: 34%;
    width: 50px;
    height: 97%;
    background-image: url('./assets/images/ui/vol/bluewell.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    z-index: 100;
}
#speedBox {
    right: 21px;
    position: absolute;
    top: 16%;
    width: 100%;
    height: 100%;
    background-image: url("./assets/images/ui/nav/speedBalloon.svg");
    background-size: cover;
    display: none;
}
#highlightSwitch {
    position: absolute;
    left: 87%;
}
#btnAuto
{
    width: 85%;
    height: 85%;
}
}
@media only screen 
and (min-device-width : 915) and (max-device-width: 999px) {
    #gadgets {
        grid-template-columns: 10px 90px 50px 50px 50px 50px 50px 50px 120px;
        grid-template-rows: 200px;
        grid-gap: 3px;
    } 
    .topBarClosed {
        top: -30vh;
    }
    #btnNavDown
    {
        top:19vh;
        z-index: 51;
    }
    #btnNavUp
    {
        top:19vh;
        z-index: 50;
    }
}
@media only screen 
and (min-width : 668px) and (max-device-width: 896px) {

    .topBarClosed {
        top: -30vh;
    }
    #btnNavDown
    {
        top:19vh;
        z-index: 51;
    }
    #btnNavUp
    {
        top:19vh;
        z-index: 50;
    }
    #btnSpeed {
        top: 1.5vh;
        width: 100%;
        background-image: url(./assets/images/ui/buttons/navbuttons2/btnSpeed.svg) !important;
        height: 100%;
    }
    #gadgets {
        grid-template-columns: 10px 90px 50px 50px 50px 50px 50px 50px 120px;
        grid-template-rows: 200px;
        grid-gap: 3px;
    }
    
#vol1 {
    position: absolute;
    top: -38%;
    left: 17%;
    width: 100px;
    height: 60vh;
    display: none;
}
#vol1 #well {    
    height: 92%; 
}
#vol2 {
    position: absolute;
    top: -36%;
    left: -41%;
    width: 104px;
    height: 59vh;
    display: none;
}
#vol2 #well {
    position: absolute;
    top: 60%;
    left: 34%;
    width: 50px;
    height: 97%;
    background-image: url('./assets/images/ui/vol/bluewell.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    z-index: 100;
}
#speedBox {
    right: 21px;
    position: absolute;
    top: 16%;
    width: 100%;
    height: 100%;
    background-image: url("./assets/images/ui/nav/speedBalloon.svg");
    background-size: cover;
    display: none;
}
#highlightSwitch {
    position: absolute;
    top: 45%;
    left: 87%;
}
#btnAuto
{
    width: 85%;
    height: 85%;
}
#btnPlay
{
    bottom: -6% !important;
}
}


/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}



/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}