/*
TTHQ STYLE
by seang@teachingtextbooks.com
version 0.8
*/
/* Fonts */
@font-face {
  font-family: 'Barto';
  src: url('fonts/Barto.woff2') format('woff2'),
	url('fonts/Barto.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BartoChub';
  src: url('fonts/BartoChub.woff2') format('woff2'),
	url('fonts/BartoChub.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BartoFat';
  src: url('fonts/BartoFat.woff2') format('woff2'),
	url('fonts/BartoFat.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Fonto';
  src: url('fonts/MonoFonto.woff2') format('woff2'),
	url('fonts/MonoFonto.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* html and body styles */
html {
	min-height: 100%;
	background-color: #698C9F;
	background-image: url("png/lighting.png"), url("jpg/cubepattern_blu.jpg");
	background-repeat: no-repeat, repeat;
	background-size: cover, 50px auto;
	background-position: center;
}
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000000;
}
body {
	min-width: 520px;
	min-height: 100%;
}
/* General styles */
div, form, section, article, figure, header, footer, 
h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl, dt, dd {
	margin: 0;
	padding: 0;
}
a, a:link, a:visited {
	color: hsl(215, 70%, 40%);
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
img, a img {
	border: none;
}
mark {
	background-color: hsl(200, 90%, 92%);
}
/* Form element styles */
form p {
	margin: 5px 0;
}
input, select {
	padding: 0px 5px;
	min-width: 80px;
	background-color: #FFFFFF;
	border: 2px solid #AAA;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color: #000000;
}
input.fw {width: 100%;}
input.fw1c {width: calc(100% - 100px);}
input.fw2c {width: calc(100% - 200px);}
textarea {
	padding: 0px 5px;
	width: calc(100% - 100px);
	min-width: 80px;
	background-color: #FFFFFF;
	border: 2px solid #AAA;
	font-family: monospace;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color: #000000;
}
/* Button styles */
button, input[type='submit'] {
	padding: 0px 15px;
	min-width: 80px;
	background-color: hsl(200, 30%, 70%);
	border: none;
	border-radius: 16px;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	color: #000000;
	cursor: pointer;
}
button:hover, input[type='submit']:hover {
	background-color: hsl(45, 50%, 60%);
}
button:disabled, button:hover:disabled,
input[type='submit']:disabled, input[type='submit']:hover:disabled {
	background-color: #C5D5DD;
	opacity: 0.4;
	cursor: default;
}
/* Header styles */
header {
	position: absolute;
	float: left;
	padding: 30px 15px 0 0;
	width: 20%;
	min-width: 200px;
	max-width: 300px;
	min-height: calc(100% - 30px);
	background-color: rgba(0,0,0,20%);
	color: #FFFFFF;
	text-align: right;
}
header .homebtn {
	position: relative;
	display: inline-block;
	width: 160px;
	height: 80px;
	border: none;
	background-color: rgba(255,255,255,0%);
	background-image: url("svg/tthq_logo_sprite.svg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	color: rgba(255,255,255,0%);
	cursor: pointer;
}
header .homebtn:hover {
	background-position: center top;
}
header .homebtn:active {
	background-position: center bottom;
}
header > article {
	margin-left: calc(100% - 160px);
	margin-right: 0px;
	padding: 20px 0;
	border-bottom: 2px solid #FFFFFF;
	font-size: 14px;
	text-align: center;
}
header > article:first-of-type {
	margin-top: 20px;
	border-top: 2px solid #FFFFFF;
}
header > article p {
	margin-top: 6px;
}
header > article button {
	font-size: 16px;
}
main {
	margin-left: 330px;
	margin-right: 3%;
	padding-top: 20px;
	min-height: 200px;
	max-width: 1600px;
}
@media(max-width: 1300px) {
	main {margin-left: calc(22% + 40px);}
}
main > nav, nav.crum {
	margin: 15px 0;
	padding: 5px 30px;
	background-color: rgba(0,0,0,20%);
	font-family: Barto;
	font-size: 30px;
	color: hsl(200, 5%, 75%);
}
nav.crum {
	white-space: nowrap;
}
nav.crum.c1 {font-size: 45px;}
nav.crum.c2 {font-size: 40px;}
nav.crum.c3 {font-size: 35px;}
nav.crum.c4 {font-size: 30px;}
nav.crum a, nav.crum a:link, nav.crum a:visited {
	color: hsl(200, 5%, 75%);
	font-weight: normal;
}
nav.crum a:hover {
	color: hsl(45, 50%, 75%);
	text-decoration: none;
}
nav.crum > span {
	color: #FFFFFF;
}
.navsprite {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-size: cover;
	background-position: center center;
	vertical-align: -15%;
}
.navsprite.ad {background-image: url("svg/navsprite_ad.svg");}
.navsprite.admin {background-image: url("svg/navsprite_f5.svg");}
.navsprite.cs {background-image: url("svg/navsprite_cs.svg");}
.navsprite.dv {background-image: url("svg/navsprite_dv.svg");}
.navsprite.expert {background-image: url("svg/navsprite_f3.svg");}
.navsprite.g {background-image: url("svg/navsprite_g.svg");}
.navsprite.hr {background-image: url("svg/navsprite_hr.svg");}
.navsprite.mg {background-image: url("svg/navsprite_mg.svg");}
.navsprite.pr {background-image: url("svg/navsprite_pr.svg");}
.navsprite.su {background-image: url("svg/navsprite_f6.svg");}
.navsprite.tu {background-image: url("svg/navsprite_tu.svg");}
.navsprite:hover {
	background-position: center top;
}
.navsprite:active {
	background-position: center bottom;
}
.navsprite b {
	display: none;
}
.crum.c1 .navsprite {width: 50px; height: 50px;}
.crum.c2 .navsprite {width: 45px; height: 45px;}
.crum.c3 .navsprite {width: 40px; height: 40px;}
.crum.c4 .navsprite {width: 35px; height: 35px;}


main section {
	margin: 15px 0;
	padding: 20px 40px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0 0 24px 0px #000000;
}
/* bignav and intro styles */
section.bignav, section.intro, section.picsec {
	padding-left: 130px;
	min-height: 100px;
	background-repeat: no-repeat;
	background-position: 20px 20px;
}
section.bignav.ad, section.intro.ad, section.picsec.ad {
	background-image: url("svg/ikon_ad.svg");
}
section.bignav.cnstrx, section.intro.cnstrx, section.picsec.cnstrx {
	background-image: url("svg/ikon_cnstrx.svg");
}
section.bignav.cs, section.intro.cs, section.picsec.cs {
	background-image: url("svg/ikon_cs.svg");
}
section.bignav.cxem, section.intro.cxem, section.picsec.cxem {
	background-image: url("svg/ikon_cxem.svg");
}
section.bignav.dv, section.intro.dv, section.picsec.dv {
	background-image: url("svg/ikon_dv.svg");
}
section.bignav.f3, section.intro.f3, section.picsec.f3 {
	background-image: url("svg/ikon_f3.svg");
}
section.bignav.f5, section.intro.f5, section.picsec.f5 {
	background-image: url("svg/ikon_f5.svg");
}
section.bignav.f6, section.intro.f6, section.picsec.f6 {
	background-image: url("svg/ikon_f6.svg");
}
section.bignav.g, section.intro.g, section.picsec.g {
	background-image: url("svg/ikon_g.svg");
}
section.bignav.hr, section.intro.hr, section.picsec.hr {
	background-image: url("svg/ikon_hr.svg");
}
section.bignav.mg, section.intro.mg, section.picsec.mg {
	background-image: url("svg/ikon_mg.svg");
}
section.bignav.pr, section.intro.pr, section.picsec.pr {
	background-image: url("svg/ikon_pr.svg");
}
section.bignav.tu, section.intro.tu, section.picsec.tu {
	background-image: url("svg/ikon_tu.svg");
}
section.bignav.txsub, section.intro.txsub, section.picsec.txsub {
	background-image: url("svg/ikon_txsub.svg");
}
section.bignav.upload, section.intro.upload, section.picsec.upload {
	background-image: url("svg/ikon_upload.svg");
}
section.bignav {
	cursor: pointer;
}
section.bignav:hover {
	background-color: hsl(45, 100%, 90%);
}
section.bignav * {
	pointer-events: none;
}
section.intro {
	background-color: hsla(200, 30%, 90%, 60%);
	border-bottom: 6px double hsl(200, 25%, 100%);
	border-radius: 20px 20px 0 0;
}
section.intro h2 {
	font-family: Barto;
	font-weight: normal;
	font-size: 40px;
}
section.intro p {
	font-weight: bold;
}
/* "sub" color-coded slugs */
figure.sub.mini {
	display: inline-block;
	width: 22px;
	height: 22px;
	background-color: hsl(200, 35%, 35%);
	border: 2px solid hsl(200, 35%, 65%);
	font-family: Fonto, Impact;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	color: hsl(45, 90%, 70%);
}
figure.sub.mini.ft {
	background-color: hsl(140, 30%, 45%);
	border-color: hsl(140, 30%, 70%);
}
figure.sub.mini.p {
	border-color: hsl(20, 80%, 60%);
}
figure.sub.mini.w {
	background-color: hsl(200, 50%, 70%);
	border-color: hsl(200, 35%, 80%);
	color: hsl(45, 90%, 90%);
}
figure.sub.mini.c {
	background-color: hsl(140, 0%, 70%);
	background: linear-gradient(
		45deg,
		hsl(140, 0%, 70%) 46%,
		hsl(140, 0%, 60%) 46%,
		hsl(140, 0%, 60%) 54%,
		hsl(140, 0%, 70%) 54%
	);
	border-color: hsl(140, 0%, 60%);
	color: hsl(45, 20%, 90%);
}
figure.sub.mini.x {
	background-color: hsl(200, 60%, 30%);
	border-color: hsl(45, 35%, 65%);
	border-style: outset;
	color: hsl(45, 50%, 75%);
}
/* Table cell right alignment */
td, th {text-align: left;}
.tr1 td:nth-child(1), .tr1 th:nth-child(1),
.tr2 td:nth-child(2), .tr2 th:nth-child(2),
.tr3 td:nth-child(3), .tr3 th:nth-child(3),
.tr4 td:nth-child(4), .tr4 th:nth-child(4),
.tr5 td:nth-child(5), .tr5 th:nth-child(5),
.tr6 td:nth-child(6), .tr6 th:nth-child(6),
.tr7 td:nth-child(7), .tr7 th:nth-child(7),
.tr8 td:nth-child(8), .tr8 th:nth-child(8),
.tr9 td:nth-child(9), .tr9 th:nth-child(9) {
	text-align: right;
}
td.sm {
	font-size: 0.8em;
}
/* DropZone styles */
.dropzone.on {background-color: hsl(45, 76%, 59%);}
.dropzone .cold {display: block;}
.dropzone .hot {display: none;}
.dropzone.on .cold {display: none;}
.dropzone.on .hot {display: block;}
/* ApiForm styles */
section.apiform p, section.f p, p.f {margin-top: 4px;}
section.apiform > div.initial, section.apiform > div.wait,
section.apiform > div.failure, section.apiform > div.success {display: none;}
section.apiform.initial > div.initial {display: block;}
section.apiform.wait > div.wait {display: block;}
section.apiform.failure > div.failure {display: block;}
section.apiform.success > div.success {display: block;}
/* data table with theads on the left column */
table.lhd {
	font-size: 14px;
}
table.lhd > tbody > tr > th, table.lhd > tbody > tr > td {
	padding: 2px 5px;
}
table.lhd > tbody > tr > th {
	text-align: right;
}
.fine {
	font-size: 12px;
	color: #999999;
}
/* OverPage and OverMessage styles */
.xbtn span {
	display: inline-block;
	width: 60px;
	height: 60px;
	background-image: url('svg/xbtn_sprite.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	vertical-align: middle;
	cursor: pointer;	
}
.xbtn span:hover {
	background-position: center top;
}

.overpage, .overmsg {
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 200;
	display: none;
	width: 100%;
	height: 100%;
	opacity: 1;
	text-align: center;
}
.overmsg {
	z-index: 400;
}
.overpage.on, .overmsg.on {
	display: block;
}
.overpage .fullheight, .overmsg .fullheight {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.overpage .overshroud, .overmsg .overshroud {
	position:absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}
.overmsg .overshroud {
	background-color: rgba(0, 0, 0, 0);
}
.overpage .overblock, .overmsg .overblock {
	position: relative;
	z-index: 100;
	display: inline-block;
	padding: 0 30px;
	width: calc(100% - 80px);
	height: auto;
	min-width: 250px;
	min-height: 150px;
	max-width: 900px;
	max-height: 100%;
	vertical-align: middle;
	background-color: none;
	text-align: left;
}
.overmsg .overblock {
	z-index: 300;
	width: calc(100% - 100px);
}
.overpage .overblock .xbtn {
	height: 60px;
	text-align: right;
}
.overpage .overblock .content,
.overmsg .overblock .content {
	display: none;
	margin: -30px auto 0 auto;
	padding: 20px 20px;
	width: calc(100% - 100px);
	background-color: #FFFFFF;
	border-radius: 10px;
}
.overmsg .overblock .content {
	padding-bottom: 16px;
	border: 3px solid #000000;
	box-shadow: 0px 6px 4px 8px rgba(0, 0, 0, 0.3);
}
.overpage .overblock .content.on,
.overmsg .overblock .content.on {
	display: block;
}
.overpage .overblock .content h2,
.overmsg .overblock .content h2 {
	margin-bottom: 8px;
	font-size: 28px;
	line-height: 1;
}
.overmsg p {
	margin: 15px 0;
}
/* Legacy table styles */
table.legacy th, table.legacy td {padding: 5px 10px;}
table.legacy th {text-align: left;}
/* Tabulous styles */
.tabulous table {
	margin: 10px 0;
	border-collapse: collapse;
	border: 1px solid black;
	background-color: #FFFFFF;
}
.tabulous thead {
	background-color: hsl(200, 20%, 50%);
	color: #FFFFFF;
}
.tabulous tbody tr:nth-child(even){
	background-color: hsl(200, 30%, 95%);
}
.tabulous th, .tabulous td {
	padding: 2px 8px;
	border: 1px solid #CCCCCC;
}
.tabulous > table > thead > tr > th:last-child {
	padding-right: 25px;
}
.tabulous > table > tbody > tr > td {
	margin: 0;
	padding: 0;
}
.overpage .tabulous > table > tbody > tr > td {
	padding: 2px 8px;
}
.tabulous tbody div {
	margin: 0;
	padding: 0;
	max-height: 307px;
	width: 100%;
	overflow-y: scroll;
}
.tabulous tbody div table {
	margin: 0;
}
.tabulous table button {
	margin-top: 2px;
	min-width: 20px;
	font-size: 16px;
}
.tabulous table caption {
	display: none;
}
.tabulous table.loading caption {
	display: table-caption;
	padding: 5px 20px;
	min-width: 80px;
	background-color: #666666;
	color: white;
}
/* Single-property styles */
.displaynone, .pagedata {display: none !important;}
.vizhid {visibility: hidden !important;}
.skinnyonly {display: none !important;}
.floatright {float: right !important;}
.clearboth {clear: both !important;}
.cj {text-align: center !important;}
.lj {text-align: left !important;}
.rj {text-align: right !important;}
::placeholder {color: #999999 !important;}
option:disabled {color: #999999 !important;}
