/*
TTHQ LOGIN
by seang@teachingtextbooks.com
version 0.2
*/
html, body {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	position: relative;
}
header {
	position: absolute;
	float: none;
	top: 50%;
	left: 50%;
	padding: 0;
	transform: translate(-52%, -100%);
	width: 500px;
	max-width: 500px;
	height: 250px;
	min-height: 0;
	background: none;
	text-align: center;
}
h1 {
	font-size: 160px;
	color: hsl(45, 50%, 75%);
	text-align: center;
}
form, section {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-52%, 0%);
	padding: 20px 40px;
	width: 420px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0 0 24px 0px #000000;
}
form p, section p {
	margin: 5px 0;
}

form.login, section.forgotpw {display: none;}
body.login form.login {display: block;}
body.forgotpw section.forgotpw {display: block;}

@media(max-width: 550px) {
	body {scale: 85%;}
}
