/*
TTHQ SKINNY
by seang@teachingtextbooks.com
version 0.2
*/
@media(max-width: 820px) {
	html, body {
		font-size: 14px;
	}
	form p {
		margin: 4px 0;
	}
	input {
		font-size: 16px;
	}
	textarea {
		font-size: 16px;
	}
	button, input[type='submit'] {
		font-size: 20px;
	}
	header {
		position: static;
		float: none;
		padding: 15px;
		width: auto;
		max-width: none;
		min-height: none;
		text-align: left;
	}
	header > p {
		display: inline-block;
		width: 130px;
	}
	header .homebtn {
		position: static;
		width: 130px;
		height: 65px;
		font-size: 40px;
	}
	header > article, header > article:first-of-type {
		display: inline-block;
		margin-top: 0;
		margin-left: 0;
		padding: 0;
		height: 40px;
		width: calc(100% - 200px);
		max-width: 400px;
		border-top: none;
		border-bottom: none;
		column-count: 2;
		font-size: 12px;
		text-align: center;
	}
	header > article p {
		margin-top: 4px;
	}
	header > article button {
		font-size: 14px;
	}
	main {
		margin-left: 2%;
		margin-right: 2%;
		padding-top: 10px;
	}
	main > nav, nav.crum {
		font-size: 25px;
	}

	nav.crum.c1 {font-size: 40px;}
	nav.crum.c2 {font-size: 35px;}
	nav.crum.c3 {font-size: 30px;}
	nav.crum.c4 {font-size: 25px;}
	.navsprite {
		width: 30px;
		height: 30px;
	}
	.crum.c1 .navsprite {width: 45px; height: 45px;}
	.crum.c2 .navsprite {width: 40px; height: 40px;}
	.crum.c3 .navsprite {width: 35px; height: 35px;}
	.crum.c4 .navsprite {width: 30px; height: 30px;}

	main section {
		margin: 15px 0;
		padding: 20px 40px;
		min-width: 200px;
		max-width: 100%;
		border-radius: 20px;
		background-color: white;
		box-shadow: 0 0 12px 0px #000000;
	}
	section.bignav, section.intro {
		padding-left: 100px;
		min-height: 60px;
		max-width: 100%;
		background-position: 20px 20px;
		background-size: 65px;
	}
	.skinnyonly {display: initial !important;}
	.wideonly {display: none !important;}
}
@media(max-width: 450px) {
	html, body {
		font-size: 12px;
	}
	body {
		min-width: 250px;
		max-width: 450px;
	}
	form p {
		margin: 3px 0;
	}
	input {
		font-size: 14px;
	}
	textarea {
		font-size: 14px;
	}
	button, input[type='submit'] {
		font-size: 16px;
	}
	header {
		position: relative;
		padding: 8px;
		height: 100px;
		width: calc(100%);
	}
	header > p {
		width: 120px;
	}
	header .homebtn {
		width: 120px;
		height: 60px;
		font-size: 24px;
	}
	header > article, header > article:first-of-type {
		position: absolute;
		top: 1px;
		left: 1px;
		display: block;
		margin-top: 0;
		margin-left: 150px;
		padding: 0;
		height: 90px;
		width: 200px;
		border-top: none;
		border-bottom: none;
		column-count: 1;
		font-size: 12px;
		text-align: center;
	}
	header > article p {
		margin-top: 4px;
	}
	header > article button {
		font-size: 12px;
	}
	main {
		margin-left: 1%;
		margin-right: 1%;
		padding-top: 6px;
		max-width: 100%;
	}
	main > nav, nav.crum {
		font-size: 20px;
	}

	nav.crum.c1 {font-size: 35px;}
	nav.crum.c2 {font-size: 30px;}
	nav.crum.c3 {font-size: 25px;}
	nav.crum.c4 {font-size: 20px;}
	.navsprite {
		width: 25px;
		height: 25px;
	}
	.crum.c1 .navsprite {width: 40px; height: 40px;}
	.crum.c2 .navsprite {width: 35px; height: 35px;}
	.crum.c3 .navsprite {width: 30px; height: 30px;}
	.crum.c4 .navsprite {width: 25px; height: 25px;}

	main section {
		margin: 10px 0;
		padding: 15px 25px;
		min-width: 100px;
		border-radius: 10px;
	}
	section.bignav, section.intro {
		padding-left: 90px;
		min-height: 50px;
		background-position: 15px 15px;
		background-size: 60px;
	}
}