h1 {
  color: white;
  background-color: black;
}
#wrongIcon
{
  position: absolute;
  top:10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-image: url("uhoh.svg");
  background-repeat: no-repeat;
  background-size: contain;
	background-position: center;
  display: none;
}
#rightIcon
{
  position: absolute;
  top:10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-image: url("right.svg");
  background-repeat: no-repeat;
  background-size: contain;
	background-position: center;
  display: none;
}
.strike
{
  text-decoration:line-through;
}
#char
{
  position: absolute;
  top:0%;
  pointer-events: none;
  touch-action: none;
}
.full
{
  width: 100vw;
  height: 99%;
}
#gridLines
{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  left: 0; 
}
.uiWindow
{
  height: 100%;
  width: 100%;
}
.draggable {
  cursor: pointer;
}
.boxText
{
  font-size: 11vh;
  color:black;
  dominant-baseline:middle;
  text-anchor:middle;
  touch-action: none;
  pointer-events: none;
}
#instructions
{
  font-size: 3vh;
  position: absolute;
  top:20%;
  left: 10%;
}
#instText
{
  width: 80%;
  word-wrap:break-word;
}
.shadow {
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  /* Similar syntax to box-shadow */
}

#addArea
{
  position: absolute;
  top:0;
  left:0;
}
