.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gear-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 5s linear infinite;
}

.gear {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 10px solid #000000;
    box-shadow: inset 0px 0px 0px 3px #000000;
}

.gear:before,
.gear:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 60px;
    background-color: #000000;
    transform-origin: 50% 100%;
    border-radius: 5px;
}

.gear:before {
    transform: rotate(45deg);
}

.gear:after {
    transform: rotate(-45deg);
}

.gear1 {
    top: 0;
    left: 0;
    animation: gear-rotate 5s linear infinite;
}

.gear2 {
    top: 0;
    right: 0;
    animation: gear-rotate-reverse 5s linear infinite;
}

.gear3 {
    bottom: 0;
    left: 0;
    animation: gear-rotate-reverse 5s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes gear-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes gear-rotate-reverse {
    100% {
        transform: rotate(-360deg);
    }
}