.full
{
    width:calc(var(--vw) * 100);
    height:var(--bodyheight);
}
.fullLine
  {
    position: absolute;
    width: 100%;
    height: 100vh;
  }
  .abPos
  {
    position: absolute;
    pointer-events: all;
  }