
/* CSS for 5.0 Math apps */
@import "https://font.teachingtextbooksapp.com/Barto/Barto.css";
@import "https://font.teachingtextbooksapp.com/Andika/Andika.css";
header, p, h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0;}
html {
	--shadow: #0006;
	--vw: 1vw;
	--px: calc(var(--vw) / 9.6);
	--bigfont: calc(var(--px) * 3);
	--medfont: calc(var(--px) * 2);
	--smallfont: calc(var(--px) * 1.8);
	--tinyfont: calc(var(--px) * 1.1);
	--inputfont: calc(var(--px) * 2);
	--textareafont: calc(var(--px)*2);
	--buttonfont: calc(var(--px) * 2.5);
	--smallScreen: 500px;
	--bodyheight: 100vh;
	--medfont2: calc(var(--px) * 2);
}
html {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: hwb(220 35% 65%);
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG00000d.png");
	background-size: calc(var(--vw) * 25) auto;
	background-position: center;
	font-family: var(--andika);
	color: black;
	overflow: hidden;
}
body {
	position: relative;
	margin: 0;
	padding: 0;
	width: calc(var(--vw) * 100);
	height: var(--bodyheight);

	background-color: hwb(196 38% 10%);
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG00000e.jpg");
	background-size: 28%;
	background-repeat: repeat;
	background-position: 26% 7%;
}

.bigText
{
	font-size: calc(var(--px) * 30);
}
@media (min-aspect-ratio: 96/55) {
	/* recalculate the value of --vw if window gets wider than the app */
	html {
		--vw: calc(1vh * 96 / 55);
	}
}