.bubbleGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
    grid-gap: calc(var(--vw)*2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 300;
    list-style: none;    
}
.bubbleGrid li
{
    width: calc(var(--vw)*20);
    height: calc(var(--vw)*20);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: all;
}
/** 1st child */
.bubbleGrid li:nth-child(1)
{
    background-image: url(../assets/images/ui/buttons/navbuttons2/btnAuto.svg);
}
/** 2nd child */
.bubbleGrid li:nth-child(2)
{
    background-image: url(../assets/images/ui/buttons/navbuttons2/btnListen.svg);
}
/** 3rd child */
.bubbleGrid li:nth-child(3)
{
    background-image: url(../assets/images/ui/buttons/navbuttons2/btnRead.svg);    
}
