.html
{
	--scrollbarWidth: calc(var(--vw) * 2);
}
/* Wallpaper Book background */
body.wallpaperbook {
	background-color: hwb(196 38% 10%);
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG000015.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.wallpaperbook header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: calc(var(--px) * 11) calc(var(--vw) * 10) 0 calc(var(--vw) * 4);
}
.wallpaperbook header button {
	margin-top: calc(var(--px) * 12);
}
.wallpaperbook header nav {
	display: inline-block;
	padding-top: calc(var(--px) * 22.5);
	width: calc(var(--px) * 274);
	height: calc(var(--px) * 48);
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG000017.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	background-position: center;
	font-family: var(--barto);
	font-size: calc(var(--px) * 30);
	line-height: 0.6;
	color: #0006;
	text-align: center;
	cursor: pointer;
}
.wallpaperbook header nav.twoline {
	padding-top: calc(var(--px) * 14.5);
	height: calc(var(--px) * 56);
}
.wallpaperbook header nav.on {
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG000016.png");
	color: #000C;
}
.wallpaperbook header nav small {
	font-size: calc(var(--px) * 20);
}
.wallpaperbook main {
	padding: 0 calc(var(--vw) * 6);
}
.wallpaperbook article {
	padding: 0 calc(var(--vw) * 2);
	margin: 0 0 var(--vw) 0;
	font-family: var(--barto);
	font-size: calc(var(--px) * 14);
}
.wpscrollgroup
{
	display: grid;
	grid-template-columns: 1fr var(--scrollbarWidth);
	
}
/* The frame for showing a wallpaper thumbnail */
.wpthumbnails
{ 
	height: calc(var(--vw) * 36);	
	overflow-y: hidden;
}
.wpthumbnails figure {
	--burst: none;
	--frame: url("https://ttv5.s3.amazonaws.com/img/bg/BG000018.png");
	--thumb: url("https://ttv5.s3.amazonaws.com/img/bg/BG000019.jpg");
	display: inline-block;
	margin: 0 0 var(--vw) 0;
	padding: calc(var(--vw) * 1.41667) 0 0 0;
	width: calc(var(--vw) * 17);
	height: calc(var(--vw) * 17);
	background-image: var(--burst), var(--frame), var(--thumb);
	background-size: calc(var(--px) * 40) auto, 100% auto, calc(100% * 5 / 6) auto;
	background-position: 0% 21%, 50% 0%,  52% 67%;
	background-repeat: no-repeat;
	cursor: pointer;
}
/* Put a NEW burst on new thumbnails */
.wpthumbnails figure.new {
	--burst: url("https://ttv5.s3.amazonaws.com/img/ik/IK00001b.svg");
}
/* Put a border around the “on” thumbnail */
.wpthumbnails figure.on {
	--frame: url("https://ttv5.s3.amazonaws.com/img/bg/BG00001c.png");
}
/* Ignore mouseover if on, or locked */
.wpthumbnails figure.on, .wpthumbnails figure.locked {
	pointer-events: none;
	cursor: default;
}
/* Show highlighted frame on hover */
.wpthumbnails figure:hover {
	--frame: url("https://ttv5.s3.amazonaws.com/img/bg/BG00001a.png");
}
.wpthumbnails figure figcaption {
	height: calc(var(--vw) * 2);
	font-family: var(--barto);
	font-size: calc(var(--px) * 20);
	line-height: 0.8;
	text-align: center;
	overflow: hidden;
}