/* The TOC menu */
.ebook.toc main>menu {
	list-style: none;
	column-count: 2;
	column-fill: balance;
	column-gap: 3%;
	margin: 0;
	padding: 0;
	font-family: var(--barto);
}

.ebook.toc main>menu>li {
	display: grid;
	grid-template-columns: calc(var(--vw) * 4) auto calc(var(--vw) * 4);
	gap: calc(var(--px) * 6);
	padding-top: calc(var(--px) * 12);
	padding-right: calc(var(--px) * 12);
	padding-bottom: calc(var(--px) * 15);
	padding-left: calc(var(--px) * 18);
	width: 100%;
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG000032.png");
	background-size: 100% 100%;
}

.ebook.toc main>menu>li>p {
	display: flex;
	flex-direction: column;
	width: calc(var(--vw) * 3.5);
	height: calc(var(--vw) * 3);
	border: calc(var(--px) * 2) solid white;
	border-radius: calc(var(--px) * 7);
	background-color: #F26522;
	line-height: 0.8;
	text-align: center;
	box-shadow: calc(var(--px) * 2.5) calc(var(--px) * 2.5) #0007;
}


.ebook.toc main>menu>li>p:nth-of-type(even) {
	background-color: #FCC000;
}

.ebook.toc main>menu>li>p>small {
	font-size: calc(var(--px) * 10.5);
	padding-top: calc(var(--px) * 2.5);
}

.ebook.toc main>menu>li>p>b {
	font-size: calc(var(--px) * 20);
	font-weight: normal;
}

.ebook.toc main>menu>li>h3 {
	padding-top: calc(var(--px) * 3);
	font-size: calc(var(--px) * 22);
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ebook.toc main>menu>li>p:empty {
	visibility: hidden;
}

button.disabled {
	visibility: hidden;
}