.ebook.indexes main>menu {
	background-color: white;
	list-style: none;
	column-count: 3;
	column-fill: balance;
	column-gap: 3%;
	margin-top: 2%;
	margin-left: 3%;
	padding: 0;
	font-family: var(--barto);
	height: 80%;
	overflow: hidden;
}

.ebook.indexes main>menu>li {
	display: grid;
	grid-template-columns: calc(var(--vw) * 8) calc(var(--vw) * 8);
	gap: calc(var(--px) * 6);
	font-size: calc(var(--px) * 20);
	font-weight: 500;
	justify-content: space-between;
	padding-top: calc(var(--px) * 3);
	padding-right: calc(var(--px) * 12);
	padding-bottom: calc(var(--px) * 3);
	padding-left: calc(var(--px) * 40);
	width: 100%;

	border-left: 1px solid black;
	list-style: circle;
}

.ebook.indexes main>menu>li.subIndex {
	grid-template-columns: calc(var(--vw) * 2) calc(var(--vw) * 8) calc(var(--vw) * 8);
	font-size: calc(var(--px) * 14);
	font-weight: normal;
}

.whitesquare {
    top: 27%;
    position: absolute;
    background-color: white;
    width: calc(var(--vw) * 84);
    height: calc(var(--vw) * 33);
    z-index: 200;
    left: 7%;
}

.letterTabs {
	text-align: center;
}

.letterTabs .letterTab {
	font-size: calc(var(--px) * 12);
	text-align: center;
	background-color: gold !important;
	width: calc(var(--vw) * 3);
	height: calc(var(--vw) * 4);
}

.letterTabs .letterTab.greyout {
	background-color: gainsboro !important;
}

.letterTabs .letterTab.active {
	background-color: red !important;
	position: relative;
	top: calc(var(--vw) * -0.75);
	height: calc(var(--vw) * 5.5);
}

.navButtons {
	position: absolute;
	bottom: 10%;
}