
/* Gradebook background */
body.gradebook {
	background-color: hwb(196 38% 10%);
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG00001d.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}
/* The placement of the main area */
.gradebook main {
	margin: calc(var(--vw) * 3.5) 0 0 calc(var(--vw) * 6.2);
	height: calc(var(--vw) * 41.5);
	width: calc(var(--vw) * 87);
	font-family: var(--barto);
	line-height: 0.9;
}
/* The header with course average and time left */
.gradebook main > header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0 var(--vw);
	font-size: calc(var(--px) * 18);
}
.gradebook main > header h3 {
	margin-left: auto;
	padding: calc(var(--vw) / 2) var(--vw);
	width: fit-content;
	background-color: hsla(45, 90%, 50%, 50%);
	font-weight: normal;
}
.gradebook main > header h3:first-child {
	margin-left: 0;
}
/* The table */
.gradebook main > table {
	margin-top: calc(var(--px) * 8);
	width: 100%;
	border-collapse: collapse;
	border: calc(var(--px) * 1.5) solid black;
	font-size: calc(var(--px) * 20);
}
.gradebook main > table > tbody > tr > td {
	padding: 0;
	border: none;
}
.gradebook div.scroller table {
	width: 100%;
	border-collapse: collapse;
}

.gradebook .scroller
{ 
	height: calc(var(--vw) * 36);	
	overflow-y: hidden;
}
.gradebook main th {
	font-weight: normal;
}
/* The table head row */
.gradebook main thead th {
	padding: calc(var(--px) * 4) 0;
	border: calc(var(--px) * 1.5) solid black;
	text-align: center;
}
/* Smaller text */
.gradebook table small {
	font-size: 70%;
}
/* The scrolling table body */
.gradebook div.scroller {
	margin: 0;
	padding: 0;
	max-height: calc(var(--px) * 300);
	width: 100%;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.gradebook div.scroller::-webkit-scrollbar {
	display: none;
}
.gradebook.details div.scroller {
	max-height: calc(var(--px) * 210);
}

.gradebook div.scroller table {
	margin: 0;
}
/* Width of each column -- Lessons table */
.gradebook main thead th:nth-of-type(1),
.gradebook div.scroller td:nth-of-type(1) {width: 4%;}
.gradebook main thead th:nth-of-type(2),
.gradebook div.scroller td:nth-of-type(2) {width: 12%;}
.gradebook main thead th:nth-of-type(3),
.gradebook div.scroller td:nth-of-type(3) {width: 4%;}
.gradebook main thead th:nth-of-type(4),
.gradebook div.scroller td:nth-of-type(4) {width: 11%;}
.gradebook main thead th:nth-of-type(5),
.gradebook div.scroller td:nth-of-type(5) {width: 12%;}
.gradebook main thead th:nth-of-type(6),
.gradebook div.scroller td:nth-of-type(6) {width: 13%;}
.gradebook main thead th:nth-of-type(7),
.gradebook div.scroller td:nth-of-type(7) {width: 18%;}
.gradebook main thead th:nth-of-type(8),
.gradebook div.scroller td:nth-of-type(8) {width: 12%;}
.gradebook main thead th:nth-of-type(9),
.gradebook div.scroller td:nth-of-type(9) {width: 14%;}
/* Width of each column -- Details table */
.gradebook.details main thead th:nth-of-type(1),
.gradebook.details div.scroller td:nth-of-type(1) {width: 4%;}
.gradebook.details main thead th:nth-of-type(2),
.gradebook.details div.scroller td:nth-of-type(2) {width: 23%;}
.gradebook.details main thead th:nth-of-type(3),
.gradebook.details div.scroller td:nth-of-type(3) {width: 4%;}
.gradebook.details main thead th:nth-of-type(4),
.gradebook.details div.scroller td:nth-of-type(4) {width: 23%;}
.gradebook.details main thead th:nth-of-type(5),
.gradebook.details div.scroller td:nth-of-type(5) {width: 23%;}
.gradebook.details main thead th:nth-of-type(6),
.gradebook.details div.scroller td:nth-of-type(6) {width: 23%;}
/* Alternating row background colors */
.gradebook div.scroller tbody tr {
	background-color: hsla(211, 100%, 55%, 20%);
}
.gradebook div.scroller tbody tr:nth-of-type(even) {
	background-color: hsla(211, 100%, 90%, 20%);
}
/* Table cell styles */
.gradebook div.scroller tbody td {
	padding: calc(var(--px) * 2) 0;
	border: calc(var(--px) * 1.5) solid black;
	text-align: center;
}
.gradebook div.scroller tbody td:nth-of-type(2) {
	text-align: left;
}
/* Eliminate cell borders on the outsides */
.gradebook div.scroller tbody tr:first-of-type td {
	border-top: none;
}
.gradebook div.scroller tbody tr:last-of-type td {
	border-bottom: none;
}
.gradebook div.scroller tbody td:first-of-type {
	border-left: none;
}
.gradebook div.scroller tbody td:last-of-type {
	border-right: none;
}
/* Merging a column with the one to its left */
.gradebook main thead th.ml,
.gradebook main tbody td.ml {
	border-left: none;
}
/* Merging a column with the one to its right */
.gradebook main thead th.mr,
.gradebook main tbody td.mr {
	border-right: none;
}
/* A small lighter style for "N/A" values */
.gradebook main td.na {
	font-size: 60%;
	color: #0005;
}
/* Special icons for bonus points */
.gradebook main td.bonus {
	--ikon: none;
	background-image: var(--ikon);
	background-repeat: no-repeat;
	background-position: 85% 50%;
	background-size: calc(var(--px) * 23);
}
.gradebook main td.bonus.b1 {
	--ikon: url("https://ttv5.s3.amazonaws.com/img/ik/IK000027.svg");
}
.gradebook main td.bonus.b2 {
	--ikon: url("https://ttv5.s3.amazonaws.com/img/ik/IK000028.svg");
}
.gradebook main td.bonus.b3 {
	--ikon: url("https://ttv5.s3.amazonaws.com/img/ik/IK000029.svg");
}
.gradebook main td.bonus.b4 {
	--ikon: url("https://ttv5.s3.amazonaws.com/img/ik/IK00002a.svg");
}
/* Use data elements to right-align numeric values */
.gradebook main tbody td data {
	display: inline-block;
	width: calc(var(--px) * 20);
	text-align: right;
}
.gradebook main tbody td:nth-of-type(7) data {
	width: calc(var(--px) * 43);
}
.gradebook main tbody td:nth-of-type(8) data {
	width: calc(var(--px) * 83);
}
/* The SUMMARY footer styles */
.gradebook main tfoot th,
.gradebook main tfoot td {
	padding: calc(var(--px) * 2) calc(var(--px) * 6);
	border: calc(var(--px) * 1.5) solid black;
}
.gradebook main tfoot th {
	text-align: right;
}
.gradebook main tfoot th[colspan="6"] {
	background: linear-gradient(90deg, #E9A900, #FFDF7F);
	font-size: calc(var(--px) * 24);
	text-align: center;
}
/* Alternating row background colors */
.gradebook main tfoot tr {
	background-color: hsla(211, 100%, 90%, 20%);
}
.gradebook main tfoot tr:nth-of-type(even) {
	background-color: hsla(211, 100%, 55%, 20%);
}
/* Make the little icons in the first column */
.gradebook main tbody span {
	--ikon: none;
	--bg: none;
	display: inline-block;
	visibility: hidden;
	margin-right: calc(var(--px) * 3);
	width: calc(var(--px) * 20);
	height: calc(var(--px) * 20);
	background-color: var(--bg);
	background-image: var(--ikon);
	background-size: contain;
	border: calc(var(--px) * 1.5) solid white;
	box-shadow: calc(var(--px) * 1.5) calc(var(--px) * 1.5) #0006;
}
.gradebook main tbody span[class] {
	visibility: visible;
}
.gradebook main tbody span.C {
	/* "Complete" icon */
	--bg: #FFB806;
	--ikon: url("https://ttv5.s3.amazonaws.com/img/ik/IK000020.svg");
}
.gradebook.details main tbody span.C {
	/* "Correct" icon */
	--bg: #60C678;
	--ikon: url("https://ttv5.s3.amazonaws.com/img/ik/IK000021.svg");
}
.gradebook main tbody span.I {
	/* "Incomplete" icon */
	--bg: #7160A0;
	--ikon: url("https://ttv5.s3.amazonaws.com/img/ik/IK000024.svg");
}
.gradebook main tbody span.X {
	/* "Incorrect" icon */
	--bg: #DD4343;
	--ikon: url("https://ttv5.s3.amazonaws.com/img/ik/IK000025.svg");
}
/* The legend at the bottom of the gradebook */
.gradebook menu.gblegend {
	display: flex;
	list-style: none;
	margin: 0 auto;
	padding: 0 calc(var(--px) * 2) 0 0;
	width: fit-content;
	height: calc(var(--px) * 17);
	border-width: calc(var(--px) * 3.6) calc(var(--px) * 4.8) calc(var(--px) * 7.2) calc(var(--px) * 7.8);
	border-style: solid;
	border-color: #6FAEEE;
	border-image-source: url("https://ttv5.s3.amazonaws.com/img/bg/BG00001f.png");
	border-image-slice: 6 8 12 13 fill;
	font-family: var(--barto);
	font-size: calc(var(--px) * 11);
	line-height: 1.4;
	overflow: hidden;
}
.gradebook menu.gblegend li {
	--ikon: none;
	margin: 0 0 0 calc(var(--px) * 12);
	padding: 0 0 0 calc(var(--px) * 15);
	background-image: var(--ikon);
	background-repeat: no-repeat;
	background-size: calc(var(--px) * 13);
	background-position: 0% 45%;
}
.gradebook menu.gblegend li:first-child {
	margin: 0;
}
.gradebook menu.gblegend li.bonus {
	--ikon: url("https://ttv5.s3.amazonaws.com/img/ik/IK000026.svg");
}
.gradebook menu.gblegend li.correct {
	--ikon: url("https://ttv5.s3.amazonaws.com/img/ik/IK000021.svg");
}
.gradebook menu.gblegend li.complete {
	--ikon: url("https://ttv5.s3.amazonaws.com/img/ik/IK000020.svg");
}
.gradebook menu.gblegend li.delete {
	--ikon: url("https://ttv5.s3.amazonaws.com/img/ik/IK000022.svg");
}
.gradebook menu.gblegend li.edit {
	--ikon: url("https://ttv5.s3.amazonaws.com/img/ik/IK000023.svg");
}
.gradebook menu.gblegend li.incomplete {
	--ikon: url("https://ttv5.s3.amazonaws.com/img/ik/IK000024.svg");
}
.gradebook menu.gblegend li.incorrect {
	--ikon: url("https://ttv5.s3.amazonaws.com/img/ik/IK000025.svg");
}

.gradebook .scrollbarHolder
{
	position: absolute;
	top: 55%;
	right: calc(var(--vw) * 3);
	width: var(--scrollbarWidth);
	height: calc(var(--px) * 380);
	transform: translate(0, -50%);
}