@font-face {
    font-family: "BarthowheelReg";
    src: url('./common/Barthowheel Regular.ttf');
}

@font-face {
    font-family: "BarthowheelIt";
    src: url('./common/Barthowheel Italic.ttf');
}

.App {
    text-align: center;
  }
  
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  #base
  {
    max-width:80%;
    margin:auto;
  }
  .head1
  {
    background-color: #3498db!important;
  }
  .titleText
  {
    color:white;
    font-size: 26px;
      font-family: "BarthowheelReg";
     
  }
  .tac
  {
    text-align: center;
  }
  .standard
  {
    color:rosybrown;
    font-size: 26px;
  }
  .red
  {
    color:red;
    font-size: 22px;
    font-family: "BarthowheelReg";
    padding-left: 10px;
    padding-right: 10px;
  }
  .green
  {
    color:green;
    font-family: "BarthowheelReg";
  }
  .pink
  {
    color:pink;
    font-family: "BarthowheelReg";
  }
  .gray
  {
    color:gray;
    font-family: "BarthowheelReg";
  }
  .blue
  {
    color:lightskyblue;   
    font-family: "BarthowheelReg";
  
  }
  .highlight {
    color: red;
    font-family: "BarthowheelReg";
  }
  
  .highlight2 {
    color: green !important;
    font-family: "BarthowheelReg";
  }
  
  .tac {
    text-align: center;
  }
  
  .tar {
    text-align: right;
  }
  
  .tal {
    text-align: left;
  }
  
  .fscreen {
    background: brown;
    color:white;
    z-index: 10;
   
  }
  
  .noEffect {
    color: white;    
    font-family: "BarthowheelReg";
  }
  .bookText
  {
    color: black;
   
    font-family: "BarthowheelReg";
    margin:10px;
  
  }
  .bookText2
  {
    color: #E5DBCF;
   
    font-family: "BarthowheelReg";
    
    width: 30%;
  }
  .title1
  {
    color:black;
    font-family: "BarthowheelReg";
  }
  @keyframes strike {
    0% {
      width: 0;
    }
  
    100% {
      width: 100%;
    }
  }
  
  .strike {
    position: relative;
  }
  
  .strike::after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: white;
    animation-name: strike;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  .blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  
  .glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
  
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  
  .slowglow {
    color: #fff;
    -webkit-animation: slowglow 8s infinite;
    animation: slowglow 8s infinite;
  }
  
  .fastflash {
    color: white;
    -webkit-animation: fastflash 0.35s infinite;
    animation: fastflash 0.35s infinite;
  }
  
  .fineshine {
  
    background: -webkit-linear-gradient(#fff, #eee, #fff, #666, #eee, #fff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 1px 45px rgba(255, 255, 255, 0.2);
  }
  
  
  div {
    text-align: center;
    position: relative;
  }
  
  /* Chrome, Safari, Opera */
  @-webkit-keyframes slowglow {
    0% {
      text-shadow: 0 0 3px #FF0000;
      color: #fff;
    }
  
    25% {
      text-shadow: 0 0 12px #FF0000;
    }
  
    50% {
      text-shadow: 0 0 20px #FF0000;
      color: pink;
    }
  
    75% {
      text-shadow: 0 0 12px #FF0000;
    }
  
    100% {
      text-shadow: 0 0 3px #FF0000;
      color: #fff;
    }
  }
  
  @-webkit-keyframes fastflash {
    0% {
      text-shadow: 0 0 6px #FFF;
    }
  
    100% {
      text-shadow: 0 0 0px #000;
    }
  }
  
  /* Internet Explorer */
  
  @keyframes slowglow {
    0% {
      text-shadow: 0 0 3px #FF0000;
      color: #fff;
    }
  
    25% {
      text-shadow: 0 0 12px #FF0000;
    }
  
    50% {
      text-shadow: 0 0 20px #FF0000;
      color: pink;
    }
  
    75% {
      text-shadow: 0 0 12px #FF0000;
    }
  
    100% {
      text-shadow: 0 0 3px #FF0000;
      color: #fff;
    }
  }
  
  @keyframes fastflash {
    0% {
      text-shadow: 0 0 6px #FFF;
    }
  
    100% {
      text-shadow: 0 0 0px #000;
    }
  }
  
  .slide-fwd-center {
    font-family: "BarthowheelReg";
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  /* ----------------------------------------------
   * Generated by Animista on 2021-5-3 16:12:32
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  /**
   * ----------------------------------------
   * animation slide-fwd-center
   * ----------------------------------------
   */
  @-webkit-keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
  
    100% {
      -webkit-transform: translateZ(160px);
      transform: translateZ(160px);
    }
  }
  
  @keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
  
    100% {
      -webkit-transform: translateZ(160px);
      transform: translateZ(160px);
    }
  }
  
  @keyframes colorTest {
    0% {
      color: red;
    }
  
    25% {
      color: yellow;
    }
  
    50% {
      color: blue;
    }
  
    100% {
      color: green;
    }
  }
  
  .rainbow {
    color: white;
    animation-name: colorTest;
    font-size: 26px;
    font-family: "BarthowheelReg";
    animation-duration: 2s;
  }

  .fs1 {
    font-size: 60px;
  }
  .fs2 {
    font-size: 20px;
  }
  .fs2 {
    font-size: 16px;
  }
  /* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
.fs1 {
  font-size: 50px;
}
.fs2 {
  font-size: 36px;
}
.fs3 {
  font-size: 32px;
}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
.fs1 {
  font-size: 40px;
}
.fs2 {
  font-size: 36px;
}
.fs3 {
  font-size: 30px;
}
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
.fs1 {
  font-size: 40px;
}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
.fs1 {
  font-size: 40px;
 
}
.fs2 {
  font-size: 26px;
}
.fs3 {
  font-size: 22px;
}
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 992px) {
/* Styles */
.fs1 {
    font-size: 50px;
  }
  .fs2 {
    font-size: 28px;
  }
  .fs3 {
    font-size: 22px;
  }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
.fs1 {
  font-size: 70px;
}
.fs2 {
  font-size: 46px;
}
.fs3 {
  font-size: 40px;
}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
.fs1 {
  font-size: 40px;
}
.fs2 {
  font-size: 36px;
}
.fs3 {
  font-size: 26;
}
}