.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-area {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}

textarea {
    width: 100%;
    padding: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
/*mobile*/
@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    .text-area {
        width: 100%;
    }
}