.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#base
{
  max-width:80%;
  margin:auto;
}
.head1
{
  background-color: #3498db!important;
}
.titleText
{
  color:white;
  font-size: 26px;
  
}
.usn
{
  user-select: none;
}
.draggableListItem
{
  position: absolute;
  top:0;
  width: 200px;
}
#holder
{
  position: relative;
}