.svgArrow {
  stroke-width: 2px
}

.svgFull {
  width: 100%;
  height: 100%
}

.svgArrow .pointerArrowRed {
  stroke: red
}

.svgArrow .pointerArrowBlue {
  stroke: blue !important
}

.svgArrow .pointerArrowBlack {
  stroke: black !important
}

.svgArrow .pointerArrowYellow {
  stroke: yellow !important
}

.svgArrow .pointerArrowGreen {
  stroke: green !important
}