.dragshape
{
    cursor:pointer;
}
.moveShape
{
    cursor:move;
}
.rotateShape
{
    cursor:grab;
}
.delShape
{
    cursor:not-allowed;
}
.selected
{
    stroke: red;
    stroke-width: 1;
}
.inPlace
{
    stroke: green;
    stroke-width: 1;
}