.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    width: calc(var(--vw) * 10);
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.toolbarItem
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    height: calc(var(--vw) * 8);
    width: calc(var(--vw) * 8);
    border: solid 1px black;
    margin: 0;
    background-color: white;
}
.toolbar .selected
{
    background-color: wheat;
}
.toolbarItem img
{
    pointer-events: none;
}
.toolbarItem figcaption
{
    pointer-events: none;
}
.confirmDisable
{
    opacity: 0.5;
    cursor: not-allowed;
    background-color: white;
}
.confirmDisable:hover
{
    background-color: wheat;
}
.confirm
{
    opacity: 1;
    cursor: pointer;
    background-color: greenyellow;
}
.confirm:hover
{
    background-color: yellow;
}