<div style="display:grid; grid-template-columns: 1fr 1fr 1fr;">
    <p style="text-align:center">1</p> 
    <p style="transform: rotate(-55deg); text-align:center">One</p> 
    <p style="text-align:center">2</p> 
    <p style="transform: rotate(-55deg); text-align:center">Two</p> 
    <p style="text-align:center">3</p> 
    <p style="transform: rotate(-55deg); text-align:center">Three</p> 
  </div>