.paper-button {
    width: 40%;
    height: 6vh;
    background-image: url("../assets/paperButton.png");
    background-size: cover;
    &__text
    {
        font-size: calc(var(--px) * 12);
        text-align: center;
        position: relative;
        padding-top:1%;
        top: 1vh;
    }
}
.back-button {
    position: absolute;
    top: 3%;
    left: 5%;
    width: 9%;
    height: 6%;
    background-image: url("../assets/backButton.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.tab-line {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 4%;
    left: 20%;
    width: 50%;
    justify-content: space-evenly;   
    

}
.dummy-line {
    @extend .tab-line;
    z-index: 2;
    pointer-events: none;
}