.fcard {
 
  min-height:var(--cardSize);
  display: flex;
  flex-direction: column;
  margin: 1vw;
  align-items: center;
  
  &__title {
    display: flex;
    align-items: center;
    height: 35%;
    width: 100%;
    background-image: url("../../assets/titlePaper.png");
    background-size: cover;
    background-repeat: no-repeat;
}
  &__text {
    font-family: Andika;
    padding-top: 4%;
    font-size: calc(var(--px) * 10);
    position: relative;
    transform: translate(-50%, -100%);
    top: 100%;
    width: 100%;
    text-align: center;
    height: 100%;
    left: 50%;
}
  &__image {
    position: relative;
    top: 5%;
    width: 100%;
    height: 96%;
    background-size: contain;
    background-image: url("../../assets/YN003.T.jpg");
  }
  &--selected
  {
    background-color: rgba(230, 126, 34,0.6);
  }
  &__paper-tear
  {
    position: relative;
    width: 100%;
    height: 20%;
    background-image: url("../../assets/tornEdge.png");
    background-size: cover;
  }
  &__new-icon
  {
    position: relative;
    height: 5%;
    width: 5%;
    background-image: url("../../assets/newIcon.png");
    background-size: cover;
  }
}
main {
  position: relative;
  top: 15%;
  padding: 1%;
  margin: auto;
  width: fit-content;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  overflow-y: scroll;
  /**
   * Firefox scrollbar styling
   */
   scrollbar-width: thin;
   scrollbar-color: orange   black;
  /**Webkit scrollbar styling */
  &::-webkit-scrollbar {
    width: 1.5vw;
    height: 100vh;
  }
  
  &::-webkit-scrollbar-track{
    background: transparent;
    background-image: url("../../assets/scroll/scrollback.png");
    background-size: 50% 95%;
    background-repeat: no-repeat;
    background-position: center 1vh;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-image: url("../../assets/scroll/thumbScroll.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  &::-webkit-scrollbar-button:single-button:vertical:decrement 
  {
    background-image: url("../../assets/scroll/arrowUp.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  &::-webkit-scrollbar-button:single-button:vertical:increment 
  {
    background-image: url("../../assets/scroll/arrowDown.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  } 
 
}