@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
  }
  @function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
  }
 
@media (min-aspect-ratio: 96/55) {
	/* recalculate the value of --vw if window gets wider than the app */
	html {
		--vw: calc(1vh * 96 / 55);    
	}
}