/* width */
::-webkit-scrollbar {
  width: 1.5vw;
  height: 100vh;
}

::-webkit-scrollbar-track{
  background: transparent;
  background-image: url("../../assets/scroll/scrollback.png");
  background-size: 50% 95%;
  background-repeat: no-repeat;
  background-position: center 1vh;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-image: url("../../assets/scroll/thumbScroll.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:vertical:decrement 
{
  background-image: url("../../assets/scroll/arrowUp.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
::-webkit-scrollbar-button:single-button:vertical:increment 
{
  background-image: url("../../assets/scroll/arrowDown.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
} 
//write css to style the scrollbar that works in all browsers
//https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp

