/* paddings */
$ptop: 0;
$pbottom:0;
$psides: 0;

/* margins */
$topmar: 1;
$sidemar: 1;

$minHeight: 12;

.wcard {
  
    position: relative;
    /* padding: calc(var(--vw) * $ptop) calc(var(--vw) * $psides)
      calc(var(--vw) * $pbottom) calc(var(--vw) * $psides); */
    margin: calc(var(--vw) * $topmar) calc(var(--vw) * $sidemar);
    min-height: calc(var(--vw) * $minHeight);
    border-style: solid;
  }
  figure
  {
    margin: calc(var(--vw) * 2) auto 0 auto;
	width: 100%;
	height: calc(var(--vw) * 7);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
  }
  h2{
    padding:0;
    margin:0;
    font-family: Barto, Times, Impact, sans-serif;
	font-weight: normal;
	font-size: calc(var(--px) * 12);
	line-height: 0.9;
	color: red;
	text-align: center;
  }

