@import "./vars";
@import "./functions";
@import "./fcards";
@import "./wcard";
@import "./buttons";

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: hwb(220 35% 65%);
  background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG00000d.png");
  background-size: calc(var(--vw) * 25) auto;
  background-position: center;
  font-family: Andika, "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: black;
  overflow: hidden;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: calc(var(--vw) * 100);
  height: calc(var(--vw) * 5500 / 96);
}
.blue {
  background-color: hwb(196 38% 10%);
  background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG00000e.jpg");
  background-size: 28%;
  background-repeat: repeat;
  background-position: 26% 7%;
}
.hid {
  visibility: hidden;
}
.abcenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.notebook {
  width: calc(var(--vw) * 80);
  height: 80vh;
  background-image: url("../assets/notebook.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  &__paperback {
    position: absolute;
    top: 10%;
    left: 6%;
    width: 90%;
    height: 5%;
    background-image: url("../assets/paperback.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.instruction-text {
  position: relative;
  top: 16%;
  left: 10%;
  font-size: calc(var(--px) * 10);
  width: 85%;
}
