html {
  --shadow: #0006;
  --vw: 1vw;
  --px: calc(var(--vw) / 9.6);
  --cardSize:calc(var(--vw) *14);
}

@media (min-aspect-ratio: 96/55) {
  /* recalculate the value of --vw if window gets wider than the app */
  html {
    --vw: calc(1vh * 96 / 55);
  }
}
.fcard {
  min-height: var(--cardSize);
  display: flex;
  flex-direction: column;
  margin: 1vw;
  align-items: center;
}
.fcard__title {
  display: flex;
  align-items: center;
  height: 35%;
  width: 100%;
  background-image: url("../../assets/titlePaper.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.fcard__text {
  font-family: Andika;
  padding-top: 4%;
  font-size: calc(var(--px) * 10);
  position: relative;
  transform: translate(-50%, -100%);
  top: 100%;
  width: 100%;
  text-align: center;
  height: 100%;
  left: 50%;
}
.fcard__image {
  position: relative;
  top: 5%;
  width: 100%;
  height: 96%;
  background-size: contain;
  background-image: url("../../assets/YN003.T.jpg");
}
.fcard--selected {
  background-color: rgba(230, 126, 34, 0.6);
}
.fcard__paper-tear {
  position: relative;
  width: 100%;
  height: 20%;
  background-image: url("../../assets/tornEdge.png");
  background-size: cover;
}
.fcard__new-icon {
  position: relative;
  height: 5%;
  width: 5%;
  background-image: url("../../assets/newIcon.png");
  background-size: cover;
}

main {
  position: relative;
  top: 15%;
  padding: 1%;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  overflow-y: scroll;
  /**
   * Firefox scrollbar styling
   */
  scrollbar-width: thin;
  scrollbar-color: orange black;
  /**Webkit scrollbar styling */
  /* Handle */
}
main::-webkit-scrollbar {
  width: 1.5vw;
  height: 100vh;
}
main::-webkit-scrollbar-track {
  background: transparent;
  background-image: url("../../assets/scroll/scrollback.png");
  background-size: 50% 95%;
  background-repeat: no-repeat;
  background-position: center 1vh;
}
main::-webkit-scrollbar-thumb {
  background-image: url("../../assets/scroll/thumbScroll.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
main::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url("../../assets/scroll/arrowUp.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
main::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url("../../assets/scroll/arrowDown.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* paddings */
/* margins */
.wcard {
  position: relative;
  /* padding: calc(var(--vw) * $ptop) calc(var(--vw) * $psides)
    calc(var(--vw) * $pbottom) calc(var(--vw) * $psides); */
  margin: calc(var(--vw) * 1) calc(var(--vw) * 1);
  min-height: calc(var(--vw) * 12);
  border-style: solid;
}

figure {
  margin: calc(var(--vw) * 2) auto 0 auto;
  width: 100%;
  height: calc(var(--vw) * 7);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

h2 {
  padding: 0;
  margin: 0;
  font-family: Barto, Times, Impact, sans-serif;
  font-weight: normal;
  font-size: calc(var(--px) * 12);
  line-height: 0.9;
  color: red;
  text-align: center;
}

.paper-button {
  width: 40%;
  height: 6vh;
  background-image: url("../assets/paperButton.png");
  background-size: cover;
}
.paper-button__text {
  font-size: calc(var(--px) * 12);
  text-align: center;
  position: relative;
  padding-top: 1%;
  top: 1vh;
}

.back-button {
  position: absolute;
  top: 3%;
  left: 5%;
  width: 9%;
  height: 6%;
  background-image: url("../assets/backButton.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.tab-line, .dummy-line {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 4%;
  left: 20%;
  width: 50%;
  justify-content: space-evenly;
}

.dummy-line {
  z-index: 2;
  pointer-events: none;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: hwb(220 35% 65%);
  background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG00000d.png");
  background-size: calc(var(--vw) * 25) auto;
  background-position: center;
  font-family: Andika, "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: black;
  overflow: hidden;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: calc(var(--vw) * 100);
  height: calc(var(--vw) * 5500 / 96);
}

.blue {
  background-color: hwb(196 38% 10%);
  background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG00000e.jpg");
  background-size: 28%;
  background-repeat: repeat;
  background-position: 26% 7%;
}

.hid {
  visibility: hidden;
}

.abcenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.notebook {
  width: calc(var(--vw) * 80);
  height: 80vh;
  background-image: url("../assets/notebook.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.notebook__paperback {
  position: absolute;
  top: 10%;
  left: 6%;
  width: 90%;
  height: 5%;
  background-image: url("../assets/paperback.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.instruction-text {
  position: relative;
  top: 16%;
  left: 10%;
  font-size: calc(var(--px) * 10);
  width: 85%;
}/*# sourceMappingURL=style.css.map */