<foreignObject x="0" y="0" width="300" height="300">
    <div class="pg2 left oldpaper HTMNHL" xmlns="http://www.w3.org/1999/xhtml">
        <figure class="pgbg"></figure>
        <h1 data-nhl="pg2h1">What&#x2019;s a<br />Board Book?</h1>
        <article class="righthalf">
            <p data-nhl="pg2p1">A board book is a book printed on
                rigid paperboard instead of flexible paper.</p>
            <p data-nhl="pg2p2">Board books are known for their durability,
                and for their limited page capacity,
                well suited for young children.</p>
        </article>
        <figure class="guttershadow"></figure>
        <div class="playpausebtn play"></div>
    </div>
</foreignObject>
