h1 {
  color: white;
  background-color: black;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0 !important;
  touch-action: none;
}
.full
{
  width: 100vw;
  height: 100vh;
}
.draggable {
  cursor: move;
}
#myCanvas
{
  position: absolute;
  top:0;
  left: 0;
  z-index: -1;
}
