html {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: hsl(200, 100%, 12%);
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000000;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: hsl(200, 30%, 45%);
}

#playbackUI {
	position: absolute;
	top: 85.5%;
	right: calc(47% - 39vh);
	width: 78vh;
	height: 10.2vh;
	background-image: url("playbakui.svg");
	background-size: contain;
	background-position: 50% 0%;
	background-repeat: no-repeat;
}

#playbackUI #leftArrowButton {
	position: absolute;
	width: 6.5vh;
	height: 6.5vh;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	top: 20%;
	left: 0%;
	background-image: url("btn_larr.svg");
}

#playbackUI #rightArrowButton {
	position: absolute;
	width: 6.5vh;
	height: 6.5vh;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	top: 20%;
	right: 0%;
	background-image: url("btn_rarr.svg");
}

#contentWindow {
	position: absolute;
	top: 13%;
	left: 6%;
	right: 6%;
	height: 69%;
	background-color: hsla(200, 10%, 95%, 90%);
	border: 2vh solid hsl(200, 90%, 22%);
	box-shadow: 0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 35%);
}

#homeButton,
#menuButton,
#checkButton,
#resetButton,
#keyboardButton,
#btnNext,
#hintButton {
	position: absolute;
	width: 7.5vh;
	height: 7.8vh;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 10;
}
#btnNext {
	position: absolute;
	width: 10%;
	height:10%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	bottom: 3%;
	left: 45%;
	background-image: url("btnNext.svg");
}
#homeButton {
	top: 4.08%;
	left: 5.8%;
	background-image: url("btn_home.svg");
}

#menuButton {
	top: 4.08%;
	right: 5.6%;
	background-image: url("btn_menu.svg");
}

#checkButton {
	width: 10%;
	height:10%;
	bottom: 3%;
	left: 55%;
	background-image: url("btn_chek.svg");
}
#resetButton {
	width: 10%;
	height:10%;
	bottom: 4.08%;
	left: 35%;
	background-image: url("btn_reset.svg");
}
#keyboardButton {
	bottom: 4.08%;
	right: 5.6%;
	background-image: url("btn_kbrd.svg");
}



#hintButton {
	width: 11vh;
	height: 11vh;
	background-size: contain;
	bottom: 3%;
	left: 36.5%;
	background-image: url("btn_hint2.svg");
}
#mascot {
	position: absolute;
	bottom: 1%;
	left: 3%;
	width: 32.4vh;
	height: 46.3vh;
	pointer-events: none;
	touch-action: none;
}
#mainImage
{
	position: absolute;
	right:15%;
	bottom: 30%;
	width: 25%;
	max-width: 250px;
}
@media (max-aspect-ratio: 12/9) {

	/* too narrow */
	body {
		height: 75vw;
	}

	#playbackUI {
		right: 18%;
		width: 58.5vw;
		height: 7.64vw;
	}

	#playbackUI #leftArrowButton,
	#playbackUI #rightArrowButton {
		width: 4.8vw;
		height: 4.8vw;
	}

	#contentWindow {
		border-width: 1.38vw;
	}

	#homeButton,
	#menuButton,
	#checkButton,
	#keyboardButton,
	#resetButton,
	#hintButton {
		width: 5.6vw;
		height: 5.9vw;
	}

	#mascot {
		width: 24.3vw;
		height: 34.7vw;
	}
}

@media (min-aspect-ratio: 20/9) {

	/* too wide */
	body {
		width: 222.222222vh;
	}
}