.mainContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
    width: calc(var(--vw)*100);
    background-color: cornflowerblue;
    align-content: center;
    flex-wrap: wrap;
}
.btn
{
    background-color: #fff;
    color: #000;
    font-size: calc(var(--px)*16);
    font-weight: bold;
    padding: 10px;
    border: solid 1px #000;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}
.alertMessage
{
    color:red;
    background-color: black;
    font-size: calc(var(--px)*16);
    font-weight: bold;
    margin: auto;
    width: 50%;
    text-align: center;
}

.game {
    display: flex;
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap:2px;
}
.targetWord {
    
    height: 31%;
    width: calc(var(--vw)*50);
   
}
.currentWord
{   
   
    height: 31%;
    width: calc(var(--vw)*50);
    height:30%;
    
    
}
.wordRow
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: calc(var(--vw)*50);
    color: #fff;
    flex-wrap: wrap;
    height: fit-content;
}
.letterTile
{
    width: calc(var(--vw)*5);
    height: calc(var(--vw)*5);
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    border: solid 1px #000;
}
.correct
{
    background-color: green;
    color:white;
}
.selected
{
    background-color: darkgray;
    color:black;
    border: solid 4px black;
}

.guessedWords
{
   height: 20vh;
   overflow-y: auto;
   overflow-x: hidden;
    width: calc(var(--vw)*50);
}
.guessedWords .letterTile
{
    width: calc(var(--vw)*2);
    height: calc(var(--vw)*2);
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    border: solid 1px #000;
}
h2
{
    font-size: calc(var(--vw)*2);
    color:white;
    text-align: center;
}
/** mobile */
@media (max-width: 800px) {
    .mainContainer {
       
       flex-direction: row;
       
    }

    .letterTile
{
    width: calc(var(--vw)*10);
    height: calc(var(--vw)*10);
    
}
}