
.gameGrid
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    width: calc(var(--vw)*50);
    height: calc(var(--vw)*50);
    background-color:cornflowerblue;
    color: #fff;
}
/**media query for mobile */

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
.topBar
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 4px;
    width: 100%;
    height: 40%;
    background-color: #000;
    color: #fff;
}

.topBar .topBarLeft
{
    background-color: red;
}

.topBar .topBarRight
{
    background-color: green;
}
.letterTile
{
    width: calc(var(--vw)*5);
    height: calc(var(--vw)*5);
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    border: solid 1px #000;
}
.wordRows {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    width: 100%;
    height: 60%;
}
.wordRow
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: calc(var(--vw)*50);
    background-color: cornflowerblue;
    color: #fff;
    flex-wrap: wrap;
    height: fit-content;
}
h2
{
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
}