
.keyboard-container {
    height: fit-content;
}
.keyboard {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #000;
    color: #fff;
    flex-wrap: wrap;
    height: fit-content;
}
.keyboard .letter
{
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}
.disabled
{
    opacity: 0.5;
    cursor: not-allowed;
}
/** mobile */
@media (max-width: 800px) {
    .keyboard {
       
       flex-direction: row;
       width: 90%;
    }
}