.App {
  text-align: center;
}

/* math
{
  font-family: var(--andika)!important;
} */
.eqScreen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.outputArea {
  width: 50vw;
  height: 20vh;
  background-color: rgba(0, 255, 255, 0.1);
  border: solid 1px black;
  font-size: 32px;
  overflow-x: auto;
  overflow-y: auto;
}

.eqScreen input {
  width: 50vw;
  height: 100%;
  font-size: 32px;
  border: solid 1px black;
}

.cb {
  width: 50vw;
  margin: auto;
  text-align: left;
  height: 20vh;
  overflow-y: scroll;
  border: solid;
}

.eqUI {
  margin-top: 20px;
  margin-left: auto;
  border: solid thin;
  width: 50vw;
  margin-right: auto;
}

.eqInput {
  display: flex;

}

.eqGroup {
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
}

.steps {
  width: 20vw;
  height: 50vh;
  background-color: gainsboro;
}

.stepFormula {
  margin: auto;
  width: 14vw;
  height: 6vh;
  background-color: wheat;
  overflow-x: hidden;
  overflow-y: hidden;
}

.selected {
  border: solid 6px red !important;
  border-radius: 8px;
}

.gridSteps {
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.backButton {
  display: flex;
  width: 100%;
}

.scroll2 {
  height: 50vh;
  width: 40vw;
  overflow-y: auto;
}

.scroll3 {
  height: 30vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.startScreen {
  border: solid gainsboro 2px;
  margin: auto;
  display: flex;
  height: 50vh;
  width: 50vw;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.startScreen button {
  width: 30vw;
}

.topMenu {
  display: flex;
  width: 50vw;
  margin: auto;
  /* background: red; */
}

.ltiScreen {
  width: 50vw;
  margin: auto;
}

.fileButtons {
  margin-top: 50px;
  margin-bottom: 50px;
}

.formulaButtons {
  gap: 5px;
  background: gainsboro;
  padding: 10px;
  display: flex;
  width: 50vw;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.formulaButtons button {
  font-size: 14px;
}

.red {
  color: red;
}

.black {
  background-color: black;
}

.c1 {
  font-size: 64px;
  text-decoration: line-through;
}

.c1.green {
  color: green;
  border: solid 1px black;
}

.aiScreen {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
}

.aiScreen input {
  width: 50vw;
  height: 8vh;
  font-size: 24px;
  border: solid 1px black;
}

.mathTextButtons {
  /*  width: 80%; */
  margin: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.uiGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.uiGroupRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 50vw;
}
.uiGroupRow input
{
  width: 80%;
  height: 54px;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 24px;
}
.colorBoxColor
{
  width: 25px;
  height: 25px;
}
.colorBoxes {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}
/* .uiGroupRow button {

  height: 54px;
  width: 54px;
  margin-left: 4px;

} */

.setsScroll {

  display: flex;
  height: 31vh;
  overflow: scroll;
  flex-direction: column;
}

.fileOpenScreen {
  border: solid gainsboro 2px;
  margin: auto;
  display: flex;
  height: 50vh;
  width: 50vw;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.insertInput
{
  width: 100%;
  font-size: 24px;
  border: solid 1px black;
}
.insertInput textarea
{
  width: 100%;
}
.buttonIcon
{
  height: 24px;
}
.predictBox
{
  text-align: left;
  position: relative;
  top: -17px;
  left: 11px;
}