body{
    background-color: red;
}
.char-grid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
   
}
/** White round card with padding */
.spineCard
{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 100px;
    height: 100px;
}
.spineCard figcaption
{
    text-align: center;
    font-size: 16px;
}