.pos0
{
    position: absolute;
    top:-50%;
    left:-50%;
}
.pos1
{
    position: absolute;
    top:-50%;
    left:50%;
}
.pos2
{
    position: absolute;
    top:-50%;
    left:100%;
}
.pos3
{
    position: absolute;
    top:50%;
    left:100%;
}
.pos4
{
    position: absolute;
    top:100%;
    left:100%;
}
.pos5
{
    position: absolute;
    top:100%;
    left:50%;
}
.pos6
{
    position: absolute;
    top:100%;
    left:0%;
}
.pos7
{
    position: absolute;
    top:50%;
    left:0%;
}
.fade0
{
    opacity: 0;
}

.transMove
{
    transition-property: left,top;
    transition-duration: 3s;
}
.slowFade
{
    opacity: 1;
    transition-property: opacity;
    transition-duration: 5s;
}
.fastFade
{
    opacity: 1;
    transition-property: opacity;
    transition-duration: 2s;
}
.fast
{
    transition-property: width,height,left,top,opacity;
    transition-duration: 2s;
}
.slow
{
    transition-property: width,height,left,top,opacity;
    transition-duration: 6s;
}

.size0
{  
  width: 1%;
}
.grow0
{
    transform:scale(1);
   
}