.greenCard{
  background: lightgreen;
  display: flex;
  border: solid thin black;
  height: fit-content;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.greenCard h4
{
  margin: 0;
  padding: 0;
}
.greenCard p
{
  margin: 0;
  font-size: calc(var(--px) * 12);
  padding: calc(var(--vw) * 1);
}
.whiteCard{
  background: white;
  display: flex;
  border: solid thin black;
  height: fit-content;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.whiteCard p
{
  margin: 0;
  font-size: calc(var(--px) * 12);
  padding: calc(var(--vw) * 1);
}