/* @import "https://font.teachingtextbooksapp.com/Barto/Barto.css";
@import "https://font.teachingtextbooksapp.com/Andika/Andika.css" */;
@import url("https://font.teachingtextbooksapp.com/AndikaTT/AndikaTT.css");
header, p, h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0;}
html {
	--shadow: #0006;
	--vw: 1vw;
	--pvw: calc(var(--vw) * .5);
	--pvh: calc(var(--vw) * .5);
	--px: calc(var(--vw) / 9.6);
	--scrollbarWidth: calc(var(--vw) * 2);
	--bodyheight:calc(var(--vw) * 5500 / 96);
	--scrollerHeight:calc(var(--px) * 210);
	--stageWidth: 480px;
	--stageHeight: 270px;
	--stageTop:33;
	--stageLeft:22;
	--previewLeft: calc(var(--vw) * var(--stageLeft));
	--previewTop: calc(var(--vw) * var(--stageTop));
}
html {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	
	font-family: var(--andika);
	color: black;
	overflow: hidden;
}
body {
	position: relative;
	margin: 0;
	padding: 0;
	width: calc(var(--vw) * 100);
	height: calc(var(--vw) * 5500 / 96);
}
@media (min-aspect-ratio: 96/55) {
	/* recalculate the value of --vw if window gets wider than the app */
	html {
		--vw: calc(1vh * 96 / 55);
		--bodyheight: calc(var(--vw) * 5500 / 96);
	}
}