.pageEditScreen {
    display: grid;
    grid-template-columns: 25% 50% 25%;    
    grid-column-gap: calc(var(--vw)*1.5);
    grid-row-gap: 2px;
}

.pageEditScreen .threeSpan {
    grid-column: 1/-1;
    /* span from grid column line 1 to 3 (i.e., span 2 columns) */

}
.colFlex
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

  /** draw card */
  /* .preview
  {
    position: absolute;
    left: calc(var(--vw)*40);
    top: calc(var(--vw)*18);
    background-color: #f2f2f2;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    margin: auto;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    text-align: center;
    width: calc(var(--vw)*40);
    max-width: 100%;
  } */
.preview {
    position: absolute;
    left: var(--previewLeft);
    top: var(--previewTop);
    width:var(--stageWidth);
    /* text-align: center; */
    background-color: green;
}
  /* .preview svg
  {
      position: relative;
      margin-top: 3%;
      left: 3%;  
  } */
  .zoomPreview
  {
    margin-top: 10px;
    margin-bottom: 10%;
    align-items: center;
  }
  #zoomFrame {
    position: absolute;
    left: var(--previewLeft);
      top: var(--previewTop);
      z-index: 20;
      width: calc(var(--vw)*40);
  }
  
  #zoomPreview {
    text-align: center;
  }
  
  .zoomCorner {
    position: absolute;
  }
  
  .zoomCorner .r0 {
    transform: translate(0%, -95%);
  }
  
  .zoomCorner .r90 {
    transform: rotate(90deg);
  }
  
  .zoomCorner .r270 {
    transform: rotate(270deg) translate(95%, -95%);
  }
  
  .zoomCorner .r180 {
    transform: rotate(180deg) translate(95%, 0);
  }
  
  .zoomFrameImage {
    max-width: 25px;
  }
  #sideProps
  {
    display:block;
  }
  #bottomProps
  {
    display:none;
  }
.pholder
{
  position: absolute;
  left: 15%;
}

.arrowContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  height: 28vh;
}

.arrowContainer .button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aaa;
  border-radius: 50%;
  cursor: pointer;
}

.arrowContainer .arrow {
  font-size: 25px;
  pointer-events: none;
}

  @media only screen and (max-width: 900px) {
    #sideProps
    {
      display:none;
    }
    #bottomProps
    {
      display:block;
    }
  }

  .accordion {
    background-color: #9f9f9f;
    color: #ffffff;
    padding: 8px;
    height: 40px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 6px 0px 0px 0px;
  }
  
  .toolPanel {
    display: none;
    overflow: hidden;
    transition: 0.4s;
  }
  .btn-close
  {
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
    padding: 5px;
    border: none;
    background-color: #9f9f9f;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
  }
  .layerBar h2
  {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    pointer-events: none;
  }
