.stepPanel
{
    background-color: #f2f2f2;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  
}

.stepPanel .steps {
    margin-top: 3%;
    width: 100%;
}
.stepPanel .stepScroll {
    max-height: 150px;
    margin: auto;
    overflow-x: scroll;
  }
.stepPanel .stepCard.selected {
    background-color: lightgreen !important;
}