.cornerText
{
    width: 25%!important;
    height: 25%;
    overflow: hidden;
    border: solid 1px black;
    font-size: 1vw!important;
}
.centerText
{
    margin: auto;
    width: 50%!important;
    height: 50%;
    overflow: hidden;
    border: solid 1px black;
    font-size: 1vw!important;
}
.towerText
{
    width: 25%!important;
    height: 100%;
    overflow: hidden;
    font-size: 1vw!important;
}
.fullHalf
{
    width: 50%!important;
    height: 100%;
    overflow: hidden;
    font-size: 1vw!important;
}