.toolContainer {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    height:100vh;
    background-color: rgb(210, 213, 221);
}

.toolButtonRack{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 40px;
    width:40px;
    height: 100%;
    overflow: hidden;
    align-items: center;
    float: left;
}

.toolButton{
    width: 30px;
    height: 30px;
    align-items: center;
    border: 0;
    border-radius: 30%;
    margin-top: 10px;
    padding: 0px;
  }

.toolIcons {
    pointer-events: none;
}

.toolProperties {
    padding-bottom: 100px;
    overflow-y:scroll;
    overflow-x: hidden;
    border-left: 2px solid rgb(255, 255, 255);
    
}

.toolProperties::-webkit-scrollbar 
{
    width: 6px;    
}

.toolProperties::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.toolProperties::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  
}
.selectedTool
{
    background-color:#aaa;
    border: 1px solid black;
    border-radius: 30%;
}
/*/////////Specific Panels///////////////////*/

.elementPreview{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.padLeft{
    margin-left: 2%;
}

hr.toolPropDivide{
    margin: 10px 0px;
    border-top: 2px solid;
}

.instanceText{
    width: 98%;
}
.valueInput{
    width: 25%;
    font-size: 14px;
    border: 0;
}