/* BOOK FOUNDATION STYLE */
text.booktitle {
  font: bold 30px 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif, 'Andika';
}

.cover {
  fill: hsl(200, 35%, 50%);
  stroke: hsl(200, 35%, 35%);
  stroke-width: 2;
}

.hid {
  display: none;
}

.page {
  fill: hsl(45, 100%, 85%);
}

.pgshadow {
  fill: rgba(0, 0, 0, 40%);
}

/* UIBUTTON STYLE */
.uibutton {
  cursor: pointer;
}

.uibutton .hitarea {
  fill: rgba(0, 0, 0, 0%);
}

.uibutton .shdw {
  fill: rgba(0, 0, 0, 15%);
}

.uibutton .glow {
  fill: hsla(200, 100%, 100%, 35%);
}

.uibutton .srfc {
  fill: hsla(200, 100%, 25%, 40%);
}

.uibutton .dn.glow,
.uibutton .dn.srfc {
  display: none;
}

.uibutton:hover>.shdw {
  fill: rgba(0, 0, 0, 35%);
}

.uibutton:hover>.glow,
.uibutton:active>.glow {
  fill: hsl(45, 100%, 80%);
}

.uibutton:hover>.srfc {
  fill: hsl(200, 100%, 25%);
}

.uibutton:active>.dn.glow,
.uibutton:active>.dn.srfc {
  display: inline;
}

.uibutton:active>.up.glow,
.uibutton:active>.up.srfc {
  display: none;
}

.uibutton.disabled {
  cursor: unset;
}

.uibutton.disabled .shdw {
  fill: rgba(0, 0, 0, 1%);
}

.uibutton.disabled .glow {
  fill: hsla(200, 10%, 80%, 10%);
}

.uibutton.disabled .srfc {
  fill: hsla(200, 10%, 60%, 25%);
}

.uibutton.disabled:hover>.glow,
.uibutton.disabled:active>.glow {
  fill: hsla(200, 10%, 80%, 10%);
}

.uibutton.disabled:active>.dn.glow,
.uibutton.disabled:active>.dn.srfc {
  display: none;
}

.uibutton.disabled:active>.up.glow,
.uibutton.disabled:active>.up.srfc {
  display: inline;
}

main {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

object {
  margin: auto;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

/* PAGE HTML STYLE */
html {
  background-color: #eeeeee;
  font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif, 'Andika';
  font-size: 16px;
  line-height: 1.4;
  color: #000000;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0px 0px;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
object,
audio {
  margin: 0;
}

h3 {
  margin-bottom: 20px;
}

main {
  text-align: left;
}

main>div {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

main>div.right:first-of-type {
  margin-left: 300px;
}

div h1 {
  margin-top: 0px;
  font-family: BlackRiver, 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif, 'Andika';
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: hsl(0, 100%, 30%);
}

div article {
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 15px;
  font-family: Georgia, serif;
  font-size: 14px;
  line-height: 1.25;
}

div article.righthalf {
  margin-left: 150px;
}

div article.lefthalf {
  margin-right: 150px;
}

div article p {
  margin-bottom: 5px;
}

/* div.oldpaper {
    height: 100%;
    background-color: hsl(35, 45%, 85%);
    background-image: url('../public/images/pageImages/jpg/old_paper.jpg');
    background-size: 100% 100%;
  } */
figure.pgbg {
  position: absolute;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: 0% 100%;
}

.centerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fullImage {
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.pg4 figure.pgbg {
  position: absolute;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: auto 150px;
}

.pg2 figure.pgbg {

  background-size: auto 150px;
}




.hilit {
  color: hsl(200, 100%, 25%);
  background-color: hsl(45, 100%, 80%);
  outline: 4px solid hsl(45, 100%, 80%);
}

/* TITLE PAGE SVG */
.black {
  fill: hsl(200, 100%, 10%);
}

.blue {
  fill: hsl(200, 100%, 25%);
}

.hilite {
  fill: hsl(45, 100%, 80%);
}

.red {
  fill: hsl(0, 100%, 30%);
}

.white {
  fill: hsl(200, 100%, 100%);
}

.hl1,
.hl2,
.hl3 {
  fill: none;
}

.h1 .hl1,
.hA .hl1,
.h1 #artwork .hl1,
.hA #artwork .hl1,
.h2 .hl2,
.hA .hl2,
.h2 #artwork .hl2,
.hA #artwork .hl2,
.h3 .hl3,
.hA .hl3 {
  fill: hsl(45, 100%, 80%);
}

.l1,
.l2 {
  fill: hsl(200, 100%, 10%);
}

.l3 {
  fill: hsl(0, 100%, 30%);
}

.h1 .l1,
.hA .l1,
.h1 #artwork .l1,
.hA #artwork .l1,
.h2 .l2,
.hA .l2,
.h2 #artwork .l2,
.hA #artwork .l2,
.h3 .l3,
.hA .l3 {
  fill: hsl(200, 100%, 25%);
}

/* END PAGE SVG */
.lastpage .l1,
.lastpage .l2 {
  fill: hsl(0, 100%, 30%);
}

.lastpage .h1 .l1,
.lastpage .hA .l1,
.h1 #artwork .l1,
.lastpage .hA #artwork .l1,
.lastpage .h2 .l2,
.lastpage .hA .l2,
.h2 #artwork .l2,
.lastpage .hA #artwork .l2 {
  fill: hsl(200, 100%, 25%);
}

/* SINGLE PROPERTY STYLES */
.cj {
  text-align: center !important;
}

div.playpausebtn {
  display: none;
}


/* .paper1
  {
      background-image: url('images/pageImages/png/back2.png');
  }
  .paper2
  {
      background-image: url('images/pageImages/jpg/back3.jpg');
  }
  .paper3
  {
      background-image: url('images/pageImages/jpg/back4.jpg');
  } */
/* .infoCard
  {
    text-align: left;
    padding: 1%;
  
    
  }
  .infoCard.green
  {
    background-color: #84B154;
    filter: drop-shadow(3px 3px 0px gray);
  }
  .infoCard.white
  {
    background-color: white;
    padding:2%;
  }
  .infoCard h2
  {
    font-size: 24px;
    font-weight: bold;
    color:aliceblue;
  }
  .infoCard #content
  {
    font-size: 12px;
  } */
.rbook {
  height: var(--stageHeight);
  width: var(--stageWidth);
  margin: auto;
}

.middleText {
  float: right;
  margin-top: 25%;
  margin-right: 2%;
  width: 70%;
  word-wrap: break-word;
}

.middleText2 {
  float: left;
  margin-top: 25%;
  margin-left: 4%;
  width: 70%;
  word-wrap: break-word;
}

.middleText3 {
  float: left;
  margin-top: 10%;
  margin-left: 15%;
  width: 80%;
  max-height: 60%;
  word-wrap: break-word;
}

.middleText4 {
  float: left;
  margin-top: 20%;
  margin-left: 15%;
  width: 80%;
  max-height: 50%;
  word-wrap: break-word;
}

.flipped {
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.flippedV {
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.flippedBoth {
  -o-transform: scaleY(-1) scaleX(-1);
  -webkit-transform: scaleY(-1) scaleX(-1);
  transform: scaleY(-1) scaleX(-1);
}

.abPos {
  position: absolute;
  pointer-events: all;
  cursor: move;
}

.genIcon {
  font-size: 64px;
  color: black;
  padding-bottom: 10px;
}

.fullHeight {
  height: 100%;
}

.linePos {
  position: absolute;
  left: 0;
  top: 0;
}

.leftEdge {
  position: absolute;
  left: 0;
  height: 100%;
  width: 25%;

}

.rightEdge {
  position: absolute;
  right: 0;
  height: 100%;
  width: 25%;

}


.middleText5 {
  float: left;
  margin-top: 60%;
  margin-left: 50%;
  word-wrap: break-word;
  transform: translate(-40%, -50%);
}

.smallText {
  font-size: small;
}

.regText {
  font-size: 24px;
}

.bigText {
  font-size: 20px;
}

.largeText {
  font-size: large;
}

.blankPage {
  background: gray;
}

.transformCenter {
  transform: translate(-50%, -50%);
}