<div class="notebook abcenter">
    <div class="back-button"></div>
    <div class="tab-line"></div>
    <div class="notebook__paperback"></div>
    <div class="dummy-line"></div>
    <p class="instruction-text">
      Here are your wallpapers. Choose the one you like best. You will get
      more of these as you work your way through the course. Tap the wallpaper
      you’d like to use. Also, if you want to change your wallpaper in the
      middle of a lesson, just tap “Controls” on the lesson screen and then
      hit “Wallpapers”.
    </p>
    <div class="card-collection"></div>
  </div>