<svg version="1.1" width="480" height="640" xmlns="http://www.w3.org/2000/svg" id="myCanvas">       

    <defs id="myDefs">
        <rect width="25" height="25" fill="gold" id="box1" />
        <rect width="25" height="25" fill="white" id="box2" />

        <circle cx="0" cy="0" r="25" fill="green" id="ball" />
        <text x="50%" y="100" class="white" id="scoreText">Score 0</text>
        
            <g id="ship" width="150" height="150">
               
                    <path class="cls-2"
                        d="M145.6,110.07c-2.62,20.49-34.1,36-70.48,36.1S7.2,130.78,4.51,110.3C1.6,88.16,33.06,68.78,75,68.71S148.44,87.91,145.6,110.07Z" />
                    <path class="cls-3"
                        d="M145.6,110.07c.83-6.49-1.3-12.72-5.76-18.3a124,124,0,0,0-14.4,4s-16.42,22.91-.88,22.94-10.49,22.13-49.48,24.53S-1.5,110.92,15.9,118.89s53.83,7,53.83,7c-9.4,0-40.34-31-44.21-33.21-1.8-1-8.91-.55-16.09.34-3.9,5.33-5.72,11.21-4.92,17.3,2.69,20.48,34.22,35.93,70.61,35.87S143,130.56,145.6,110.07Z" />
                    <path class="cls-4"
                        d="M140.73,125.41c2.66,4.59-1.15,11.77-8.51,16s-15.49,4-18.15-.58,1.14-11.78,8.51-16.05S138.07,120.83,140.73,125.41Z" />
                    <path class="cls-5"
                        d="M140.73,125.41a6.85,6.85,0,0,0-3.37-2.81,5.57,5.57,0,0,1,1.89,1.91c2.28,3.93-1,10.06-7.27,13.71s-13.25,3.42-15.53-.5c-2-3.42.23-8.51,5-12.18-6.6,4.32-9.88,11-7.36,15.33,2.66,4.58,10.79,4.84,18.15.58S143.39,130,140.73,125.41Z" />
                    <path class="cls-4"
                        d="M90.49,143.13c.05,5.31-6.8,9.67-15.31,9.75s-15.45-4.16-15.5-9.46,6.8-9.68,15.32-9.76S90.44,137.83,90.49,143.13Z" />
                    <path class="cls-5"
                        d="M90.49,143.13A6.75,6.75,0,0,0,88.94,139a5.48,5.48,0,0,1,.71,2.59c0,4.55-5.81,8.28-13.09,8.34s-13.21-3.56-13.26-8.1c0-3.95,4.4-7.28,10.35-8.13-7.88.5-14,4.67-14,9.7,0,5.3,7,9.53,15.5,9.46S90.54,148.44,90.49,143.13Z" />
                    <path class="cls-4"
                        d="M36.14,141.35c-2.72,4.57-10.84,4.73-18.15.38S7,130.16,9.66,125.6s10.84-4.74,18.16-.38S38.85,136.8,36.14,141.35Z" />
                    <path class="cls-5"
                        d="M36.14,141.35A6.78,6.78,0,0,0,37,137a5.67,5.67,0,0,1-.74,2.59c-2.32,3.9-9.27,4-15.52.32s-9.44-9.91-7.12-13.81c2-3.39,7.54-3.94,13.06-1.58-7-3.66-14.4-3.28-17,1-2.71,4.56,1,11.78,8.33,16.13S33.42,145.92,36.14,141.35Z" />
                    <path class="cls-6"
                        d="M150.07,97.2c0,15.8-33.55,28.66-75,28.73S0,113.25,0,97.45,33.55,68.78,75,68.71,150,81.39,150.07,97.2Z" />
                    <path class="cls-7"
                        d="M148.31,96.26c0,15.08-32.76,27.35-73.23,27.42S1.78,111.58,1.76,96.51,34.52,69.16,75,69.09,148.28,81.19,148.31,96.26Z" />
                    <path class="cls-8"
                        d="M75,69.09c-20.68,0-39.34,3.26-52.65,8.42a160,160,0,0,1,39.32-4.65c38.62-.06,70,11.72,70,26.33,0,10.21-15.27,19.09-37.65,23.53,31.3-3.16,54.34-13.82,54.32-26.46C148.28,81.19,115.45,69,75,69.09Z" />
                    <path class="cls-9"
                        d="M9.23,86.93S.49,94.28,6.41,101.84s26.05,15.57,45.22,17.9C51.63,119.74-5.64,108.48,9.23,86.93Z" />
                    <rect class="cls-2" x="73.94" y="4.26"
                        transform="translate(-0.03 0.13) rotate(-0.1)" />
                    <path class="cls-10"
                        d="M74.71,7.48A3.85,3.85,0,0,1,71,3.57a3.94,3.94,0,0,1,7.86.35A3.85,3.85,0,0,1,74.71,7.48Z" />
                    <path class="cls-11"
                        d="M78.8,4a3.65,3.65,0,0,1-3.54,2.37,3.7,3.7,0,0,1-3.49-3.9,3.81,3.81,0,0,1,.31-1.31A3.57,3.57,0,0,0,71,3.57,3.94,3.94,0,0,0,78.8,4Z" />
                    <path class="cls-12"
                        d="M74.32,29.43c-21.24,0-37.83,21-37.78,53.67,0,6.07,17.24,11,38.49,10.93S113.49,89,113.48,83C113.42,50.35,95.57,29.39,74.32,29.43Z" />
                    <path class="cls-13"
                        d="M113.48,83C113.49,89,96.27,94,75,94S36.55,89.17,36.54,83.1s17.21-11,38.45-11S113.47,76.9,113.48,83Z" />
                    <path class="cls-14"
                        d="M108.54,83c0,4.69-15,8.52-33.52,8.55s-33.54-3.75-33.54-8.44,15-8.51,33.51-8.55S108.53,78.29,108.54,83Z" />
                    <path class="cls-15"
                        d="M80,32.06c-.61-.37,25.11,3.75,31.11,49.83,0,0-4,4.41-13.17,5.84C97.9,87.73,104.6,47.05,80,32.06Z" />
                    <path class="cls-15"
                        d="M53.69,46.79c-1.31-.86-1.27-3.26.1-5.37s3.54-3.13,4.85-2.27,1.27,3.25-.1,5.36S55,47.63,53.69,46.79Z" />
                    <path class="cls-15"
                        d="M47.2,83.82c-6.14-2.76-6.57-15.21-.93-27.85s15.2-20.65,21.35-17.9,6.56,15.21.92,27.84S53.35,86.55,47.2,83.82Z" />
                    <svg class="cls-16">
                        <path class="cls-7"
                            d="M22.08,99.27a3.75,3.75,0,1,1-3.75-3.74A3.74,3.74,0,0,1,22.08,99.27Z" />
                        <path class="cls-7"
                            d="M56.64,110.87a3.75,3.75,0,1,1-3.75-3.74A3.75,3.75,0,0,1,56.64,110.87Z" />
                        <path class="cls-7"
                            d="M128.61,99.09a3.75,3.75,0,1,0,3.74-3.75A3.76,3.76,0,0,0,128.61,99.09Z" />
                        <path class="cls-7"
                            d="M94.09,110.8a3.75,3.75,0,1,0,3.74-3.75A3.76,3.76,0,0,0,94.09,110.8Z" />

                        <path class="cls-17"
                            d="M21.46,98.51a3.75,3.75,0,1,1-3.76-3.74A3.74,3.74,0,0,1,21.46,98.51Z" />
                        <path class="cls-17" d="M56,110.11a3.75,3.75,0,1,1-3.76-3.74A3.76,3.76,0,0,1,56,110.11Z" />
                        <path class="cls-17" d="M128,98.33a3.75,3.75,0,1,0,3.74-3.75A3.74,3.74,0,0,0,128,98.33Z" />
                        <path class="cls-17" d="M93.47,110a3.75,3.75,0,1,0,3.74-3.75A3.74,3.74,0,0,0,93.47,110Z" />
                        <path class="cls-8"
                            d="M82.11,109.93c0,4.59-2.11,8.32-4.72,8.32s-4.74-3.71-4.75-8.31,2.11-8.31,4.72-8.32S82.1,105.34,82.11,109.93Z" />
                        <path class="cls-10"
                            d="M82,108.89c0,4.59-2.11,8.32-4.72,8.32s-4.74-3.71-4.75-8.31,2.11-8.31,4.72-8.32S82,104.3,82,108.89Z" />
                        <path class="cls-11"
                            d="M77.27,100.59c1.85,1,3.19,3.89,3.2,7.26,0,4.27-2.11,7.73-4.72,7.73a3.29,3.29,0,0,1-1.67-.51,4,4,0,0,0,3.16,2.14c2.61,0,4.72-3.73,4.72-8.32S79.86,100.65,77.27,100.59Z" />
                        <path class="cls-8"
                            d="M122.82,101.69c1.83,4.21,1.36,8.47-1,9.51s-5.83-1.53-7.66-5.74-1.37-8.47,1-9.51S121,97.48,122.82,101.69Z" />
                        <path class="cls-10"
                            d="M122.27,100.8c1.82,4.2,1.37,8.47-1,9.51s-5.83-1.53-7.66-5.74-1.36-8.47,1-9.51S120.44,96.58,122.27,100.8Z" />
                        <path class="cls-11"
                            d="M114.67,95c2.12.23,4.47,2.3,5.82,5.39,1.7,3.92,1.13,7.93-1.26,9a3.2,3.2,0,0,1-1.74.19,4,4,0,0,0,3.75.72c2.4-1,2.85-5.31,1-9.51S117.07,94.06,114.67,95Z" />
                        <path class="cls-8"
                            d="M37.58,105.87c-2,4.11-5.59,6.51-7.93,5.35s-2.59-5.43-.55-9.55,5.59-6.51,7.93-5.35S39.62,101.75,37.58,105.87Z" />
                        <path class="cls-10"
                            d="M37.91,104.87c-2,4.12-5.59,6.51-7.93,5.35s-2.59-5.43-.56-9.55,5.59-6.51,7.93-5.35S39.94,100.76,37.91,104.87Z" />
                        <path class="cls-11"
                            d="M37.4,95.36c1.2,1.76,1.14,4.89-.36,7.92-1.89,3.82-5.33,6-7.67,4.82a3.15,3.15,0,0,1-1.26-1.2A4,4,0,0,0,30,110.22c2.34,1.16,5.89-1.23,7.93-5.35S39.69,96.55,37.4,95.36Z" />
                    </svg></g>
                    <!--END SHIP-->

                    <!--ROCK-->

                    <radialGradient id="radial-gradient" cx="1368.62" cy="-4178.7" r="241.11"
                    gradientTransform="matrix(0.51, 0, 0, 0.51, -683.96, 2114.31)" gradientUnits="userSpaceOnUse">
                    <stop offset="0.41" stop-color="#a56868" />
                    <stop offset="0.91" stop-color="#a56868" />
                </radialGradient>
                <radialGradient id="radial-gradient-2" cx="1570.6" cy="-4061.2" r="317.72"
                    gradientTransform="matrix(0.51, 0, 0, 0.51, -683.96, 2114.31)" gradientUnits="userSpaceOnUse">
                    <stop offset="0.41" stop-color="#593636" />
                    <stop offset="0.91" stop-color="#a56868" />
                </radialGradient>
                <radialGradient id="radial-gradient-3" cx="1570.62" cy="-4061.2" r="317.73" xlink:href="#radial-gradient-2" />
                <radialGradient id="radial-gradient-4" cx="1570.61" cy="-4061.21" r="317.73" xlink:href="#radial-gradient-2" />
                <radialGradient id="radial-gradient-5" cx="1570.61" cy="-4061.21" r="317.73" xlink:href="#radial-gradient-2" />
                <radialGradient id="radial-gradient-6" cx="1570.61" cy="-4061.21" r="317.73" xlink:href="#radial-gradient-2" />
                <radialGradient id="radial-gradient-7" cx="1570.61" cy="-4061.21" r="317.75" xlink:href="#radial-gradient-2" />
                <radialGradient id="radial-gradient-8" cx="1570.6" cy="-4061.2" r="317.72" xlink:href="#radial-gradient-2" />
                <radialGradient id="radial-gradient-9" cx="1570.56" cy="-4061.2" r="317.66" xlink:href="#radial-gradient-2" />
                <radialGradient id="radial-gradient-10" cx="1570.61" cy="-4061.2" r="317.72" xlink:href="#radial-gradient-2" />
                <radialGradient id="radial-gradient-11" cx="1570.62" cy="-4061.2" r="317.74" xlink:href="#radial-gradient-2" />
                <radialGradient id="radial-gradient-12" cx="1570.61" cy="-4061.21" r="317.71" xlink:href="#radial-gradient-2" />
                <radialGradient id="radial-gradient-13" cx="1570.61" cy="-4061.21" r="317.73" xlink:href="#radial-gradient-2" />
                <radialGradient id="radial-gradient-14" cx="1570.62" cy="-4061.21" r="317.83" xlink:href="#radial-gradient-2" />
                <radialGradient id="radial-gradient-15" cx="1570.61" cy="-4061.2" r="317.76" xlink:href="#radial-gradient-2" />
            
            <g class="rock-1" id="rock" width="100" height="100">
                <g id="Layer_2" data-name="Layer 2">
                    <g id="Layer_1-2" data-name="Layer 1">
                        <path class="rock-2"
                            d="M111,51c.2-7,2.64-14.24.58-21.18C109.9,24,105.07,19.29,99.93,16.33c-6-3.45-13.07-2.95-19.15-6.08-2.88-1.48-5-4.07-7.65-5.93A23,23,0,0,0,64.41.45C59-.7,52.85.45,47.85,2.76c-2.91,1.35-5.73,2.85-8.75,4s-6.17,1.54-9.16,2.6A28.14,28.14,0,0,0,17.5,18.47c-1.47,1.86-1.76,4.35-2.09,6.61a10.89,10.89,0,0,1-.25,1.29c-3.19,4.79-7.72,8.5-11,13.31C.18,45.4-.45,52.6.24,59.33c.71,6.89,5.44,13,10,17.85,2.52,2.67,4.77,5.55,7.44,8.08s3.83,5.76,5.69,8.65c3.6,5.57,9.52,7.12,15.75,5.46,3.23-.85,6.27-2.29,9.45-3.32,4.29-1.38,8.52-.78,12.83.15a49.1,49.1,0,0,0,21.94,0c6.07-1.39,12.59-3.46,17.85-6.87C113.82,81.21,110.68,63.61,111,51Z" />
                        <path class="rock-3"
                            d="M111,51c.2-7,2.64-14.24.58-21.18C109.9,24,105.07,19.29,99.93,16.33c-6-3.45-13.07-2.95-19.15-6.08-2.88-1.48-5-4.07-7.65-5.93A23,23,0,0,0,64.41.45C59-.7,52.85.45,47.85,2.76c-2.91,1.35-5.73,2.85-8.75,4s-6.17,1.54-9.16,2.6A28.14,28.14,0,0,0,17.5,18.47c-1.47,1.86-1.76,4.35-2.09,6.61a10.89,10.89,0,0,1-.25,1.29c-3.19,4.79-7.72,8.5-11,13.31C.18,45.4-.45,52.6.24,59.33c.71,6.89,5.44,13,10,17.85,2.52,2.67,4.77,5.55,7.44,8.08s3.83,5.76,5.69,8.65c3.6,5.57,9.52,7.12,15.75,5.46,3.23-.85,6.27-2.29,9.45-3.32,4.29-1.38,8.52-.78,12.83.15a49.1,49.1,0,0,0,21.94,0c6.07-1.39,12.59-3.46,17.85-6.87C113.82,81.21,110.68,63.61,111,51ZM86.41,28.1c-.94,1.55-2.73,2.26-4.33,3a12,12,0,0,0-5.72,4.49c-1.47,2.23-2.6,4.68-3.88,7-1,1.79-2,3.93-3.71,5.13-1.07.74-2.28,1.17-3.35,1.88-1.54,1-1.61,2.36-2,4a3.64,3.64,0,0,1-3.25,3c-5.12,1.12-10,4.12-12.06,9.1,3.42-1.53,7.09-3.36,10.85-2.15a.42.42,0,0,1,0,.8c-4.58,1.43-9,6.79-10.18,11.39-.5,2-.62,7.84-4,7.57-2-.16-3.69-1.41-5.56-2-2.57-.8-5.39-1.19-8-.12-1.28.53-2.58,2-4,1.75-1.88-.28-2-3.17-4.15-3.1-1.59,0-3,.49-4.43-.58A43,43,0,0,1,15,75.69c-3.09-3.11-6.74-6-9.35-9.55C2.26,61.53,1.47,55.2,2.26,49.65A26.9,26.9,0,0,1,3.39,44.9,25.3,25.3,0,0,1,10,35.31a35.24,35.24,0,0,1,5-3.51c2.53-1.74,2.17-4,2.14-6.76,0-.33.47-.57.7-.28a12.45,12.45,0,0,1,2,5.12c.64-3.38,1.4-7.35,4.67-8.94.91-.44,2.89-1.65,3.93-1.22,1.34.55,2.2,1.8,3.24,2.78-.56-1.81-1.29-3.57-1.79-5.41a.43.43,0,0,1,.29-.51C32,16,32.62,13.69,34.43,13.2A6.61,6.61,0,0,1,36.55,13a11.14,11.14,0,0,0-1.12-1.16.41.41,0,0,1,.18-.68,17,17,0,0,0,3.5-1.51c-.73,0-1.46,0-2.2,0-.5,0-.5-.64-.1-.81,6.55-2.7,12.48-6.81,19.77-7.22,2.47-.13,5.61.12,7.07,2.42,1,1.6.06,5.05-.56,6.64-.13.34-.71.44-.79,0a29.87,29.87,0,0,1-.38-3.66,16.91,16.91,0,0,1-1.16,3.59.42.42,0,0,1-.56.14C58.8,10,57.41,9.18,56,8.34l.41.95c.14.33-.2.83-.57.56-1.41-1-5.22-2.54-6.65-.76-1.3,1.62,1.31,4,1.9,5.5a.4.4,0,0,1-.19.46c-2.48,1.21-6.2,1.53-7.66,4.11,2.71.93,6,.32,8.77-.15,1.29-.22,2.59-.46,3.88-.71.63-.12,1.52-.41,2.13-.05,1.57.93.32,3.57-.35,4.65a48.56,48.56,0,0,0-2.82,4.75,2.43,2.43,0,0,0,0,.38c3-1.1,4.67-4.21,7.23-6a.42.42,0,0,1,.6.25,8.9,8.9,0,0,1,.24,2.12,11.44,11.44,0,0,0,.13,1.55c.17.8.88.62,1.12-.07.5-1.46.63-3.12,1.39-4.49.39-.7,1-1.43,1.88-1,1.39.64,2.17,1.81,3.71,2a7.09,7.09,0,0,0-1.39-2.21.41.41,0,0,1,.58-.58,25,25,0,0,0,8.82,5.17c2.43.76,5,1.32,7.11,2.82A.43.43,0,0,1,86.41,28.1Z" />
                        <path class="rock-4"
                            d="M17.3,30.64C15.41,32.05,14,33.89,12,35.3a27.22,27.22,0,0,0-4.3,3.94,20.57,20.57,0,0,0-4.85,12A21.42,21.42,0,0,0,6.28,64.61a39.35,39.35,0,0,0,5,5.9,26,26,0,0,0,4.34,4.31c.13.08.41-.18.3-.31-5.81-6.35-11.62-12.77-12-21.81A19.74,19.74,0,0,1,8.41,39.56,31.18,31.18,0,0,1,13,35.26c1.64-1.36,2.8-3.13,4.41-4.49C17.54,30.66,17.43,30.54,17.3,30.64Z" />
                        <path class="rock-5"
                            d="M36.94,9.74c-.41.14-1.74,0-2.67.19C34,9.31,32.49,9.84,32,10a40.89,40.89,0,0,0-7.83,3.55,14.32,14.32,0,0,0-3,2.47c-1.41,1.19-2.91,2.76-3,4.26h0a3.64,3.64,0,0,0,0,1c.06.46-.12.94,0,1.42,0,.2.37-.06.38-.19A6.08,6.08,0,0,1,19,21.17a1.53,1.53,0,0,0,0-.38,6.74,6.74,0,0,0,1.68-.41c0,.14.05.29.08.46A11.34,11.34,0,0,1,21,22.28a5.07,5.07,0,0,1,.12,1.6c-.07.27.31.13.39,0a7.07,7.07,0,0,0,.3-2.21,5.83,5.83,0,0,0,0-1.32,2.54,2.54,0,0,1,0-.39,26.29,26.29,0,0,0,4.86-2.79l.11.16c.23.39.47.77.68,1.18.08.17.38,0,.33-.2a8.89,8.89,0,0,0-.49-1.2,2.08,2.08,0,0,1-.13-.3l.27-.2c.19.35.42.68.57,1A15.64,15.64,0,0,0,29.31,20c.1.13.37-.11.33-.25-.28-.9-.41-1.82-.75-2.71a12.08,12.08,0,0,0-.48-1.16l1.06-.81c.31-.24.61-.49.91-.74a29.83,29.83,0,0,0,2.52-2.07,1,1,0,0,0,.16-.19c.23,0,.48,0,.69.08.52.09,1,.27,1.55.4.14,0,.42-.27.24-.35a8,8,0,0,0-2-.85l.1-.1.23,0a4.39,4.39,0,0,1,1.13.15c.08,0,.23-.15.13-.19-.33-.1-.66-.26-1-.34A10,10,0,0,0,37,10C37.11,9.94,37.18,9.65,36.94,9.74Zm-3.79,1.12c-.07,0-.18.1-.14.17-.22-.41-7.75,3.85-8.26,4.2a31.7,31.7,0,0,0-5,3.86,4.8,4.8,0,0,1,0-.74l.05-.06a22.2,22.2,0,0,1,8.8-6.3c1.22-.48,2.45-.93,3.68-1.38C33.27,10.24,33.41,10.44,33.15,10.86Z" />
                        <path class="rock-6"
                            d="M39.94,91.13c-.63-2.92-4.56-5.88-7.51-5.1l0,0c-1.44-.15-2.86.09-3,1.45-.26,3,4.5,5.35,6.81,6S40.5,93.76,39.94,91.13Z" />
                        <path class="rock-7"
                            d="M95,40.68c-4.27,1.73-9,5.58-9.47,10.46a3.26,3.26,0,0,0-.49-.65,15.92,15.92,0,0,1,.51-3.86c0-.16-.19-.05-.22,0a13.29,13.29,0,0,0-.79,3.39,4.89,4.89,0,0,0-3.19-.73,9.23,9.23,0,0,0-2.63.18,10.57,10.57,0,0,1-.32-2.44c0-1.27.26-3.7,1.17-4.71.14-.15,0-.24-.17-.13-1.21,1-1.52,3.1-1.75,4.56a11.19,11.19,0,0,0,0,3,18.92,18.92,0,0,0-3.94,1.84A36,36,0,0,0,68.79,55l-.28-.27c-.29-.31-.58-.61-.86-.93a5.24,5.24,0,0,0-.9-.86,8,8,0,0,1-.91-.65c-.11-.11-.37.12-.27.24a7.45,7.45,0,0,0,.65.61,12,12,0,0,1,1,1.07l.87,1.09.16.19-.45.43-.29-.27a5.53,5.53,0,0,0-.78-.75c-.1-.06-.31.15-.22.23a5.47,5.47,0,0,1,.71.88l.21.25c-.6.57-1.19,1.16-1.73,1.78a9.73,9.73,0,0,0-3.55-.26,15.12,15.12,0,0,0-6.56,1.84c-.09.05-.12.23,0,.18a16.36,16.36,0,0,1,6.94-1.3,10,10,0,0,1,2.43.4l-.11.13a15.25,15.25,0,0,0-3.1,6.51,8.74,8.74,0,0,0-3.48,1.66,13.75,13.75,0,0,0-2.2,2.31c-.51.67-.73,1.93-1.32,2.48-.06,0-.07.19.05.14.87-.35,1.55-2.09,2.12-2.76a10.05,10.05,0,0,1,4.72-2.92,8,8,0,0,0,0,1A3.87,3.87,0,0,0,62,69.19a3,3,0,0,0-.94.69c-.46.49-.81,1.08-1.27,1.59-.15.16.06.28.2.15.36-.34.66-.72,1-1.09a5.48,5.48,0,0,1,.6-.58,3.78,3.78,0,0,1,.67-.33,4.15,4.15,0,0,0,1.14,1.07,1.76,1.76,0,0,0-.68.73,2.56,2.56,0,0,1-.22.35c0,.07-.15.16-.1.25h0s.06,0,.09,0c.2,0,.34-.27.46-.43a4.77,4.77,0,0,1,.75-.74,8.94,8.94,0,0,0,4.19,1,30.26,30.26,0,0,0,8.37-1.08,2.93,2.93,0,0,0,.41,1,6.1,6.1,0,0,0,.84,1.44c.1.11.38-.1.31-.23a4.64,4.64,0,0,1-.4-1.48c-.06-.28-.19-.55-.28-.83,0-.06,0-.13,0-.19,3.53-1.18,6.63-3.27,8.14-6.73a16.83,16.83,0,0,0,1.32-5.85,4,4,0,0,1,.47-.22c.24-.08.5-.13.74-.19s.33-.34.1-.31a3.81,3.81,0,0,0-1.29.3,18.13,18.13,0,0,0,0-2h0a4.27,4.27,0,0,1,1.36-.77c.33-.13.65-.29,1-.44.16-.07.33-.14.51-.2-.13,0,1.15-.37.53-.06,0,0-.05.09,0,.07a3.29,3.29,0,0,0,.46-.23s.09-.1,0-.13c-.8-.5-2.18.24-3,.54a7.48,7.48,0,0,0-1,.49,17.39,17.39,0,0,0-.27-1.76c0-.14-.06-.27-.09-.4.73-2.39,1.18-4.65,2.7-6.73,1.64-2.25,4-3.49,6.21-5C95.16,40.87,95.23,40.58,95,40.68ZM84.34,63.1c-2,6.23-9.62,7.12-15.24,7.61-3,.25-6.08-.64-6.45-3.9a.71.71,0,0,0,.14.1c1.2,1.42,4.56,1.61,6,1.69,2.61.15,5.16-1.37,7.32-2.66s5.1-2.87,6.44-4.95a13.46,13.46,0,0,0,1.6-4.46c.28-1.23.22-2.63.41-3.89.15.42.27.83.36,1.17A16.81,16.81,0,0,1,84.34,63.1Z" />
                        <path class="rock-8"
                            d="M106,27.26c0-1.19-1.13-2.71-1.62-3.55a15.24,15.24,0,0,0-6.14-6c-1-.52-3-1.23-4.31-.73a20.07,20.07,0,0,0-3,.53,23.5,23.5,0,0,1-4.59-.2c-.06,0-.22.11-.14.17,1.68,1.33,4.43.9,6.61.29a1.76,1.76,0,0,0-.11,1.38,26,26,0,0,1-3.08,1c-.08,0-.22.2-.09.2a14.51,14.51,0,0,0,3.36-.62A12.78,12.78,0,0,0,94.24,22a13.93,13.93,0,0,0,1.24,1.54l-.25.22a.57.57,0,0,1-.13.08s-.12.07-.06,0S95,23.9,95,24s.38-.05.69-.28l.24.24a3.34,3.34,0,0,1-.6.37c-.13.07-.22.35,0,.26a4.37,4.37,0,0,0,.78-.45l.61.58c-.47.27-.92.58-1.36.87a10.38,10.38,0,0,0-1.17.93c-.34.29-.71.84-1.11,1.05,0,0-.12.15,0,.15s.2,0,.35-.18c.49-.45,1-.86,1.55-1.28A13.89,13.89,0,0,1,97,25c.44.38.9.74,1.37,1.08l-.19.21a21.76,21.76,0,0,0-1.79,2.38c-.1.15.07.19.16.07.53-.68,1.07-1.36,1.66-2a4.94,4.94,0,0,1,.47-.45c.55.38,1.1.73,1.66,1.05-.37.6-.61,1.34-.93,1.93-.1.17.15.12.22,0,.26-.4.48-.83.71-1.24a3.89,3.89,0,0,1,.34-.52c.32.17.64.35,1,.5a8.87,8.87,0,0,0,1.66.62,7.35,7.35,0,0,0-1.46,3.75c0,.18.27,0,.3-.09a12.16,12.16,0,0,1,.87-2,7.36,7.36,0,0,0,.78-1.53,2.77,2.77,0,0,0,.91,0,14.25,14.25,0,0,0-.46,5.07c0,.21.32,0,.33-.13A41.33,41.33,0,0,1,106,27.43.32.32,0,0,0,106,27.26Zm-1.8.5c0-.08.05-.18.07-.24a.15.15,0,0,0-.07-.18.07.07,0,0,0-.06,0c.1-1.27-4-5.41-4.42-5.74-.65-.53-4.71-3.47-5.75-2.83,0-.63.29-1.08,1.41-.88A10,10,0,0,1,99.84,20a18.52,18.52,0,0,1,4.89,6.56C105.18,27.53,104.83,27.8,104.21,27.76Z" />
                        <path class="rock-9"
                            d="M75.82,19.21C73.39,18.3,71,17.3,68.6,16.5A1.66,1.66,0,0,0,68,15a2.62,2.62,0,0,1,.42-.11c1.85-.43,3.76-.65,5.57-1.25.12,0,.25-.33,0-.28-1.58.4-3.24.53-4.85.78-.61.09-1.21.21-1.81.33a14.43,14.43,0,0,0-1.49-1c.23-.17.44-.36.59-.46a11.45,11.45,0,0,0,1.85-1.31c.13-.12,0-.25-.11-.13a28.8,28.8,0,0,1-2.79,1.65l-.5-.19A.64.64,0,0,1,65,13c.22-.28.47-.55.68-.84s-.1-.25-.22-.1c-.26.33-.57.64-.84,1-.22-.07-.44-.12-.66-.17a9.7,9.7,0,0,0-1.82-.58,19.32,19.32,0,0,0-.13-2,18.71,18.71,0,0,0-.25-4c0-.13-.26,0-.24.15A14.72,14.72,0,0,1,61.39,10c0,.68,0,1.37,0,2.05A12.48,12.48,0,0,0,60,11.93a8.71,8.71,0,0,0-.65-1.5c-.07-.17-.35,0-.31.18a7.47,7.47,0,0,0,.29.79c.06.16.11.33.16.5a11.57,11.57,0,0,0-2.54.17l-.52-.38c-.67-.46-1.74-.88-2.11-1.66-.07-.16-.35.05-.3.19.24.74,1.12,1.37,1.7,1.85a2.8,2.8,0,0,1,.32.29,2.86,2.86,0,0,0-.64.36c-.4-.11-.84-.16-1.24-.24-.89-.17-1.78-.24-2.66-.48-.08,0-.25.14-.14.18a14.11,14.11,0,0,0,2,.54c.54.11,1.11.33,1.67.44-.27.63.35,1.33,1.17,1.92l-.3.12a2.87,2.87,0,0,0-1.11.61c-.11.12,0,.21.13.15a7.49,7.49,0,0,1,1.73-.58l.36.22c-.73.3-1.45.62-2.16.89a35.87,35.87,0,0,1-4.76,1.83c-.12,0-.27.28-.08.25a20.55,20.55,0,0,0,3.6-1.13C55,17,56.41,16.54,57.77,16l.47.23A15.82,15.82,0,0,0,61,17.1c-.1.32-.19.64-.27,1a26.32,26.32,0,0,0-.61,2.77c0,.22.35,0,.38-.11a32.6,32.6,0,0,1,1.16-3.5,15.88,15.88,0,0,0,2.67.25c.13.23.31.45.45.67s.31-.09.26-.2l-.21-.47h.53l.34.31c.37.36.75.7,1.13,1,.14.12.46-.15.34-.3-.3-.34-.58-.69-.86-1a5,5,0,0,0,1.47-.21c.93.21,1.86.39,2.77.64,1.7.48,3.37,1.13,5.08,1.56C75.75,19.51,76,19.26,75.82,19.21Z" />
                        <path class="rock-10"
                            d="M95.57,84.45c-1.64.63-3.24,1.35-4.81,2.12a35.47,35.47,0,0,0-4.9,2.73,6.46,6.46,0,0,0-3,2.51c-.95,1.74,1.92,1.6,2.91,1.49a26,26,0,0,0,9.07-3.21c2.08-1.12,5.24-3,6.43-5.09C103.18,81.58,96.57,84.07,95.57,84.45Z" />
                        <path class="rock-11"
                            d="M27.28,45.83a25,25,0,0,1-6.68,1c-1.48,0-2.86-.2-4.33-.16a12,12,0,0,0-1-4.49A9.86,9.86,0,0,1,17,42c.7-.09,1.4-.33,2.09-.49.14,0,.32-.34.09-.3-.76.12-1.52.28-2.28.36a4.22,4.22,0,0,0-1.76.38,2.12,2.12,0,0,0-.11-.21l.54-.09a2.89,2.89,0,0,0,.8-.31c.17-.1.15-.34-.07-.23a2.46,2.46,0,0,1-1.1.25,1.29,1.29,0,0,0-.35,0,3.42,3.42,0,0,0-.4-.52l.44,0a8.42,8.42,0,0,0,2-.9,4.88,4.88,0,0,0,2.48-2.23c.06-.14-.15-.08-.19,0a6.62,6.62,0,0,1-4.54,2,2.27,2.27,0,0,0-1.9.51,1.72,1.72,0,0,0-1.06.61,9,9,0,0,0-1.82,3.22,23.46,23.46,0,0,0-2.45,14.5c.21,1.07.75,3.38,2.21,3.42a8.45,8.45,0,0,0,1.74.77c.83.35,1.64.76,2.44,1.19,1.16.63,1.58,1.59,2.4,2.53.09.1.3-.09.27-.2A9.65,9.65,0,0,0,15.51,64c-.36-.58-1.43-1-2-1.24a20.57,20.57,0,0,0-2.53-1l-.3-.08a5.82,5.82,0,0,0,2.26-2.39l1,.31a13.18,13.18,0,0,1,2,1.05c.13.07.37-.19.23-.28a14.22,14.22,0,0,0-1.85-1.19l-1-.44c.24-.45.45-.89.64-1.27.07-.14.13-.29.2-.43l1.28.28c1.28.27,2.62.68,3.91.83.17,0,.44-.3.2-.36-.67-.15-1.3-.51-1.95-.72s-1.19-.3-1.78-.46c-.38-.1-.84-.28-1.29-.41a24.31,24.31,0,0,0,1.34-4.35c.08-.06.22-.22.09-.26l0,0a21.85,21.85,0,0,0,.34-2.43c.36,0,.72,0,1.07.06.69.07,1.36.26,2.05.28.13,0,.36-.27.16-.3-.66-.07-1.3-.32-1.95-.44a6.81,6.81,0,0,0-1.29-.11c0-.3,0-.61,0-.91.24,0,.52,0,.89.06,1.17.08,2.37.26,3.54.24,2.05,0,4.65-1.09,6.52-1.85C27.33,46.06,27.47,45.78,27.28,45.83Zm-12.67-3c-1.24,2.8-2.84,5.28-3.53,8.32a20.31,20.31,0,0,0,.44,8.63c-.85.85-1.82,1.13-2.54-.5a9.53,9.53,0,0,1-.57-3.77.16.16,0,0,0,.11,0h0a3.82,3.82,0,0,0,.93-.1.43.43,0,0,0,.3-.27.13.13,0,0,0-.06-.17h0c-.4-.11-.9,0-1.26-.26h0c0-.45,0-.92,0-1.39a4.41,4.41,0,0,0,.91-.3c.17-.08.31-.44,0-.34a2.65,2.65,0,0,1-.89.17A31.1,31.1,0,0,1,9,48.14c0,.09.18,0,.2-.06a42.16,42.16,0,0,1,1.94-5.42c1.11-2.56,2.66-1.43,3.57,0A.32.32,0,0,0,14.61,42.8Z" />
                        <path class="rock-12"
                            d="M9.89,50.47H9.4A1,1,0,0,1,9,50.3c-.11,0-.25.08-.28.17-.16.52.81.35,1.06.33S10.09,50.47,9.89,50.47Z" />
                        <path class="rock-13"
                            d="M49.37,89.37h0c-.09-1.41-2.34-2.31-3.24-1a1,1,0,0,0,.18,1.4,2.49,2.49,0,0,0,1.14,1,1.42,1.42,0,0,0,1.85-.88,1.16,1.16,0,0,0,.07-.4C49.42,89.48,49.44,89.4,49.37,89.37Z" />
                        <path class="rock-14"
                            d="M25.75,84.8C25,84,24.26,83,23,83.34A1.24,1.24,0,0,0,22.15,85a.71.71,0,0,0,.09.46c.63,1.06,2.73,2.44,3.88,1.49C26.92,86.25,26.3,85.37,25.75,84.8Z" />
                        <path class="rock-15"
                            d="M97.18,65.45a2.24,2.24,0,0,0-1.23.67,2.08,2.08,0,0,0-.7,1.22.31.31,0,0,0,.18.31,1.33,1.33,0,0,0,1.16-.2c.3-.2.86-.71.78-1.14a2.27,2.27,0,0,0,.18-.44C97.62,65.59,97.46,65.43,97.18,65.45Z" />
                        <path class="rock-16"
                            d="M106.91,50.76a1.69,1.69,0,0,0-2.61-.15A5.51,5.51,0,0,0,103,52.68a7.56,7.56,0,0,0-1.15,2.87,4.46,4.46,0,0,0,.17,1.79,2.54,2.54,0,0,0,0,.29,1.67,1.67,0,0,0,2.48,1.22,3.66,3.66,0,0,0,2.08-1.32A6.27,6.27,0,0,0,106.91,50.76Z" />
                        <path class="rock-17"
                            d="M104.43,44.29a.42.42,0,0,0-.47-.12.71.71,0,0,0-.58.65,1.55,1.55,0,0,0-.06.31c0,.16.14.23.27.21A.7.7,0,0,0,104,45l0-.07.11,0C104.35,44.78,104.58,44.51,104.43,44.29Z" />
                        <path class="rock-18"
                            d="M83.08,20.5a1.34,1.34,0,0,0-1.89-.13c-.09,0-.22.12-.2.2s0,0,0,0a.46.46,0,0,0,.13.7,1.54,1.54,0,0,0,.32.15,1.43,1.43,0,0,0,1,.45A.85.85,0,0,0,83.08,20.5Z" />
                        <path class="rock-4"
                            d="M61.33,3.12c-7.19-1.73-14.61,1.58-20.89,5-.13.07-.17.32,0,.25,3.29-1.08,6.41-2.61,9.72-3.68a26.48,26.48,0,0,1,11-1.29C61.31,3.36,61.49,3.15,61.33,3.12Z" />
                    </g>
                </g>
            </g>

    </defs>
    
    <!-- background-->
    <rect width="100%" height="100%" fill="black" />
    <rect width="75%" height="10%" x="12%" y="45%" fill="gray" rx="10" ry="10" id="bar" />

    <!--Play Area
        Place all dynamically created objects here
    -->
    <svg id="playArea">

    </svg>
</svg>
