<svg version="1.1" width="480" height="640" xmlns="http://www.w3.org/2000/svg" id="myCanvas">       

    <defs id="myDefs">
        <rect width="25" height="25" fill="gold" id="box1" />
        <rect width="25" height="25" fill="white" id="box2" />

        <circle cx="0" cy="0" r="25" fill="green" id="ball" />
        <text x="50%" y="100" class="white" id="scoreText">Score 0</text>
        
            <g id="ship" width="150" height="150">
               
                    <path class="cls-2"
                        d="M145.6,110.07c-2.62,20.49-34.1,36-70.48,36.1S7.2,130.78,4.51,110.3C1.6,88.16,33.06,68.78,75,68.71S148.44,87.91,145.6,110.07Z" />
                    <path class="cls-3"
                        d="M145.6,110.07c.83-6.49-1.3-12.72-5.76-18.3a124,124,0,0,0-14.4,4s-16.42,22.91-.88,22.94-10.49,22.13-49.48,24.53S-1.5,110.92,15.9,118.89s53.83,7,53.83,7c-9.4,0-40.34-31-44.21-33.21-1.8-1-8.91-.55-16.09.34-3.9,5.33-5.72,11.21-4.92,17.3,2.69,20.48,34.22,35.93,70.61,35.87S143,130.56,145.6,110.07Z" />
                    <path class="cls-4"
                        d="M140.73,125.41c2.66,4.59-1.15,11.77-8.51,16s-15.49,4-18.15-.58,1.14-11.78,8.51-16.05S138.07,120.83,140.73,125.41Z" />
                    <path class="cls-5"
                        d="M140.73,125.41a6.85,6.85,0,0,0-3.37-2.81,5.57,5.57,0,0,1,1.89,1.91c2.28,3.93-1,10.06-7.27,13.71s-13.25,3.42-15.53-.5c-2-3.42.23-8.51,5-12.18-6.6,4.32-9.88,11-7.36,15.33,2.66,4.58,10.79,4.84,18.15.58S143.39,130,140.73,125.41Z" />
                    <path class="cls-4"
                        d="M90.49,143.13c.05,5.31-6.8,9.67-15.31,9.75s-15.45-4.16-15.5-9.46,6.8-9.68,15.32-9.76S90.44,137.83,90.49,143.13Z" />
                    <path class="cls-5"
                        d="M90.49,143.13A6.75,6.75,0,0,0,88.94,139a5.48,5.48,0,0,1,.71,2.59c0,4.55-5.81,8.28-13.09,8.34s-13.21-3.56-13.26-8.1c0-3.95,4.4-7.28,10.35-8.13-7.88.5-14,4.67-14,9.7,0,5.3,7,9.53,15.5,9.46S90.54,148.44,90.49,143.13Z" />
                    <path class="cls-4"
                        d="M36.14,141.35c-2.72,4.57-10.84,4.73-18.15.38S7,130.16,9.66,125.6s10.84-4.74,18.16-.38S38.85,136.8,36.14,141.35Z" />
                    <path class="cls-5"
                        d="M36.14,141.35A6.78,6.78,0,0,0,37,137a5.67,5.67,0,0,1-.74,2.59c-2.32,3.9-9.27,4-15.52.32s-9.44-9.91-7.12-13.81c2-3.39,7.54-3.94,13.06-1.58-7-3.66-14.4-3.28-17,1-2.71,4.56,1,11.78,8.33,16.13S33.42,145.92,36.14,141.35Z" />
                    <path class="cls-6"
                        d="M150.07,97.2c0,15.8-33.55,28.66-75,28.73S0,113.25,0,97.45,33.55,68.78,75,68.71,150,81.39,150.07,97.2Z" />
                    <path class="cls-7"
                        d="M148.31,96.26c0,15.08-32.76,27.35-73.23,27.42S1.78,111.58,1.76,96.51,34.52,69.16,75,69.09,148.28,81.19,148.31,96.26Z" />
                    <path class="cls-8"
                        d="M75,69.09c-20.68,0-39.34,3.26-52.65,8.42a160,160,0,0,1,39.32-4.65c38.62-.06,70,11.72,70,26.33,0,10.21-15.27,19.09-37.65,23.53,31.3-3.16,54.34-13.82,54.32-26.46C148.28,81.19,115.45,69,75,69.09Z" />
                    <path class="cls-9"
                        d="M9.23,86.93S.49,94.28,6.41,101.84s26.05,15.57,45.22,17.9C51.63,119.74-5.64,108.48,9.23,86.93Z" />
                    <rect class="cls-2" x="73.94" y="4.26"
                        transform="translate(-0.03 0.13) rotate(-0.1)" />
                    <path class="cls-10"
                        d="M74.71,7.48A3.85,3.85,0,0,1,71,3.57a3.94,3.94,0,0,1,7.86.35A3.85,3.85,0,0,1,74.71,7.48Z" />
                    <path class="cls-11"
                        d="M78.8,4a3.65,3.65,0,0,1-3.54,2.37,3.7,3.7,0,0,1-3.49-3.9,3.81,3.81,0,0,1,.31-1.31A3.57,3.57,0,0,0,71,3.57,3.94,3.94,0,0,0,78.8,4Z" />
                    <path class="cls-12"
                        d="M74.32,29.43c-21.24,0-37.83,21-37.78,53.67,0,6.07,17.24,11,38.49,10.93S113.49,89,113.48,83C113.42,50.35,95.57,29.39,74.32,29.43Z" />
                    <path class="cls-13"
                        d="M113.48,83C113.49,89,96.27,94,75,94S36.55,89.17,36.54,83.1s17.21-11,38.45-11S113.47,76.9,113.48,83Z" />
                    <path class="cls-14"
                        d="M108.54,83c0,4.69-15,8.52-33.52,8.55s-33.54-3.75-33.54-8.44,15-8.51,33.51-8.55S108.53,78.29,108.54,83Z" />
                    <path class="cls-15"
                        d="M80,32.06c-.61-.37,25.11,3.75,31.11,49.83,0,0-4,4.41-13.17,5.84C97.9,87.73,104.6,47.05,80,32.06Z" />
                    <path class="cls-15"
                        d="M53.69,46.79c-1.31-.86-1.27-3.26.1-5.37s3.54-3.13,4.85-2.27,1.27,3.25-.1,5.36S55,47.63,53.69,46.79Z" />
                    <path class="cls-15"
                        d="M47.2,83.82c-6.14-2.76-6.57-15.21-.93-27.85s15.2-20.65,21.35-17.9,6.56,15.21.92,27.84S53.35,86.55,47.2,83.82Z" />
                    <svg class="cls-16">
                        <path class="cls-7"
                            d="M22.08,99.27a3.75,3.75,0,1,1-3.75-3.74A3.74,3.74,0,0,1,22.08,99.27Z" />
                        <path class="cls-7"
                            d="M56.64,110.87a3.75,3.75,0,1,1-3.75-3.74A3.75,3.75,0,0,1,56.64,110.87Z" />
                        <path class="cls-7"
                            d="M128.61,99.09a3.75,3.75,0,1,0,3.74-3.75A3.76,3.76,0,0,0,128.61,99.09Z" />
                        <path class="cls-7"
                            d="M94.09,110.8a3.75,3.75,0,1,0,3.74-3.75A3.76,3.76,0,0,0,94.09,110.8Z" />

                        <path class="cls-17"
                            d="M21.46,98.51a3.75,3.75,0,1,1-3.76-3.74A3.74,3.74,0,0,1,21.46,98.51Z" />
                        <path class="cls-17" d="M56,110.11a3.75,3.75,0,1,1-3.76-3.74A3.76,3.76,0,0,1,56,110.11Z" />
                        <path class="cls-17" d="M128,98.33a3.75,3.75,0,1,0,3.74-3.75A3.74,3.74,0,0,0,128,98.33Z" />
                        <path class="cls-17" d="M93.47,110a3.75,3.75,0,1,0,3.74-3.75A3.74,3.74,0,0,0,93.47,110Z" />
                        <path class="cls-8"
                            d="M82.11,109.93c0,4.59-2.11,8.32-4.72,8.32s-4.74-3.71-4.75-8.31,2.11-8.31,4.72-8.32S82.1,105.34,82.11,109.93Z" />
                        <path class="cls-10"
                            d="M82,108.89c0,4.59-2.11,8.32-4.72,8.32s-4.74-3.71-4.75-8.31,2.11-8.31,4.72-8.32S82,104.3,82,108.89Z" />
                        <path class="cls-11"
                            d="M77.27,100.59c1.85,1,3.19,3.89,3.2,7.26,0,4.27-2.11,7.73-4.72,7.73a3.29,3.29,0,0,1-1.67-.51,4,4,0,0,0,3.16,2.14c2.61,0,4.72-3.73,4.72-8.32S79.86,100.65,77.27,100.59Z" />
                        <path class="cls-8"
                            d="M122.82,101.69c1.83,4.21,1.36,8.47-1,9.51s-5.83-1.53-7.66-5.74-1.37-8.47,1-9.51S121,97.48,122.82,101.69Z" />
                        <path class="cls-10"
                            d="M122.27,100.8c1.82,4.2,1.37,8.47-1,9.51s-5.83-1.53-7.66-5.74-1.36-8.47,1-9.51S120.44,96.58,122.27,100.8Z" />
                        <path class="cls-11"
                            d="M114.67,95c2.12.23,4.47,2.3,5.82,5.39,1.7,3.92,1.13,7.93-1.26,9a3.2,3.2,0,0,1-1.74.19,4,4,0,0,0,3.75.72c2.4-1,2.85-5.31,1-9.51S117.07,94.06,114.67,95Z" />
                        <path class="cls-8"
                            d="M37.58,105.87c-2,4.11-5.59,6.51-7.93,5.35s-2.59-5.43-.55-9.55,5.59-6.51,7.93-5.35S39.62,101.75,37.58,105.87Z" />
                        <path class="cls-10"
                            d="M37.91,104.87c-2,4.12-5.59,6.51-7.93,5.35s-2.59-5.43-.56-9.55,5.59-6.51,7.93-5.35S39.94,100.76,37.91,104.87Z" />
                        <path class="cls-11"
                            d="M37.4,95.36c1.2,1.76,1.14,4.89-.36,7.92-1.89,3.82-5.33,6-7.67,4.82a3.15,3.15,0,0,1-1.26-1.2A4,4,0,0,0,30,110.22c2.34,1.16,5.89-1.23,7.93-5.35S39.69,96.55,37.4,95.36Z" />
                    </svg></g>
                    <!--END SHIP-->

                    <!--ROCK-->

                    



    </defs>
    <rect width="100%" height="100%" fill="black" />
    <rect width="75%" height="10%" x="12%" y="45%" fill="gray" rx="10" ry="10" id="bar" />

    <svg id="playArea">

    </svg>
</svg>
