/** Screen Styles **/

/**center the form horizontally and make it responsive and 80% of the screen width**/
.inputScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: calc(var(--vw) * 80);
    height: calc(var(--vw) * 20);
    background-color: hwb(196 38% 10%);
    overflow: hidden;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.inputScreen label {
    color: white;

}

.inputScreen input {
    text-align: right;
}

.outputScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: calc(var(--vw) * 80);
    height: calc(var(--vw) * 20);
    background-color: hwb(196 38% 10%);

    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.numberGrid {
    display: grid;
    grid-template-columns: repeat(var(--dcols), calc(var(--vw) * 1.2));
    grid-template-rows: calc(var(--vw) * 2) calc(var(--vw) * 8);
    grid-gap: 0.5rem;

    background-color: hwb(196 38% 10%);

    list-style: none;
}

.numberGrid .word {
    transform-origin: center right;
    rotate: -55deg;
    text-align: right;
    position: relative;
    left: calc(var(--vw) * -15.5);
    top: calc(var(--vw) * -3);
    width: calc(var(--vw)*18);
    transition-property: rotate;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.numberGrid .word .decimalPoint {
    font-weight: bold;
}

.btnStartOver {
    position: relative;
    text-align: center;
    margin-top: calc(var(--vw) * 1.5);
    z-index: 200;
}