.fullWidthBar {
    position: absolute;
    left: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: calc(var(--vw) * 12);
    transition-property: top, bottom;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
}

.fullWidthBar.bottomBar {
    bottom: 0;
    background-image: url(../assets/images/menus/bottomBar.svg);
    height: calc(var(--vw) * 16);
}

.fullWidthBar.topBar {
    top: 0;
    background-image: url(../assets/images/menus/topBar.svg);
}

.fullWidthBar.topBar.closed {
    top: calc(var(--vw) * -10);
}

.fullWidthBar.bottomBar.closed {
    bottom: calc(var(--vw) * -16);
}

.fullWidthBar .barTab {
    position: absolute;
    left: calc(var(--vw) * 10);
    top: calc(var(--vw) * 12.3);
    width: calc(var(--vw) * 6);
    height: calc(var(--vw) * 6);
    background-image: url(../assets/images/menus/navUp.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
}

.fullWidthBar .barTab.closed {
    background-image: url(../assets/images/menus/navDown.svg);
}

.highlightContainer {
    display: inline-block;
    position: absolute;
    right: calc(var(--vw) * 2);
}

.highlightContainer .highlightLabel {
    font-family: Andika;
    font-size: calc(var(--vw)*2.5);
    color: white;
    text-shadow: 2px 2px black;
    text-size-adjust: auto;
}

.toggleSwitch {
    position: relative;
    margin-top: 2vh;
    margin-left: calc(var(--vw) * 2);
    display: inline-block;
    width: calc(var(--vw) * 5);
    height: calc(var(--vw) * 2);
    background-color: #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.toggleInput {
    opacity: 0;
    width: 0;
    height: 0;
}

.knob {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--vw) * 2);
    height: calc(var(--vw) * 2);
    background-image: url("../assets/images/vol/slideknob.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: transform 0.3s;
}

.toggleInput:checked+.knob {
    transform: translateX(calc(var(--vw) * 3));
}

.pageSliderNav {
    margin-top: 4vh;
}

.zoomySlider {
    display: flex;
    margin: auto;
    width: 80%;
    background: linear-gradient(to right, #5B8ECC 0%, #5B8ECC 0%, #fff 0%, #fff 100%);
    height: 2vh;
    transition: background 450ms ease-in;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 25px;
    box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
    -webkit-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
    -moz-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
    position: relative;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.zoomySlider::-webkit-slider-thumb {
    cursor: pointer;
    appearance: none;
    height: 30px;
    width: 30px;
    background: radial-gradient(#5C90CE, #375982);
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
    -webkit-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
    -moz-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
    z-index: 15;
}

.btnNext {
    position: absolute;
    top: 50%;
    right: 5%;
    width: 10%;
    height: 20%;
    background-size: contain;
    background-image: url("../assets/images/nav/btnNextStep.svg");
    background-repeat: no-repeat;
    transform: translate(50%, -50%);
}

.btnPrev {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 15%;
    height: 20%;
    background-size: contain;
    background-image: url("../assets/images/nav/btnPrevStep.svg");
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}

.bubbleGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: calc(var(--vw)*2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 300;
    list-style: none;

}

.bubbleGrid li {
    width: calc(var(--vw)*20);
    height: calc(var(--vw)*20);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: all;
}

/** 1st child */
.bubbleGrid li:nth-child(1) {
    background-image: url(../assets/images/buttons/btnAuto.svg);
}

/** 2nd child */
.bubbleGrid li:nth-child(2) {
    background-image: url(../assets/images/buttons/btnListen.svg);
}

/** 3rd child */
.bubbleGrid li:nth-child(3) {
    background-image: url(../assets/images/buttons/btnRead.svg);
}

.mobileVolume {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(var(--vw)*50);
    height: calc(var(--vw)*10);
    background-color: rgba(41, 39, 39, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
    align-content: center;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.mobileVolume .icon-volume {
    position: absolute;
    left: 3%;
    top: 50%;
    width: calc(var(--vw)*5);
    height: calc(var(--vw)*5);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/images/icons/volume.png);
    margin-right: calc(var(--vw)*2);
    transform: translate(0, -50%);
}

.mobileVolume input {
    -webkit-appearance: none;
    appearance: none;
    width: 70%;
    height: 10%;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}