.sample {
    padding: 12px;
    margin: 12px 0;
    border: 1px solid grey;
}
.sample strong {
    display: inline-block;
    text-decoration: underline;
    margin-bottom: 12px;
}

#text1 {
    min-width: 800px;
    text-align: center;
    font-size: 24px;
    width: auto;
    height: auto;
    border: solid green;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;


    resize: none;
    /*remove the resize handle on the bottom right*/
}

#appContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#instructions {
    font-size: 32px;
    color: black;

}

#buttonHolder {
    text-align: right;
}

#btnGo {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    border-radius: 50%;
}
#message
{
    font-size: 20px;
    text-align: center;
}