@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #B3862C;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000000;
}

body {
	width: calc(100% - 160px);
	min-width: 115px;
	height: calc(100% - 160px);
	background-color: #0F9CF0;
	background-image: url('assets/grass.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: 80px solid #B3862C;
	border-image-source: url('assets/pictureframe.png');
	border-image-slice: 150;
	border-image-width: 120px;
	border-image-repeat: round;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50%;
	font-family: "Oleo Script", cursive;
	font-size: 11vw;
	line-height: 1.1;
	text-align: center;
	color: #FFFFFF;
	text-shadow: -2px 0.4vh 4px #000000;
}

figure {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50%;
	background-image: url("assets/cow.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 70% auto;
}

@media (min-aspect-ratio: 1/1) {
	main {
		flex-direction: row;
	}

	h1 {
		width: 50%;
		height: 100%;
		font-size: 11vh;
	}

	figure {
		width: 50%;
		height: 100%;
		background-position: center 3vh;
		background-size: auto 100%;
	}
}