.App {
  text-align: center;
}

.app-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.app-screen h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.designcontainer {
  display: flex;
  gap: 4vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.designcontainer .input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.designcontainer .input-container input {
  width: 100%;
  /* height: 60px; */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  font-family: Arial, sans-serif;
}

.designcontainer button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.designcontainer button:hover {
  background-color: #45a049;
}


.iframe-container {
  border: solid thin black;
  width: 100%;
  flex: 1 1;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}


.colorBox {
  width: 20vw;
  height: 20vh;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.colorBox:hover {
  cursor: pointer;
}

.colorBoxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 10px;
}

.title {
  font-size: 24px;
  margin: 0;
}

.switch-button {
  font-size: 16px;
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reset-button {
  font-size: 16px;
  padding: 8px 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-container {
  display: flex;
  align-items: center;
}