.hid
{
    display: none;
}
.invis
{
    visibility: hidden;
}
.fullWidthBar {
    position: absolute;
    left:0px;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: calc(var(--vw) * 100);
    height: calc(var(--vw) * 12);
  
    transition-property: top, bottom;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
}

.fullWidthBar.bottom {
    bottom: 0;
    background-image: url(../assets/images/menus/bottomBar.svg);
    height: calc(var(--vw) * 16);
}
.fullWidthBar.top {
    top:0;
    background-image: url(../assets/images/menus/topBar.svg);
}
.fullWidthBar.top.closed {
    top: calc(var(--vw) * -10);
}

.fullWidthBar.bottom.closed {
    bottom: calc(var(--vw) * -16);
}
.fullWidthBar .barTab
{
    position: absolute;
    left:calc(var(--vw) * 10);
    top:calc(var(--vw) * 12.3);
    width: calc(var(--vw) * 6);
    height: calc(var(--vw) * 6);
    background-image: url(../assets/images/menus/navUp.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
}
.fullWidthBar .barTab.closed
{
    background-image: url(../assets/images/menus/navDown.svg);
}
.navGrid {
    position: absolute;
    display: grid;
    height: calc(var(--vw) * 10);
    width: calc(var(--vw) * 30);
    grid-template-columns: 1fr 1fr 1fr;

    list-style: none;
    justify-items: center;
}

.navGrid.bottom {
    top: calc(var(--vw) * 4);
    grid-template-columns: repeat(9, 1fr);
    column-width: calc(var(--vw) * 10);
    width: calc(var(--vw) * 100);
}

/* .navGrid.bottom li {
    border: black 1px solid;
} */

.gadgetGrid {
    position: absolute;
    bottom: calc(var(--vw) * 8);
    display: grid;
    height: calc(var(--vw) * 25);
    width: calc(var(--vw) * 100);
    grid-template-columns: repeat(9, 1fr);
    column-width: calc(var(--vw) * 10);

    list-style: none;
    /* border: 1px solid #000; */
    justify-items: center;
}

/* .gadgetGrid li
{
    border: 1px solid #000;
} */
.voiceSlider {
    width: calc(var(--vw) * 10);
    height: calc(var(--vw) * 25);
    background-image: url(../assets/images/sliders/Voice_Slider_BG.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.voiceSlider .guide {
    position: absolute;
    width: calc(var(--vw) * 10);
    height: calc(var(--vw) * 22);
    background-image: url(../assets/images/sliders/Voice_Slider_Frame.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.voiceSlider .track {
    position: relative;
    top:6%;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(var(--vw) * 2);
    height: calc(var(--vw) * 17);
    background-color: transparent;
}
.voiceSlider .knob {
    position: absolute;
    width: calc(var(--vw) * 5);
    height: calc(var(--vw) * 5);
    background-image: url(../assets/images/sliders/slideknob.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(calc(var(--vw) * 2.5), 0);
}

.volSlider {
    width: calc(var(--vw) * 10);
    height: calc(var(--vw) * 25);
    background-image: url(../assets/images/sliders/Voice_Slider_BG.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.volSlider .guide
{
    position: absolute;
    width: calc(var(--vw) * 10);
    height: calc(var(--vw) * 20);
    background-image: url(../assets/images/sliders/Voice_Slider_Frame.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.volSlider .track {
    position: relative;
    top:6%;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(var(--vw) * 2);
    height: calc(var(--vw) * 14);
    background-color: transparent;
}

.volSlider .knob {
    position: absolute;
    width: calc(var(--vw) * 5);
    height: calc(var(--vw) * 5);
    background-image: url(../assets/images/sliders/slideknob.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(calc(var(--vw) * 2.5), 0);
}

.volSlider .btnMute {
    position: relative;
    top: 30%;
    left: 50%;
    width: calc(var(--vw) * 3.5);
    height: calc(var(--vw) * 3.5);
    background-image: url(../assets/images/buttons/btnUnmuted.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
}

.volSlider .btnMute.muted {
    background-image: url(../assets/images/buttons/btnMuted.svg);
}

/**flex menu**/
.speedMenu {
    position: relative;
    top: 40%;
    width: calc(var(--vw) * 10);
    height: calc(var(--vw) * 15);
    background-image: url(../assets/images/menus/speed/speed_back.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}


.speedMenu>ul {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 78%;
    padding: calc(var(--vw) * 1) calc(var(--vw) * 1);
    justify-items: center;
    align-items: stretch;
    list-style: none;
    align-content: center;
}
.speedMenu li {
    font-size: var(--bigFont);
}
.speedMenu li
{
    background-color: #fff;
    color: black;
    text-align: center;
    padding: calc(var(--vw) * 0.5);
    border-radius: calc(var(--vw) * 0.5);
    cursor: pointer;
    width: calc(var(--vw) * 6);
    height: calc(var(--vw) * 1.5);
}
.speedMenu li.selected 
{
    
    background-color: rgba(255, 165, 0, 0.9);
    color: white;
}

.seekBar
{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);    
    top: calc(var(--vw) * 2);
    height: calc(var(--vw) * 1);
    width: calc(var(--vw) * 90);
}
.seekBar .sections {
    position: absolute;
    top: 0;
    padding:0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(var(--sections), 1fr);
    width: calc(var(--vw) * 90);
    height: calc(var(--vw) * 1);
    list-style: none;
    align-content: space-between;
    align-items: center;
    
}
.seekBar .sections li
{
    position: relative;
    top:0;
    margin: 0;
    padding: 0;
    width: calc(var(--vw) * 88/var(--sections));
    height: calc(var(--vw) * 1);
    /* almost transparent background color*/
   /*  background-color: rgba(0,0,0,0.1); */
   background-color: white;
    border-right: 2px solid blue;
}
/* remove the right border from the last section */
.seekBar .sections li:last-child
{
    border-right: none;
}
.seekBar .guide
{
    position: absolute;
    width: calc(var(--vw) * 90);
    height: calc(var(--vw) * 1);
    background-image: url(../assets/images/sliders/main/slidebarBG.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.seekBar .track
{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--vw) * 90);
    height: calc(var(--vw) * 1);
    background-color: black;
}
.seekBar .knob
{
    position: absolute;
    left: 0;
    transform: translate(-50%, -50%);    
    top: calc(var(--vw) * 0.5);
    width: calc(var(--vw) * 3);
    height: calc(var(--vw) * 3);
    background-image: url(../assets/images/sliders/main/slideknob.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.thumbPreviews
{
    position: absolute;
    top: calc(var(--vw) * -20);
    display: grid;
    width: calc(var(--vw) * 90);
    height: calc(var(--vw) * 10);
    grid-template-columns: repeat(var(--sections), 1fr);
    list-style: none;
}
.thumbPreviews li
{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--vw) * (90/var(--sections)));
    height: calc(var(--vw) * 20);
    background-image: url(../assets/images/previews/previewWindow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.thumbPreviews li svg
{
    position: absolute;
    top: 46%;
    left: 0%;
    transform: translate(8%, -50%);
    width: calc(var(--vw) * (76/var(--sections)));
    height: calc(var(--vw) * 10);
  
    background-color:#5788C4;
}
.bubbleGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
    grid-gap: calc(var(--vw)*2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 300;
    list-style: none;
    
}
.bubbleGrid li
{
    width: calc(var(--vw)*20);
    height: calc(var(--vw)*20);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: all;
}
/** 1st child */
.bubbleGrid li:nth-child(1)
{
    background-image: url(../assets/images/buttons/btnAuto.svg);
}
/** 2nd child */
.bubbleGrid li:nth-child(2)
{
    background-image: url(../assets/images/buttons/btnListen.svg);
}
/** 3rd child */
.bubbleGrid li:nth-child(3)
{
    background-image: url(../assets/images/buttons//btnRead.svg);    
}
.shade
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 200;
}
.copyrightOverlay {
    position: absolute;
    left:35%;
    top: 20%;
    width: calc(var(--vw) * 24);
    height: calc(var(--vw) * 24);
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 4px 8px #0d0d0d43;
    z-index: 400;
    padding: calc(var(--vw) * 4);
  }
  /** center the text both vertically and horizontally */
  .copyrightOverlay p
  {
    font-size: calc(var(--vw) * 2);
    height: fit-content;
    width: calc(var(--vw) * 24);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:calc(var(--vw) * 2) calc(var(--vw) * 4);
  }
  /** center the text both vertically and horizontally with warning style background */
  .alertBox
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(var(--vw) * 20);
    height: calc(var(--vw) * 5);
    background-color:black;
    box-shadow: 4px 8px #0d0d0d43;
    z-index: 500;
    padding: calc(var(--vw) * 4);
  }
  .alertBox p
  {
    width: 100%;
    font-size: calc(var(--vw) * 2);
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:calc(var(--vw) * 2) calc(var(--vw) * 4);
    color: greenyellow;
    font-weight: bold;
    text-align: center;
  }