.room
{   
    width: calc(var(--vw)*35);
    height: calc(var(--vw)*35);
    max-width: 480px;
    max-height: 480px;
}
.roomContainer
{
    margin: auto;
    text-align: center;
}
/*question text centered in room container */
.questionText
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color:white;
    font-weight: bold;
    background-color: black;
    text-align: center;
}


.battleButtons
{
    
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height:90%;
        background-color: gray;
        border: solid 1px black;
}
.battleButtons button
{
    height: 5vh;
    width: 50%;
}
.answerButtons
{
    position: relative;
    bottom: 25%;
    transform: translateY(-100%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
    width: calc(var(--vw)*35);
    height:calc(var(--vw)*15);
    justify-items: center;
    align-items: center;
}
.hidden
{
    display: none!important;
}
/*center both horizontal and vertical */

.mainGrid
{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0px;
    width: 100%;
    height:100vh;
    justify-items: center;
    align-items: center;
    border: solid 1px black;
}
/*first child of main grid red */
.mainGrid > :first-child
{
    background-color: red;
    width: 100%;
    height: 100%;
}
/*second child of main grid blue */
.mainGrid > :nth-child(2)
{
    background-color: blue;
    width: 100%;
    height: 100%;
}