.room
{   
   
    width: var(--roomWidth);
    height: calc(var(--vw)*35);
}
.roomContainer
{
    margin: auto;
    text-align: center;
}
/*question text centered in room container */
.questionText
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color:white;
    font-weight: bold;
    background-color: black;
    text-align: center;
}

.battleControls
{
    background-color: gray;
    width: 100%;
    height:calc(var(--gridHeight)/2);
}
.battleButtons
{
    
        display: flex;
        flex-direction: column;
        width: 100%;
        height:90%;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        width: var(--roomWidth);
      
        
}
.battleButtons button
{
    height: 5vh;
    width: 50%;
}
.answerButtons
{
    position: relative;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
    width: var(--roomWidth);
    height:calc(var(--vw)*15);
    justify-items: center;
    align-items: center;
    background-color: gray;
}
.hidden
{
    display: none!important;
}
/*center both horizontal and vertical */

.mainGrid
{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0px;
    width: var(--roomWidth);
    height:var(--gridHeight);
    justify-items: center;
    align-items: center;
}
/*first child of main grid red */
.mainGrid > :first-child
{
    background-color: red;
    width:var(--roomWidth);
    height: 100%;
}
/*second child of main grid blue */
.mainGrid > :nth-child(2)
{
    background-color: blue;
    width: var(--roomWidth);
    height: 100%;
}
.moveIcon
{
    width:25%;
    height:25%;
    margin: auto;
}
.tac
{
    text-align: center;
}