#base
{
    max-width:75%;
    margin: auto;
}
#top
{
    background-color: #3498db;
    color:black;
    font-weight: bold;
}
#gameframe
{
    margin: auto;
}
#main
{
    min-height: 600px;
   
}
.buttonPad2
{
    margin:15px;
}
#btnHome
{
    float: left;
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    #base
    {
        max-width: 100%;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    #base
    {
        max-width: 100%;
    }
  }