.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#alert1 {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
}

#blockScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(12, 12, 12, 0.5);
  touch-action: none;
  z-index: 50;
}

.scroll1 {
  overflow-y: scroll;
}

.tac {
  text-align: center;
}

#base {
  max-width: 80%;
  margin: auto;
}

.head1 {
  background-color: #3498db !important;
}

.titleText {
  color: white;
  font-size: 26px;

}

#fullFrame {
  width: 100%;
  height: 100vh;
  position: absolute;
}

#btnExit {
  position: absolute;
  top: 50%;
  z-index: 100;
}

@media only screen and (max-width: 600px) {
  #base {
    max-width: 100%;
    margin: auto;
  }
  .scroll2 {
    overflow-y: scroll;
    height: 75vh;
  }
}

@media only screen and (orientation:landscape) and (max-width: 1000px) {
  #base {
    max-width: 100%;
    margin: auto;
  }

  .scroll2 {
    overflow-y: scroll;
    height: 75vh;
  }
}

.row-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: blue;
  overflow: hidden;
}

.first-row {
  background-color: lime;
}

.second-row {
  flex-grow: 1;
  border: none;
  margin: 0;
  padding: 0;
}