#titleTextHeader
{
        /* position: absolute; */
    /* top: 0; */
    /* left: 50%; */
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: #6384D2;
    font-size: 4vw;
    transform: translate(0,50%);
    display: none;
}

#topBar {
    position: absolute;
    top: 0;
    left: -5%;
    width: 105%;
    height: 20vh;
    z-index: 40;
    background-image: url("./assets/images/ui/nav/bar.svg");
    background-repeat: no-repeat;
    transition: top 2s;
}

#bottomBar {
    position: absolute;
    top: 85vh;
    left: -10px;
    width: 105%;
    height: 20vh;
    z-index: 40;
    background-image: url("./assets/images/ui/nav/bar.svg");
    background-repeat: no-repeat;
    transition: top 2s;
}

#btnNavUp {
    position: absolute;
    top: 15vh;
    left: 4%;
    width: 10%;
    height: 30%;
    background-image: url("./assets/images/ui/buttons/navbuttons/navUp.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#btnNavDown {
    position: absolute;
    top: 15vh;
    left: 4%;
    width: 10%;
    height: 30%;
    background-image: url("./assets/images/ui/buttons/navbuttons/navDown.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#leftHalf
{
    position: absolute;
    left: 50%;
    top:0;
    height: 55%;
    width: 50%;
}
#progBar {
    position: absolute;
    top: 40%;
    left: 70%;
    width: 40%;
    height: 4vw;
    background-image: url("./assets/images/ui/nav/slidebar.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%,-50%);
}

#progKnob {
    position: absolute;
    top: 10%;
    left: 0;
    width: 4vw;
    height:4vw;
    background-image: url("./assets/images/ui/nav/slideknob.svg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#btnAuto,
#btnListen,
#btnRead,
#btnBarClose #btnSpeed,
#btnPlay,
#btnSpeed {
    position: absolute;
    top: 0%;
    width: 10%;
    height: 50%;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

#btnAuto {
    top:4vh;
    left: 5%;
    background-image: url("./assets/images/ui/buttons/navbuttons/btnAutoPlay.svg");
}

#btnSpeed {
    top:2vh;
    left: 25%;
    background-image: url("./assets/images/ui/buttons/navbuttons/btnSpeed.svg");
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    text-align: center;
  }

#btnPlay {
    top:2vh;
    width: 10%;
    height: 50%;
    left: 5%;
    background-image: url("./assets/images/ui/buttons/navbuttons/btnPlay.svg");
}

#btnListen {
    top:4vh;
    left: 15%;
    background-image: url("./assets/images/ui/buttons/navbuttons/btnListen.svg");
}

#btnRead {
    top:4vh;
    left: 25%;
    background-image: url("./assets/images/ui/buttons/navbuttons/btnRead.svg");
}

#btnBarClose {
    right: 5%;
    background-image: url("./assets/images/ui/buttons/navbuttons/btnClose.svg");
}
#btnVolume {
    position: absolute;
    top:2vh;
    left: 15%;
    width: 10%;
    height: 50%;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
   
    z-index: 100;
    background-image: url("./assets/images/ui/buttons/navbuttons/btnVolume.svg");
}
#volBar {
    position: absolute;
    top: 46%;
    z-index: 100;
    left: 14.5%;
    width: 25vh;
    height: 50vh; 
}

#volBack {
    position: absolute;
    left: 0;
    top: 0;
    width: fit-content;
    height: fit-content;
   
}
#volWell
{
    position: absolute;
    left: 18.5%;
    top: 10%;
    width: max-content;
    height: max-content;   
}


.buttonLabel {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-60%,0);
    color: white;
    font-size: 1.4vh;
    /* margin-top: 55%; */
    text-align: center;

}
#prevFrame
{
    position: absolute;
    bottom: 15%;
    right:30%;
    width: 10%;
    opacity: .5;
    z-index: 110;
    display: none;
}

@media only screen and (max-width: 1220px) {
    .buttonLabel {
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translate(-60%,0);
        color: white;
        font-size: 2vh;
        /* margin-top: 55%; */
        text-align: center;
    }
    #btnNavUp {
        position: absolute;
        top: 18vh;
        left: 4%;
        width: 10%;
        height: 30%;
        background-image: url("./assets/images/ui/buttons/navbuttons/navUp.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    #btnNavDown {
        position: absolute;
        top: 18vh;
        left: 4%;
        width: 10%;
        height: 30%;
        background-image: url("./assets/images/ui/buttons/navbuttons/navDown.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
  }
  @media only screen and (max-width: 1000px) {
    .buttonLabel {
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-60%,0);
        color: white;
        font-size: 2vh;
        /* margin-top: 55%; */
        text-align: center;
    }
  }