
/* CSS for 5.0 Math apps */
@import "https://font.teachingtextbooksapp.com/Barto/Barto.css";
@import "https://font.teachingtextbooksapp.com/Andika/Andika.css";
html {
	--shadow: #0006;
	--vw: 1vw;
	--px: calc(var(--vw) / 9.6);
}
html {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: hwb(220 35% 65%);
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG00000d.png");
	background-size: calc(var(--vw) * 25) auto;
	background-position: center;
	font-family: var(--andika);
	color: black;
	overflow: hidden;
}
body {
	position: relative;
	margin: 0;
	padding: 0;
	width: calc(var(--vw) * 100);
	height: calc(var(--vw) * 5500 / 96);
}
body.tester {
	background-color: hwb(196 38% 10%);
	background-image: url("https://ttv4.s3.amazonaws.com/wallpaper/DN.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
main {
	margin: 15% auto;
	width: 50%;
	background-color: #DEDFDA;
	border: calc(var(--px) * 40) solid #6A828C;
	border-image-source: url("https://ttv5.s3.amazonaws.com/img/bg/BG000004.jpg");
	border-image-width: calc(var(--px) * 40);
	border-image-slice: 80 80 80 80 fill;
	box-shadow: calc(var(--px) * 5) calc(var(--px) * 5) calc(var(--px) * 5) rgba(0,0,0,35%);
	text-align: center;
}
h1 {
	font-family: var(--barto);
	font-weight: normal;
	font-size: calc(var(--px) * 40);
	line-height: 0.9;
}
select {
	font-size: calc(var(--px) * 20);
	font-weight: bold;
}

.rufflePlayer
{
	position: absolute;
	width: calc(var(--vw) * 100);
	height:calc(var(--vw) * (100 / 96 * 55));
	z-index: -1;
}
@media (min-aspect-ratio: 96/55) {
	/* recalculate the value of --vw if window gets wider than the app */
	html {
		--vw: calc(1vh * 96 / 55);
	}
}