h1 {
  color: white;
  background-color: black;
}
html {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: hsl(200, 100%, 12%);
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000000;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color:lightblue;
}
.full
{
  width: 100vw;
  height: 99%;
}
#gridLines
{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  left: 0; 
}


#addArea
{
  position: absolute;
  top:0;
  left:0;
}