.designcontainer {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.iframe-container {
    flex: 1;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.input-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
}

.designcontainer textarea {
    width: 70%;
    height: 60px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-family: Arial, sans-serif;
}

.designcontainer button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.designcontainer button:hover {
    background-color: #45a049;
}

.editButtons {
    width: 25vw;
    margin: auto;
}

.last-prompt-btn {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}