html {
	--shadow: #0006;
	--vw: 1vw;
	--px: calc(var(--vw) / 9.6);
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 10px;
    }
    .title {
    font-size: 24px;
    margin: 0;
    }
    .switch-button {
    font-size: 16px;
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    .reset-button {
    font-size: 16px;
    padding: 8px 16px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    .button-container {
    display: flex;
    align-items: center;
    }
@media (min-aspect-ratio: 96/55) {
	/* recalculate the value of --vw if window gets wider than the app */
	html {
		--vw: calc(1vh * 96 / 55);
	}
}