/* Toggle Button 
round button with an image background
*/
.btnClose {
    position: absolute;
    width: calc(var(--vw) * 5);
    height: calc(var(--vw) * 5);
    background-image: url(../assets/images/buttons/btnClose.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: 0;
    top: 15%;
}

.toggleButton {
    width: calc(var(--vw) * 8);
    height: calc(var(--vw) * 8);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}


.toggleButton.autoPlay {
    background-image: url(../assets/images/buttons/btnAuto.svg);
}

.toggleButton.autoPlay.selected {
    background-image: url(../assets/images/buttons/btnAutoSelected.svg);
}

.toggleButton.listen {
    background-image: url(../assets/images/buttons/btnListen.svg);
}

.toggleButton.listen.selected {
    background-image: url(../assets/images/buttons/btnListenSelected.svg);
}

.toggleButton.read {
    background-image: url(../assets/images/buttons/btnRead.svg);
}

.toggleButton.read.selected {
    background-image: url(../assets/images/buttons/btnReadSelected.svg);
}

.toggleButton.prev {
    background-image: url(../assets/images/buttons/btnPrev.svg);
}

.toggleButton.next {
    background-image: url(../assets/images/buttons/btnEnd.svg);
}

.toggleButton.play {
    width: calc(var(--vw) * 10);
    height: calc(var(--vw) * 10);
    transform: translate(0, calc(var(--vw)*-1));
    background-image: url(../assets/images/buttons/btnPlay.svg);
}

.toggleButton.play.pause {
    background-image: url(../assets/images/buttons/btnPause.svg);
}

.toggleButton.music {
    background-image: url(../assets/images/buttons/btnMusic.svg);
}

.toggleButton.speech {
    background-image: url(../assets/images/buttons/btnSpeech.svg);
}

.toggleButton.speed {
    background-image: url(../assets/images/buttons/btnSpeed.svg);
}
.toggleButton.copyright
{
    background-image: url(../assets/images/buttons/btnCopyright.svg);
}
.toggleButton.copyright.selected
{
    background-image: url(../assets/images/buttons/btnCopyrightDown.svg);
}
.toggleButton.full
{
    background-image: url(../assets/images/buttons/btnFull.svg);
}
.navButton {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: calc(var(--vw) * 8);
    height: calc(var(--vw) * 8);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.navButton.next {
    right: 0;
    background-image: url(../assets/images/buttons/btnNextStep.svg);
    z-index: 2;
}

.navButton.prev {
    left: 0;
    background-image: url(../assets/images/buttons/btnPrevStep.svg);
    z-index: 2;
}

.toggleHolder {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: calc(var(--vw) * 10);
    height: calc(var(--vw) * 5);
    background-image: url(../assets/images/buttons/Highlight.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.toggleSwitch {
    width: calc(var(--vw) * 10);
    height: calc(var(--vw) * 5);
    background-image: url("../assets/images/buttons/switchbar.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.toggleSwitch .label
{
    position: relative;
    top:-20%;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(var(--vw) * 5);
    font-size: var(--tinyfont);
    color: white;
}
.toggleKnob {
    position: relative;
    top: 30%;
    left: 0;
    width: calc(var(--vw) * 5);
    height: calc(var(--vw) * 5);
    background-image: url(../assets/images/sliders/slideknob.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(0, -50%);
}

.toggleKnob.selected {
    left: calc(var(--vw) * 5);
}