.infoCard
  {
    text-align: left;
    padding: 1%;

    width: fit-content;
  }
  .infoCard.green
  {
    background-color: #84B154;
    filter: drop-shadow(3px 3px 0px gray);
  }
  .infoCard.white
  {
    background-color: white;
    padding:calc(var(--vw) * 2);
  }
  .infoCard h2
  {
    font-size: var(--medfont);
    font-weight: bold;
  }
  .infoCard p
  {
    font-size: var(--smallfont);
    width: calc(var(--vw) * 30);
  }