@import "https://font.teachingtextbooksapp.com/Andika/Andika.css";

html {
	--shadow: #0006;
	--vw: 1vw;
	--px: calc(var(--vw) / .8);
	--sections: 9;
	--bigfont: calc(var(--px) * 3);
	--medfont: calc(var(--px) * 2);
	--smallfont: calc(var(--px) * 1.6);
	--tinyfont: calc(var(--px) * 1.1);
	--inputfont: calc(var(--px) * 2);
	--textareafont: calc(var(--px)*2);
	--buttonfont: calc(var(--px) * 2.5);
	--smallScreen: 500px;
	--bodyheight: 100vh;
	--medfont2: calc(var(--px) * 2);
}
html {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: hwb(220 35% 65%);
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG00000d.png");
	background-size: calc(var(--vw) * 25) auto;
	background-position: center;
	font-family: var(--andika);
	color: black;
	overflow: hidden;
	font-size: 16pt;
}
body {
	position: relative;
	margin: 0;
	padding: 0;
	width: calc(var(--vw) * 100);
	height: var(--bodyheight);

	background-color: hwb(196 38% 10%);
	background-image: url("../assets/images/bg2.jpg");
	background-size: 28%;
	background-repeat: repeat;
	background-position: 26% 7%;
	overflow: hidden;
}

@media (min-aspect-ratio: 16/9) {

	/* recalculate the value of --vw if window gets wider than the app */
	html {
		--vw: calc(1vh * 16 / 9);
		--bodyheight: calc(var(--vw) * 900 / 16);
	}
}
