.blueBold {
    color: blue;
    font-weight: bold;
    font-size: var(--medfont);
}

.tomato {

    font-weight: 900;
    font-size: var(--bigfont);
    width: fit-content;
    color: tomato;
    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: white;
    --stroke-color: lightblue;
    text-shadow: var(--x-offset) var(--y-offset) 0 var(--background-color),
        var(--x-offset) var(--y-offset) var(--stroke) var(--stroke-color);

}