h1 {
  color: white;
  background-color: black;
}

#char
{
  position: absolute;
  top:0%;
  pointer-events: none;
  touch-action: none;
}
.full
{
  width: 100vw;
  height: 99%;
}
#gridLines
{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  left: 0; 
}
.uiWindow
{
  height: 100%;
  width: 100%;
}
.draggable {
  cursor: move;
}
.boxText
{
  dominant-baseline:middle;
  text-anchor:middle;
  touch-action: none;
  pointer-events: none;
}
#instText
{
  width: 80%;
  word-wrap:break-word;
}
.shadow {
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  /* Similar syntax to box-shadow */
}

#addArea
{
  position: absolute;
  top:0;
  left:0;
}
#cardAnim1
{
  position: absolute;
    visibility: visible;

    width: 100%;
    height: 100%;
}
.piccard {
  position: absolute;
  width: 20%;
  height: 35%;
  top: 35%;
  left: 50%;
  background-color: white;

  border-radius: 8px;
  display: block;
  overflow: hidden;

}

.piccard #pic {

  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

.piccard #icon {
  width: 10%;
  position: absolute;
  right: 2%;
  top: 2%;
}
.shadow {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
  /* Similar syntax to box-shadow */
}
