h1 {
  color: white;
  background-color: black;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0 !important;
  touch-action: none;
}
#char
{
  position: absolute;
  top:0%;
  pointer-events: none;
  touch-action: none;
}
.full
{
  width: 100%;
  height: 100%;
}
.uiWindow
{
  height: 100%;
  width: 100%;
}
.draggable {
  cursor: move;
}
.boxText
{
  dominant-baseline:middle;
  text-anchor:middle;
  touch-action: none;
  pointer-events: none;
}
#instText
{
  width: 80%;
  word-wrap:break-word;
}
#btnNext {
  position: absolute;
  top: 50%;
  right: 5%;
  width: 10%;
  height: 20%;
  background-size: contain;
  background-image: url("./assets/images/ui/buttons/navbuttons2/btnNextStep.svg");
  background-repeat: no-repeat;
  transform: translate(50%,-50%);
}
  #btnPrev {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 15%;
    height: 20%;
    background-size: contain;
    background-image: url("./assets/images/ui/buttons/navbuttons2/btnPrevStep.svg");
    background-repeat: no-repeat;
    transform: translate(-50%,-50%);
}
  