.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#base
{
  max-width:100%;
  margin:auto;
}
.btnAdd
{
  width: 55px;
  height: 55px;
  border: white 2px;
}
.selectBox
{
  width: 100%;
  background-color: wheat;
}
.ma
{
  margin: auto;
}
.head1
{
  background-color: #3498db!important;
}
.titleText
{
  color:white;
  font-size: 26px;
  
}
.tac
{
  text-align: center;
}