.scrollGroup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: calc(var(--vw)*31) var(--scrollbarWidth);
}

.testText {
    
    font-family: "Arial";
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    width: calc(var(--vw) *30);
    height: 400px;
    overflow-y: hidden;
}

body.testscroll {
	background-color: hwb(196 38% 10%);
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG000015.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
    height: 100vh;
}
.testDiv
{
    color:blueviolet;
    width: 200px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}