html {
    --vw: 1vw;
    --scrollbarModificator: 2;
    --scrollbarTrackModificator: 3;
    --scrollbarWidth: calc(var(--vw) * var(--scrollbarModificator));
    --buttonHeight: var(--scrollbarWidth);
    --trackWidth: calc(var(--scrollbarWidth) / var(--scrollbarTrackModificator));
    --thumbWidth: calc(var(--scrollbarWidth) / var(--scrollbarTrackModificator)*2);
}

.tt-scrollbar {
    width: var(--scrollbarWidth);
    height: 10px;
    max-height: 100%;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.tt-scrollbar .track {
    width: var(--trackWidth);
    height: calc(100% - var(--buttonHeight) * 2);
    margin: 0 calc(var(--scrollbarWidth) / 2 - var(--trackWidth) / 2);
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    cursor: pointer;
}

.tt-scrollbar .knob {
    position: relative;
    width: var(--thumbWidth);
    height: var(--thumbWidth);
    top: 0px;
    left:-50%;
    cursor: pointer;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.tt-scrollbar .top-button {
    width: var(--scrollbarWidth);
    height: var(--buttonHeight);
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    cursor: pointer;
}

.tt-scrollbar .bottom-button {
    width: var(--scrollbarWidth);
    height: var(--buttonHeight);
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    cursor: pointer;
}

@media (min-aspect-ratio: 96/55) {

    /* recalculate the value of --vw if window gets wider than the app */
    html {
        --vw: calc(1vh * 96 / 55);
    }
}