h1 {
  color: white;
  background-color: black;
}

#lines
{
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
}
#dragLineArea
{
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
}
.gridLetter {
  font-family: "ZBKid";
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#wordWindow {
	position: absolute;
	top: 40%;
	left: 15%;
	right: 6%;
	height: fit-content;
  width: 30%;
  text-align: center;
	background-color: white;
	border: 1vh solid hsl(200, 90%, 22%);
  border-radius: 8px;
	box-shadow: 0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 35%);
}
.windowWord
{
  float: left;
  width: 50%;
  font-size: 4vh;
  margin-bottom: 2%;
  margin-top:2%;
}
.windowWord2
{
  float: left;
  width: 50%;
  font-size: 4vh;
  margin-bottom: 2%;
  margin-top:2%;
  text-decoration: line-through;
}
#instructions
{
  font-size: 3.5vh;
  position: absolute;
	top: 16%;
	left: 10%;
  width: 30%;
}
#char {
  position: absolute;
  top: 0%;
  pointer-events: none;
  touch-action: none;
}

.full {
  width: 100vw;
  height: 99%;
}

#gridLines {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.uiWindow {
  height: 100%;
  width: 100%;
}

.draggable {
  cursor: move;
}

.boxText {
  dominant-baseline: middle;
  text-anchor: middle;
  touch-action: none;
  pointer-events: none;
}

#instText {
  width: 80%;
  word-wrap: break-word;
}

.shadow {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
  /* Similar syntax to box-shadow */
}

#addArea {
  position: absolute;
  top: 0;
  left: 0;
}