.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#base
{
  max-width:80%;
  margin:auto;
}
.head1
{
  background-color: #3498db!important;
}
.titleText
{
  color:white;
  font-size: 26px;
  
}
.buttonCol {
  margin-bottom: 8px;
  text-align: center;
}
.tac
{
  text-align: center;
}
.displayCard
{
  min-height: 200px;
}
.scroll1
{
  height: 300px;
  overflow: scroll;
}
#text2
{
    width: 100%;
    font-size: 53px;
    text-align: center;

}
.m10
{
  margin-top: 10px;
}
#stepper1
{
  width:55px;
}
.smText
{
  font-size: 14px;
  text-align: right;
}
#paintSelect {
  width: 20%;
  font-size: 20px;
}
.blackboard
{
  
    background: green;
    height: 500px;

}