h1 {
  color: white;
  background-color: black;
}

#instructions {
  font-size: 4vh;
  position: absolute;
  left: 10%;
  top: 20%;
}

.piccard {
  position: absolute;
  width: 20%;
  height: 35%;
  top: 0;
  left: 0;
  background-color: white;
  border-radius: 8px;
  display: none;
  overflow: hidden;
}

.piccard #pic {

  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}

.piccard #icon {
  width: 10%;
  position: absolute;
  right: 2%;
  top: 2%;
}

.bigcard {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 30%;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  display: none;
}

.bigcard #pic {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bigcard #icon {
  width: 10%;
  position: absolute;
  right: 2%;
  top: 2%;
}

.unselected {
  border: none;
  background-color: #E7E1DB;
}

.pselected {
  border: solid blue 4px;
  background-color: #B3C9D3;
}

#char {
  position: absolute;
  top: 0%;
  pointer-events: none;
  touch-action: none;
}

.full {
  width: 100vw;
  height: 99%;
}

#gridLines {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.uiWindow {
  height: 100%;
  width: 100%;
}

.draggable {
  cursor: move;
}

.boxText {
  dominant-baseline: middle;
  text-anchor: middle;
  touch-action: none;
  pointer-events: none;
}
#questIndex
{
  position: absolute;
  top:45%;
  left:10%;
  font-size: 4vh;
}
#instText {
  width: 80%;
  word-wrap: break-word;
}
.cardWord
{
  position: absolute;
  bottom: 0;
  right: 2%;
  color:black;
  opacity: 0.8;
  font-size: 3vh;
}
.shadow {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
  /* Similar syntax to box-shadow */
}

#addArea {
  position: absolute;
  top: 0;
  left: 0;
}
#wrongIcon
{
  position: absolute;
  top:10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-image: url("uhoh.svg");
  background-repeat: no-repeat;
  background-size: contain;
	background-position: center;
  display: none;
}
#rightIcon
{
  position: absolute;
  top:10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-image: url("right.svg");
  background-repeat: no-repeat;
  background-size: contain;
	background-position: center;
  display: none;
}