.ttblue {
    font-family: var(--andika)!important;
    color: #47378b;
}

.ttgreen {
    font-family: var(--andika)!important;
    color: #5e7f57;
}

.ttorange {
    font-family: var(--andika)!important;
    color: #cc9249;
}

.ttpurple {
    font-family: var(--andika)!important;
    color: #675a75;
}
.ttblack
{
    font-family: var(--andika)!important;
    color: black;
}