.App {
  text-align: center;
}
.gridHolder
{
  width: 40vw;
  height: 100%;
}
.stepsHolder
{
  width: 20vw;
  height: 80vh;
  background-color: rebeccapurple;
}
.editor
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}