.App {
  text-align: center;
}
#base
{
  /* width: 80%; */
  margin: 0 auto;
  min-height: 80vh;
}
#base .card
{
  height:80vh;
}

/*mobile*/
@media only screen and (max-width: 600px) {
  #base
  {
    width: 100%;
  }
}
