h1 {
  color: white;
  background-color: black;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0 !important;
  touch-action: none;
}
#char
{
  position: absolute;
  top:0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  touch-action: none;
}
.full
{
  width: 100vw;
  height: 100vh;
}
.uiWindow
{
  height: 100%;
  width: 100%;
}
.draggable {
  cursor: move;
}
.ttinput
{
  position: absolute;
  width: 85%;
  background: lightgray;
}
.boxText
{
  dominant-baseline:middle;
  font-family: Arial, Helvetica, sans-serif;
  text-anchor:middle;
  touch-action: none;
  pointer-events: none;
}
#instText
{
  width: 80%;
  word-wrap:break-word;
}