.App {
  text-align: center;
}
#base
{
  max-width: 80%;
  margin: auto;

}

@media only screen and (max-width: 600px) {
  #base
  {
    max-width: 100%;
    margin: auto;
  }
}
.tac
{
  text-align: center;
}
.ta1
{
  width: 80%;
  margin: auto;
}
.scroll1
{
  height: 500px;
  overflow: scroll;
}
#catRows
{
  max-width: 80%;
  margin: auto;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chatScreen
{
  height: 70vh;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}
.chatGrid
{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "chat chat" "chat chat";
  width: 100%;
  height: 600px;
}
.chatLine
{
  font-size: 16px;
}
.chatInput {
  display: flex;
  height: fit-content;
  justify-content: space-around;
}
#chatInputText
{
  width: 80%;
  border: solid 1px #ccc;
}
#chatInputButton
{
  width: 20%;
  border: solid 1px #ccc;
  float: right;
}
.chatMessages
{
  height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.codeArea
{ 
    width: 100%;
    height: 220px;    
}
.codeArea textarea {
  padding: 8px;
  background-color: black;
  width: 100%;
  height: 150px;
  color: mediumspringgreen;
  font-size: 18px;
}
.codeSection
{
  height:50%;
  text-align: center;
}
.codeSection h2
{
  font-size: 20px;
  border: solid 1px #ccc;
}


.avatar
{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px;
}
.avatarArea
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}