.sample {
  padding: 12px;
  margin: 12px 0;
  border: 1px solid grey;
}
.sample strong {
  display: inline-block;
  text-decoration: underline;
  margin-bottom: 12px;
}

.tteq {
  color:black;
}
.tteq hr {
  width: 100%;
  border: 1px solid;
  border-radius: 1px;
  margin: 0;
  background: #000;
}

  /* .tteq #mathDisplay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
  } */
  
  /* .tteq #mathDisplayRel {
    position: relative;
    margin-top: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
  }
  
  .tteq #mathDisplayRel2 {
    position: relative;
    margin-top: 10%;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
  } */
  
  /* .tteq #fmathDisplay {
    display: grid;
    columns: auto;
  } */
  
  /* .tteq .md2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
  } */
  
  .tteq .equation {
     width: fit-content;
     margin: auto;
    /* color: black; */
    /* font-family: Andika; */
    /* line-height: 1; */
    /* font-weight: 700; */
    /*  letter-spacing: 1.1vw; */
  }

  .tteq .equation .productRows {
    text-align: right;
  }
  
  
  .tteq .equation.addition .ttrow, 
  .tteq .equation.subtraction .ttrow,
  .tteq .equation.multiply .ttrow {
    display: grid;
    text-align: center;
  }
  
  .tteq .equation.fraction {
    display: grid;
    text-align: center;
    /* color: black; */
    /*  line-height: 1; */
    /*  letter-spacing: 1.1vw; */
  }

  .tteq .equation.division {
    display: grid;
    grid-template-columns: auto auto;
    
  }
  .tteq .equation.division span {
    text-align: center;
    
  }
  .tteq .equation.division .dividend {
    overflow: hidden;
  }
  .tteq .equation.division .dividend .inner {
    position: relative;
  }
  .tteq .equation.division .dividend .inner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #000;
    border-radius: 2px;
  }
  .tteq .equation.division .dividend .inner .circle {
    width: 1em;
    height: 90%;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    left: -0.8em;
  }
  .tteq .productRows {
    display: flex;
    grid-template-columns: auto auto;
    /* text-align: right; */
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.tteq .productRows span
{
  min-width: 50px;
}
  .tteq .ttrow.answer {
    text-align: right;
  }
  .tteq .ttrow.small {
    font-size: 60%;
  }
  
  /* .tteq .tal {
    text-align: left;
  } */
  
  /* .tteq .tar {
    text-align: right;
  } */
  
  /* .tteq #fitCon {
    width: fit-content;
    margin: auto;
  } */

  .tteq .carryString {
    display: grid;
    /* grid-template-columns: 1fr auto; */
    text-align: right;
    font-size: 60%;
  }
  /* 
  .tteq .mathGrid {
     display: grid;
    grid-template-columns: 1fr auto;
    text-align: right;
  }

  .tteq .answerGrid {
    display: grid;
    grid-template-columns: 1fr auto;
    text-align: right;
  } */
  /* .tteq .answerGrid.borderTop {
    border-top: solid black;
  } */
  
  /* .tteq #answerGrid {
    display: grid;
    grid-template-columns: 1fr auto;
    float: right;
  }
  
  .tteq #answerGrid2 {
    display: grid;
    grid-template-columns: 1fr auto;
    text-align: right;
  }
  
  .tteq #answerGrid3 {
    border-top: solid black;
    display: grid;
    grid-template-columns: 1fr auto;
    text-align: right;
  }
  
  .tteq #answerGrid4 {
    display: grid;
    grid-template-columns: 1fr auto;
    text-align: right;
  } */
  
  /*.tteq #quotient {
     position: relative;
    top: -8px;
    left: 2px; 
  }*/
  
   /*.tteq #solutionGrid {
    display: grid;
    grid-template-columns: auto auto;
     grid-template-rows: 27px;
    width: 200px;
    padding: 12px;
    font-size: 27px;
    font-weight: bold;
    margin: auto;
  } */
  
  /* .tteq #remain {
     letter-spacing: 0.5px;
  } */
  
  /* .tteq .subAnswer {
    border-top: 2px solid black;
  } */
  
  /* .tteq #inputDiv {
    position: absolute;
    left: 50%;
    top: 10%;
  } */
  
  .tteq .slowFade {
    opacity: 0;
    animation: slowFade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  
  @keyframes slowFade {
    100% {
      opacity: 100%;
    }
  }
  
  .tteq .drop100 {
    position: relative;
    top: -100%;
    opacity: 0;
    animation-name: drop100;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  
  @keyframes drop100 {
    from {
      top: -100%;
      opacity: 0;
    }  
    to {
      top: 0;
      opacity: 1;
    }
  }
  
  .tteq .drop200 {
    position: relative;
    top: -200%;
    opacity: 0;
    animation-name: drop200;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  
  @keyframes drop200 {
    from {
      top: -200%;
      opacity: 0;
    }  
    to {
      top: 0;
      opacity: 1;
    }
  }
  
  .tteq .blink {
    animation: blink 1s linear infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    } 
    100% {
      opacity: 1;
    }
  }
  
  /* .tteq #text1 {
    transform: translate(-50%, 0);
    border: solid;
  } */
  
  /* .tteq #divGrid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  } */
  
  /* .tteq #dividend {
    box-shadow: -2px -2px 0 #000;
     border-top: solid 2px;
     margin-left: -3px;
     padding-left: 5px;
  } */
  
  /* .tteq #divisor {
     border-right: 2px black solid;
    border-radius: 0px 0.4em 0.4em 0px; 
     text-align: right;
    padding-right: 5px;
  } */
  
  /* .tteq #fractgrid2 {
    display: grid;  
    grid-template-rows: auto;
    grid-auto-columns: max-content;
  } */
  
  .tteq .fop {
    position: relative;
    top: 50%;
    /* text-align: center; */
    /* top: 9px;
    left: 4px; */
  }
  
  /* .tteq .fractPos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
  } */
  
  .tteq .wholeNumberFract {
    color: red;
    transform: translate(0, 50%);
  }
  
  .blue {
    color: lightblue;
  }
  
  .red {
    color: red;
  }
  
  .green {
    color: green;
  }
  
  .orange {
    color: orange;
  }
  
  .coral {
    color: coral;
  }
  
  .cadet {
    color: cadetblue;
  }
  
   .smallText {
    font-size: 90%;
  }
  
  /* .tteq .normalSize {
     font-size: 20px; 
  } */
  
  .large {
    font-size: 110%;
    /* font-size: 36px; */
  }
  
 .bold {
    font-weight: bold;
  }
  
  .ital {
    font-style: italic;
  }
  
  .boxed {
    border: solid 2px black;
  }
  
  .striked {
    text-decoration: line-through;
  }
  
  .tteq .topfrac {
    border-bottom: solid 1px;
    text-align: center;
  }
  
  .tteq .bottomfrac {
    text-align: center;
    border-top: solid 1px;
  }
  .tteq .bb {
    border-bottom: 2px solid black;
  }
  /* .tteq .decp {
     font-weight: normal;
     margin: 0 -1.025vw;
  } */
  .tteq .comma::after {
    content: ",";
    position: absolute;
    right: -0.1em;
  }
  .tteq .decimal::after {
    position: relative;
    content: ".";
    right: -0.25em;
    /* font-weight: normal; */
    /* margin: 0 -1.025vw; */
  }
/*   .tteq .decp2 {
     font-weight: normal;
    margin: 0 -1.025vw;
  } */
  
  .tteq .invis0 {
    visibility: hidden;
  }
  
  .tteq .wholeFract {
    position: relative;
    top: -50%;
    border: none !important;
  
  }
  
  .tteq .fractionWhole {
    display: inline-flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
    letter-spacing: 0;
  }
  
  .tteq .hid {
    visibility: hidden;
  }
  
  /* .tteq .rootNum {
    text-decoration: overline;
  } */
  
  .tteq .whole {
    /* letter-spacing: 0; */
    position: relative;
    top: 50%;
    /* top: 9px; */
  }
  
  /* .tteq .fraction {
    display: inline-flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
  } */
  
  .tteq .numerator, .tteq .bottomBorder {
    position: relative;
  }
  .tteq .numerator::after, .tteq .bottomBorder::after {
    content: "";
    position: absolute;
    width: 110%;
    height: 2px;
    background: #000;
    border-radius: 2px;
    top: 92%;
    left: -5%;
  }
  
  .tteq .root {
    display: inline-block;
    vertical-align: middle;
  }
  
  .tteq .radix1 {
    display: inline-block;
    width: 0.2em;
    height: 1.5ex;
    vertical-align: bottom;
    border-top: 0.2ex solid;
    border-right: 0.15ex solid;
    transform: skew(25deg);
  }
  
  .tteq .radix2 {
    margin-left: 9px;
    display: inline-block;
    vertical-align: bottom;
    border-top: 0.2ex solid;
    border-left: 0.15ex solid;
    transform: skew(-15deg);
  }
  
  .tteq .radicand {
    display: inline-block;
    padding-left: 0.5em;
    transform: skew(15deg);
  }
  
  /* .tteq .borderTop {
    border-top: solid black 2px;
  } */

  /* .tteq #carryString { */
    /* display: grid;
    grid-template-columns: 1fr auto;
    text-align: right; */
    /* font-size: 19px; */
    /* letter-spacing: 17px; */
  /* } */
  
  /* .tteq #carryString2 {
    display: grid;
    grid-template-columns: 1fr auto;
    text-align: right;
    font-size: 50%;
    letter-spacing: 21px;
  }
  .tteq #carryString3 {
    display: grid;
    text-align: right;
    font-size: 50%;
  }
  .tteq .topString {
    font-size: small;
    text-align: center;
  } */
  
  .tteq #borrow {
    text-align: right;
    /* font-size: 19px; */
    /* letter-spacing: 17px; */
  }
  
  .tteq .strikethrough {
    position: relative;
  }
  
  .tteq .strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;
  
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  
  .tteq .strike {
    text-decoration: line-through;
  }
  
  .tteq .strike2 {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100% 100%'>  <line x1='0' y1='0' x2='43%' y2='100%' stroke='black' stroke-width='4px' /></svg>");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    /* background-size: 20px 20px; */
  }
  
  .tteq .strike3 {
    position: relative;
    /* background-size: 100%;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0%) 40%, rgba(0, 0, 0, 100%) 40%, rgba(0, 0, 0, 100%) 60%, rgba(0, 0, 0, 0%) 60%);
    background-repeat: no-repeat; */
    /* background-position: -50% -50%; */
  }
  .tteq .strike3::after {
    content: "";
    background: #000;
    height: 100%;
    width: 25%;
    position: absolute;
    left: calc(50% - 12.5%);
    transform: rotate(45deg);
    border-radius: 4px;
  }
  
  .tteq .spanSelected {
    border: solid red 2px;
  }
  
  .tteq .gridTowerDisplay {
    font-family: Andika;
    /* font-size: 3vw; */
    /* line-height: 1; */
    /* letter-spacing: 1.1vw; */
  
    display: grid;
    grid-template-columns: 1fr auto;
  }
  
/*   .tteq #productRows {
     text-align: right;
  }
   */
  /* .tteq .narrowText {
     letter-spacing: 2px;
    transform: translate(-85px, 0);
     width: 100px; 
     position: relative;
    right: 4px;  
  } */
  
 /*  .tteq .narrowText2 {
     letter-spacing: -3px;
    transform: translate(-85px, 0);
    width: 100px; 
    position: relative;
    right: 16px;
  } */
  
  .tteq .carryDownRight {
    position: relative;
    top: 11px;
    right: 8%;  
  }
  .tteq .carryFarDownRight {
    position: relative;
    top: 22px;
    right: 2%;  
  }
  .hide
  {
    display: none;
  }
  .invisible
  {
    visibility: hidden;
  }