.app
{
    border: solid 1px #000;
    padding: 10px;
    margin: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--vw) * 50);
    height: calc(var(--vw) * 25);
}

@media (max-width: 800px)
{
    .app
    {
        width: calc(var(--vw) * 100);
        height: calc(var(--vw) * 50);
    }
}
.selectpick
{
    width: calc(var(--vw) * 50);
    height: 30px;
    border: solid 1px #000;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
.btnSpeak
{
    width: calc(var(--vw) * 50);
    height: 30px;
    border: solid 1px #000;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
.btnSubmit .disabled
{
    background-color: #ccc;
    color: #000;
}

.checkbox
{
    border: solid 1px #000;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
.checkbox input :not(:checked)
{
    background-color: #fff;
    color: #000;
}
input :checked
{
    background-color: #ccc;
    color: #000;
}
