html {
    
    --square-size: 15;
} 


.squares {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--vw) * 100);
    height: calc(var(--vw) * 100);
    background-color: white;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.percentageText
{
    font-size: calc(var(--px) * 26);
    color: black;
    z-index: 1;
    text-align: center;
}
