body {
    background-color: var(--background);
    color: var(--text);
    font-family: Arial, sans-serif;
}

h1 {
    color: var(--accent);
}

.primary-button {
    background-color: var(--primary);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.secondary-button {
    background-color: var(--secondary);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

a {
    color: var(--link);
    text-decoration: none;
}