body
        {
            background-image: url(assets/bgpattern5.png);
        }
        #formarea {
            position: absolute;
            top: 40%;
            left: 0;
            width: 100%;
        }

        #parent {
            display: table;
            width: 100%;
            position: absolute;
            top:25%;
            left:0;
            width: 50%;
        }

        #form_login {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            background-color: beige;
            width: 500px;
        }
        #toptext
        {
            font-size: 26px;
            color:white;
        }
        #card1
        {
            width:500px;
            margin: auto;
        }
        #testdiv
        {
            color:black;
            font-size: 32px;
            position:absolute;
            top:100px;
            left:200px;
        }
        #testdiv2
        {
            color:black;
            font-size: 32px;
            position: absolute;
            bottom: 100px;
            right: 100px;
        }
        #testdiv3
        {
            color:black;
            font-size: 32px;
            position: absolute;
            bottom: 100px;
            left: 100px;
        }
        #testdiv4
        {
            color:black;
            font-size: 32px;
            position: absolute;
            top: 100px;
            right: 100px;
        }

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}