
.picrotator {
    --picsize: 80vmin;
    --picurl: url("../assets/pic1.png");
    --ringcount: 4;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: var(--picsize);
    height: var(--picsize);
}

figure {
    --ring: 1;
    /* --rotation: 0; */
    --p: calc((1 + var(--ringcount) - var(--ring)) / var(--ringcount));
    --b: calc(1 / var(--p));
    --s: calc(var(--p) * var(--picsize));
    position: absolute;
    margin: 0;
    padding: 0;
    width: var(--s);
    height: var(--s);
    background-image: var(--picurl);
    background-repeat: none;
    background-size: calc(100% * var(--b)) auto;
    background-position: center;
    border: 2px solid white;
    border-radius: 50%;
   /*  transform: rotate(calc(1rad * var(--rotation))); */
}
.noBorder {
    border: none!important;
}

h3
{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-weight: 600;
    color: black;
    text-shadow: 0 0 1px #000;
}