#text1 {
    min-width: 800px;
    text-align: center;
    font-size: 24px;
    width: auto;
    height: auto;
    border: solid green;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;


    resize: none;
    /*remove the resize handle on the bottom right*/
}

#appContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#musicList
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    width: 300px;
}
#volSlider
{
    width: 300px;
}