.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#base
{
  max-width: 1200px;
  min-height: 600px;
}
#card1
{
  min-height: 600px!important;
}
#sentScreen
{
  padding:20px;
  margin: auto;
}
.header
{
  background-color: #c0392b!important;
  color:black;
  font-size: 24px;
}
.tal
{
  text-align: left;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
