.squarebutton {
    width: 50px;
    height: 50px;
    font-size: 26px;
    font-weight: bold;
    background-color: wheat;
}

#fileList {
    width: 300px;
    font-size: 25px;
}
#selectScreen
{
    text-align: center;
}
#btnSelect
{
    font-size: 26px;
    color:white;
    background-color: green;
}

.goButton {
    width: 100px;
    height: 100px;
    font-size: 26px;
    font-weight: bold;
    background-color: wheat;
}

#bonusbuttons {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
}

.bonusCursor {
    font-size: 30px;
    color: red;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#buttonGrid {
    display: grid;
    grid-template-columns: 250px 100px;
}

#bonusInput {
    font-size: 30px;
    width: 94px;
    height: 40px;
    border: solid black;
    text-align: right;
    overflow-x: hidden;
    background-color: skyblue;
}

#greenCheck {
    position: relative;
    width: 50px;
    background-size: 50px 50px;
    background-image: url('assets/green_check.svg');
    background-repeat: no-repeat;
    height: 50px;
    top: 150px;
    left: 268px;
}

#redX {
    position: absolute;
    width: 50px;
    background-size: 50px 50px;
    background-image: url('assets/red_x.svg');
    background-repeat: no-repeat;
    height: 50px;
    top: 150px;
    left: 272px;
}

#problemBox {
    font-size: 30px;
    width: 250px;
    height: 40px;
    border: solid black;
    text-align: center;
}

#problemGrid {
    display: grid;
    grid-template-columns: 250px 70px;
}

#game {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    visibility: hidden;
}

#subMessage {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    font-size: 30px !important;
    visibility: hidden;
}

#editButtons>* {
    padding-left: 10px;
    margin-left: 10px;
}

#indexBox {
    border: solid black 2px;
    font-size: 30px;
    padding: 4px;
    text-align: center;
}

#clock {
    border: solid black 2px;
    font-size: 30px;
    float: right;
    padding: 4px;
    text-align: center;
}

#topBar {
    display: grid;
    grid-template-columns: auto auto;

}
#btnSelectRound
{
    height: 50px;
    margin-bottom: 10px;
}