.dragPanel
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: move;
    z-index: 100;
}
.dragPanel .btnClose
{
    float: right;
    cursor: pointer;
}
.dragPanelHeader
{
    background-color: #000;
    color: #fff;
    padding: 5px;
}
.borderPanel {
    margin: auto;
    width: 20vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 15vw;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.borderPanel img
{
    width: 3vw;
    height: 3vw;
    border: solid thin gainsboro;
    cursor: pointer;
}

.sidePanel {
    position: absolute;
    top: 6vh;
    right: 0;
    font-size: calc(var(--defaultSize) / 4);
    width: 20vw;
    height: 60vh;
    border: solid thin gainsboro;
    align-items: center;
  }
  
 /*  .movePanel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 10vh;
    width: 10vw;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 25vh;
  } */
  .movePanel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 10vh;
    width: 10vw;
    position: relative;
    top: 7vh;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin-bottom: 25vh; */
}
  .buttonPanel {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 35vh;
    width: 20vw;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    gap: 3vh;
  }

  .menuImage
  {
    width: 3vw;
    height: 3vw;
    border: solid thin gainsboro;
    cursor: pointer;
  }
  .panelInfo {
    position: absolute;
    top: 3vw;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 5vw;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
}
.clipPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.scratchPad
{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid thin gainsboro;
  gap:5px;
  height: 25vh;
  padding: 2vw;
  margin-bottom: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  
}
.scratchPadRow {
  display: flex;
  justify-content: space-between;
}
.scratchGroup
{
  height: 20vh;
  overflow-y: scroll;
}
.overlayIcon
{
  width: 2vw;
  height: 2vw;
}
.symButtons {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  height: 18vh;
  overflow-y: scroll;
}
.textPanel
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: stretch;
  height:100%;
  width: 100%;
}
.textPanel textarea
{
  width: 100%;
  height: 80%;
  resize: none;
  font-size: calc(var(--defaultSize) / 4);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 5px;
  overflow-y: scroll;
}