.topMenu
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 4px;
	width: 100%;
	background-color: silver;
	color:white;
}
.squareButton {
  width: var(--cellWidth);
  height: var(--cellHeight);
  border: solid thin gainsboro;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
