body.gradebook {
   background-color: hwb(196 38% 10%);
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG00000e.jpg");
	background-size: 28%;
	background-repeat: repeat;
	background-position: 26% 7%;
}

.gradebook header {
	width: 100%;
	height: calc(var(--px) * 66);
	background-color: #F7F1D9;
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG00000f.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
	box-shadow: 0 calc(var(--vw) / 2) var(--vw) calc(var(--vw) / 10) var(--shadow);
}

.gradebook main {
    padding: 0 calc(var(--vw) * 6);
    background-image: url('https://ttv5.s3.amazonaws.com/img/bg/BG000015.jpg');
}

.gradebook header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: calc(var(--px) * 11) calc(var(--vw) * 10) 0 calc(var(--vw) * 4);
}

.gradebook header button {
    margin-top: calc(var(--px) * 12);
}

.gradebook article {
    padding: calc(var(--vw) * 2) calc(var(--vw) * 2);
    margin: 0 0 var(--vw) 0;
    font-family: var(--barto);
    font-size: calc(var(--px) * 14);
}

.grade-headers {
    width: calc(var(--gridWidth));
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.grade-headers figure {
    font-size: calc(var(--px) * 14);
    margin: 0;
    padding: 0;
    text-align: center;
    border: 0.25px solid black;
    background-color: white;
}

.gradescrollgroup {
    display: grid;
    grid-template-columns: 1fr var(--scrollbarWidth);
    
}

.grade-scroll {
    height: calc(var(--vw) * 30);
    width: var(--gridWidth);
    overflow-y: hidden;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);

}

.grade-scroll .odd {
    background-color: lightblue !important;
}

.grade-scroll .even {
    background-color: whitesmoke !important;
}

.grades figure {

    display: block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
    height: calc(var(--vw) * 5);
    cursor: pointer;
    background-color: white;
    float: left;
    border: 0.25px solid black;
}

.grades figure figcaption {
    font-size: calc(var(--px) * 12);
    font-weight: bold;
    text-align: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}