body.gradebook {
	background-color: hwb(196 38% 10%);
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG00000e.jpg");
	background-size: 28%;
	background-repeat: repeat;
	background-position: 26% 7%;
}
/* gradebook Header */
.gradebook header {
	width: 100%;
	height: calc(var(--px) * 66);
	background-color: #F7F1D9;
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG00000f.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
	box-shadow: 0 calc(var(--vw) / 2) var(--vw) calc(var(--vw) / 10) var(--shadow);
}
/* gradebook H1 */
.gradebook header h1 {
	font-family: var(--barto);
	font-weight: normal;
	font-size: calc(var(--px) * 55);
	line-height: 0.9;
	color: #375982;
	text-align: center;
    
}
.gradebook header h1::before {
	position: absolute;
	content: attr(title);
}
.gradebook header h1::after {
	content: attr(title);
	font-weight: 700;
	color: #FFFFFF;
	text-shadow: var(--px) var(--px) #000B;
}
.gradebook article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: calc(var(--vw) * 2) calc(var(--vw)*0.25);
    margin: 0 0 var(--vw) 0;
    font-family: var(--barto);
    font-size: calc(var(--px) * 14);
}
.gradebook main {
    width: 80%;
    margin: 0 auto;
    padding: 0 calc(var(--vw) * 6);
    background-image: url('https://ttv5.s3.amazonaws.com/img/bg/BG000015.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
.grade-headers {
    width: calc(var(--gridWidth));
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.grade-headers figure {
    font-size: calc(var(--px) * 14);
    margin: 0;
    padding: 0;
    text-align: center;
    border: 0.25px solid black;
    background-color: white;
}

.gradescrollgroup {
    display: grid;
    grid-template-columns: 1fr var(--scrollbarWidth);
    
}

.grade-scroll {
    height: calc(var(--vw) * 28);
    width: var(--gridWidth);
    overflow-y: hidden;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);

}

.grade-scroll .odd {
    background-color: lightblue !important;
}

.grade-scroll .even {
    background-color: whitesmoke !important;
}

.grades article {

    display: block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
    height: calc(var(--vw) * 5);
    cursor: pointer;
    background-color: white;
    float: left;
    border: 0.25px solid black;
}

.grades article h2 {
    font-size: calc(var(--px) * 14);
    font-weight: 200;
    text-align: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}