.notationGrid {
    display: grid;
    grid-template-columns: repeat(4, calc(var(--vw) * 1.2));
    grid-template-rows: calc(var(--vw) * 2) calc(var(--vw) * 8);
    grid-gap: 0.5rem;   
    list-style: none;
}

.notationGrid .word {
    transform-origin: center right;
    rotate: -55deg;
    text-align: right;
    position: relative;
    left: calc(var(--vw) * -15.5);
    top: calc(var(--vw) * -3);
    width: calc(var(--vw)*18);
    transition-property: rotate;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.notationGrid .word .decimalPoint {
    font-weight: bold;
}
.notationGrid .word .comma {
    font-weight: bold;
}