.App {
  text-align: center;
}
#base
{
  max-width: 500px;
  margin: auto;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#myCanvas
{
  cursor:crosshair;
}
#block
{
  width: 50px;
  height: 50px;
  background-color: red;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.tac
{
  text-align: center;
}
.ta1
{
  width: 80%;
  margin: auto;
}
.scroll1
{
  height: 500px;
  overflow: scroll;
}
#catRows
{
  max-width: 80%;
  margin: auto;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
