body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

section {
  background: rgb(243, 81, 30);
  color: white;
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

@font-face {
  font-family: font1;
  src: url('../assets/ds.ttf');
  font-weight: 400;
  font-weight: normal;
}