h1 {
  color: white;
  background-color: black;
}
@font-face {
  font-family: "Andika";
  src:url('./assets/Andika-Regular.ttf') format('truetype');
}
#mathDisplay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.equation {
  font-family: Andika;
  font-size: 6vw;
  line-height: 1;
  letter-spacing: 2.2vw;
}
#mathGrid
{
  display: grid;
  grid-template-columns: 50px auto;
  border-bottom: solid black;
  
}
#answerGrid
{
  display: grid;
  grid-template-columns: 50px auto;
}
#inputDiv
{
  position: absolute;
  left: 50%;
  top:10%;
  
}
#text1
{
  font-size: 50px;
  transform: translate(-50%,0);
  border: solid;
}
#divGrid
{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
#dividend
{
  border-top: solid 2px;
 
}
#divisor 
{
  border-right: 2px black solid; border-radius: 0px 0px 16px 0px

}
#fractgrid2
{
  display: grid;
 
  grid-template-rows: auto;
  grid-auto-columns: max-content;
}
.fop {
  position: relative;
  text-align: center;
  top: -50%;
}
.topfrac
{
  border-bottom:solid 1px;
  text-align: center;
}
.bottomfrac
{
  text-align: center;
  border-top: solid 1px;
}
.decp {
  font-weight: normal;
  margin: 0 -2.05vw;
}
.decp2 {
  font-weight: normal;
  margin: 0 -2.05vw;
}

.invis0
{
  visibility: hidden;
}
.wholeFract {
  font-size: 8vw;
  position: relative;
  top: -50%;
  border: none!important;
  
}