.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#base {
  width: 100%;
  margin: auto;
}

.mcontainer {
  width: 80%;
  margin: auto;
}

.head1 {
  background-color: #3498db !important;
}

.titleText {
  color: white;
  font-size: 26px;

}

.titleText {
  color: white;
  font-size: 26px;

}

.buttonCol {
  margin-bottom: 8px;
  text-align: center;
}

.tac {
  text-align: center;
}

.displayCard {
  min-height: 200px;
}

.scroll1 {
  height: 400px;
  overflow: scroll;
}

.scroll2 {
  height: 600px;
  overflow: scroll;
}

#text2 {
  width: 100%;
  font-size: 53px;
  text-align: center;

}

.m10 {
  margin-top: 10px;
}

#stepper1 {
  width: 55px;
}

.smText {
  font-size: 14px;
  text-align: right;
}

#paintSelect {
  width: 20%;
  font-size: 20px;
}

.blackboard {

  background: green;
  height: 500px;

}

.stepCard {

  height: 150px;
}

.scroll2 {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;

}

.scroll3 {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* width: fit-content; */
  /* position: absolute; */
  /* right: 0; */
}

.cellEdit {
  width: 40px;
  text-align: center;
  border: solid 1px black;
  font-size: 40px;
}

.cellEditFade {
  width: 40px;
  text-align: center;
  border: solid 1px black;
  font-size: 40px;
  opacity: 0.2;
}

.labelText {
  font-size: 22px;
  color: cadetblue;
  font-weight: bold;
  opacity: 0.3;
}

#towerEdit {
  border: solid cadetblue 1px;
  margin: auto;
  min-width: 300px;
  text-align: right;
  width: fit-content;
}

.unselectedCard {
  color: black !important;
  background-color: rgba(0, 0, 0, .03) !important;
}

.selectedCard {
  color: white !important;
  background-color: rgba(52, 152, 219, 1.0) !important;
}

.inputSelected {
  border: green 5px solid;
}

.insertCard {
  margin: auto;
  /* position: absolute; */
  width: -moz-fit-content;
  width: fit-content;
  /* text-align: center; */
  /* right: 0; */
  /* top: 50px; */
  min-width: 300px;
  margin-top: 50px;
}

#editToolbar {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-50%);
  background-color: gainsboro;
}

.editArea {
  margin-top: 50px;
}

.redBack {
  background-color: red;
}

.blueBack {
  background-color: blue;
}

.cadetBack {
  background-color: cadetblue;
}

.greenBack {
  background-color: green;
}

.greyBack {
  background-color: gainsboro;
}

.blackBack {
  background-color: #121212;
}

.silverBack {
  background-color: silver;
}

.colHeader {
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

