h1 {
  color: white;
  background-color: black;
}

@font-face {
  font-family: "Andika";
  src: url('./Andika-Regular.ttf') format('truetype');
}

#mathDisplay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}
#mathDisplayRel {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}

.md2 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 36px;
  transform: translate(-50%, -50%);
  width: fit-content;
}

.equation {
  font-family: Andika;
  font-size: 3vw;
  line-height: 1;
  letter-spacing: 1.1vw;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}
#fitCon
{
  width: fit-content;
  margin: auto;
}
#mathGrid {
  display: grid;
  grid-template-columns: 50px auto;
  border-bottom: solid black;
  text-align: right;
}

#mathGrid2 {
  display: grid;
  grid-template-columns: 50px auto;
  text-align: right;
}

#answerGrid {
  display: grid;
  grid-template-columns: 50px auto;
  float: right;
}
#answerGrid2 {
  display: grid;
  grid-template-columns: 50px auto;
  text-align: right;
}
#solutionGrid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 27px;
  float: left;
  padding: 12px;
  font-size: 27px;
  font-weight: bold;
}

#remain {
  letter-spacing: 0.5px;
}

.subAnswer {
  border-top: 2px solid black;
}

#inputDiv {
  position: absolute;
  left: 50%;
  top: 10%;

}

.blink {
  
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

#text1 {
  font-size: 50px;
  transform: translate(-50%, 0);
  border: solid;
}

#divGrid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

#dividend {
  border-top: solid 2px;
  margin-left: -3px;
}

#divisor {
  border-right: 2px black solid;
  border-radius: 0px 0px 16px 0px
}

#fractgrid2 {
  display: grid;

  grid-template-rows: auto;
  grid-auto-columns: max-content;
}

.fop {
  position: relative;
  /* text-align: center; */
  top: -8px;
  left: 14px;
}

.wholeNumberFract {
  color: red;
  transform: translate(0, 50%);
}

.blue {
  color: lightblue;
}

.red {
  color: red;
}

.green {
  color: green;
}

.orange {
  color: orange;
}
.coral
{
  color:coral;
}
.cadet
{
  color:cadetblue;
}
.smallText
{
  font-size: small;
}
.normalSize
{
  font-size: 20px;
}
.large
{
  font-size: 36px;
}
.bold
{
  font-weight: bold;
}
.ital
{
  font-style:italic;
}
.boxed
{
  border: solid 2px black;
}
.striked
{
  text-decoration:line-through;
}
.topfrac {
  border-bottom: solid 1px;
  text-align: center;
}

.bottomfrac {
  text-align: center;
  border-top: solid 1px;
}

.decp {
  font-weight: normal;
  margin: 0 -1.025vw;
}

.decp2 {
  font-weight: normal;
  margin: 0 -1.025vw;
}

.invis0 {
  visibility: hidden;
}

.wholeFract {
  font-size: 8vw;
  position: relative;
  top: -50%;
  border: none !important;

}

.fractionWhole {
  display: inline-flex;
  flex-direction: row;
  padding: 0;
  align-items: center;
  letter-spacing: 0;
}

.hid {
  visibility: hidden;
}

.rootNum {
  text-decoration: overline;
}

.whole {
  font-size: 45px;
  letter-spacing: 0;
}

.fraction {
  display: inline-flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
}

.numerator {
  border-bottom: 2px solid grey;
}

.root {
  display: inline-block;
  vertical-align: middle;
}

.radix1 {
  display: inline-block;
  width: 0.2em;
  height: 1.5ex;
  vertical-align: bottom;
  border-top: 0.2ex solid;
  border-right: 0.15ex solid;
  transform: skew(25deg);
}

.radix2 {
  margin-left: 9px;
  display: inline-block;
  vertical-align: bottom;
  border-top: 0.2ex solid;
  border-left: 0.15ex solid;
  transform: skew(-15deg);
}

.radicand {
  display: inline-block;
  padding-left: 0.5em;
  transform: skew(15deg);
}

.borderTop {
  border-top: solid black 2px;
}

#carryString {
  display: grid;
  grid-template-columns: 50px auto;
  text-align: right;
  font-size: 19px;
  letter-spacing: 17px;
}
#carryString2 {
  display: grid;
  grid-template-columns: 50px auto;
  text-align: right;
  font-size: 10px;
  letter-spacing: 17px;
}
.topString {

  font-size: small;
  text-align: center;
}
#borrow {
  text-align: right;
  font-size: 19px;
  letter-spacing: 17px;
}

.strikethrough {
  position: relative;
}

.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;

  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.strike {
  text-decoration: line-through;
}

.strike2 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100% 100%'>  <line x1='0' y1='0' x2='43%' y2='100%' stroke='black' stroke-width='4px' /></svg>");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;

}

.strike3 {
  background-size: 50% 100%;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0%) 46%, rgba(0, 0, 0, 100%) 46%, rgba(0, 0, 0, 100%) 54%, rgba(0, 0, 0, 0%) 54%);
  background-repeat: no-repeat;
  /* background-position: -50% -50%; */
}

.spanSelected {
  border: solid red 2px;
}
.gridTowerDisplay
{
  font-family: Andika;
  font-size: 3vw;
  line-height: 1;
  letter-spacing: 1.1vw;
  
  display: grid;
  grid-template-columns: 50px auto;
 
  
}
