.mathGrid {
    --defaultSize: 10rem;
    --cellWidth: calc(var(--defaultSize) / 3);
    --cellHeight: calc(var(--defaultSize) / 2.5);
    --halfCellWidth: calc(var(--cellWidth) / 2);
    --halfCellHeight: calc(var(--cellHeight) / 2);

    display: flex;
    font-size: var(--defaultSize);
}

.mathGrid .cell {
    width: var(--cellWidth);
    height: var(--cellHeight);
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.mathGrid .bottomline::after,
.mathGrid .topline::after {
    content: "";
    position: absolute;
    width: 110%;
    height: calc(var(--cellHeight) / 8);
    border-radius: calc(var(--cellHeight) / 8);
    background: #000;
    top: calc(var(--cellHeight) - (var(--cellHeight) / 16));
    left: -5%;
}
.mathGrid .topline::after {
    top: calc(var(--cellHeight) / -16);
}

.mathGrid .rightline {
    border-right: solid 4px black !important
}

.mathGrid .leftline {
    border-left: solid 4px black !important
}

.mathGrid .halfDown .cell_1_1_0 {
    position: relative;
    top: 50%
}

.mathGrid .underlineRow {
    border-bottom: 2px solid black !important
}

.mathGrid .smallText {
    font-size: .8em
}

.mathGrid .largeText {
    font-size: 1.2em
}

.mathGrid .redText {
    color: red
}

.mathGrid .greenText {
    color: green
}

.mathGrid .blueText {
    color: blue
}

.mathGrid .yellowText {
    color: yellow
}

.mathGrid .purpleText {
    color: purple
}

.mathGrid .orangeText {
    color: orange
}

.mathGrid .pinkText {
    color: pink
}

.mathGrid .brownText {
    color: brown
}

.mathGrid .blackText {
    color: black
}

.mathGrid .whiteText {
    color: white
}

.mathGrid .grayText {
    color: gray
}

.mathGrid .lightBlueText {
    color: lightblue
}

.mathGrid .lightGreenText {
    color: lightgreen
}

.mathGrid .boldText {
    font-weight: bold
}

.mathGrid .italicText {
    font-style: italic
}

.mathGrid .tableBorder {
    border: solid;
    padding: 18px;
    width: 150px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-start
}

.mathGrid .strikethrough {
    position: relative;
    font-size: .8rem
}

.mathGrid .strikethrough:before {
    content: "";
    position: absolute;
    background: #000;
    top: 15%;
    left: 50%;
    width: calc(var(--cellWidth) / 8);
    height: 75%;
    border-radius: calc(var(--cellWidth) / 8);
    transform: rotate(30deg);
}

.mathGrid .halfCircle::after {
    content: "";
    position: absolute;
    top: -10%;
    left: 150%;
    width: 0.6em;
    height: 110%;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 27.3.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 9.5 34.5' style='enable-background:new 0 0 9.5 34.5;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M3.7,0.6C10,7.3,10.1,17.7,7.4,26c-0.9,2.8-2.1,5.4-3.8,7.9c-0.4,0.6-1.2,0.7-1.8,0.3c-0.6-0.4-0.7-1.3-0.3-1.8 c5.2-8.3,6.7-20.5,0.4-28.6C1.7,3.5,1.5,3.3,1.3,3.2C-0.4,1.6,2-1,3.7,0.6L3.7,0.6z'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
}

.mathGrid .division-line {
    border-top: 2px solid black;
    width: 50px;
    margin: 0 10px
}

.mathGrid .twoCol {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row !important; /* why no flex-direction for .threeCol? */
}

.mathGrid .twoCol .cell_2_1_0 {
    display: inline;
    text-align: right;
    font-size: calc(var(--defaultSize) /4)
}

.mathGrid .twoCol .cell_2_1_1 {
    display: inline;
    text-align: left;
    font-size: calc(var(--defaultSize) /4)
}

.mathGrid .threeCol {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: var(--cellHeight)
}

.mathGrid .threeCol .cell_3_1_0 {
    display: inline;
    text-align: right;
    font-size: calc(var(--defaultSize) /5)
}

.mathGrid .threeCol .cell_3_1_1 {
    display: inline;
    text-align: center;
    font-size: calc(var(--defaultSize) /5)
}

.mathGrid .threeCol .cell_3_1_2 {
    display: inline;
    text-align: left;
    font-size: calc(var(--defaultSize) /5)
}

.mathGrid .fourCol {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: var(--cellHeight)
}

.mathGrid .fourCol .cell_1_4_0 {
    display: inline;
    text-align: right;
    font-size: calc(var(--defaultSize) /6)
}

.mathGrid .fourCol .cell_1_4_1 {
    display: inline;
    text-align: center;
    font-size: calc(var(--defaultSize) /6)
}

.mathGrid .fourCol .cell_1_4_2 {
    display: inline;
    text-align: center;
    font-size: calc(var(--defaultSize) /6)
}

.mathGrid .fourCol .cell_1_4_3 {
    display: inline;
    text-align: left;
    font-size: calc(var(--defaultSize) /6)
}

.mathGrid .twoRows {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: calc(var(--defaultSize) /6)
}

.mathGrid .threeRows {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: calc(var(--defaultSize) /9)
}

.mathGrid .fourRows {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: calc(var(--defaultSize) /6)
}

.mathGrid .fraction {
    font-size: calc(var(--defaultSize) / 6)
}

.mathGrid .fraction .cell_1_2_0 {
    border-bottom: solid 2px black
}

.mathGrid .fraction2x2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: calc(var(--defaultSize) / 6)
}

.mathGrid .fraction2x2 .cell_2_2_0 {
    border-bottom: solid 2px black
}

.mathGrid .fraction2x2 .cell_2_2_1 {
    border-bottom: solid 2px black
}

.mathGrid .fraction3x3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: calc(var(--defaultSize) / 6)
}

.mathGrid .fraction3x3 .cell_3_3_0 {
    border-bottom: solid 2px black
}

.mathGrid .fraction3x3 .cell_3_3_1 {
    border-bottom: solid 2px black
}

.mathGrid .fraction3x3 .cell_3_3_2 {
    border-bottom: solid 2px black
}

.mathGrid .fraction4x4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: calc(var(--defaultSize) / 6)
}

.mathGrid .fraction4x4 .cell_4_4_0 {
    border-bottom: solid 2px black
}

.fraction4x4 .cell_4_4_1 {
    border-bottom: solid 2px black
}

.mathGrid .fraction4x4 .cell_4_4_2 {
    border-bottom: solid 2px black
}

.mathGrid .fraction4x4 .cell_4_4_3 {
    border-bottom: solid 2px black
}

.mathGrid .fs1 {
    font-size: calc(var(--defaultSize) /10) !important
}

.mathGrid .fs2 {
    font-size: calc(var(--defaultSize) /9) !important
}

.mathGrid .fs3 {
    font-size: calc(var(--defaultSize) /8) !important
}

.mathGrid .fs4 {
    font-size: calc(var(--defaultSize) /7) !important
}

.mathGrid .fs5 {
    font-size: calc(var(--defaultSize) /6) !important
}

.mathGrid .fs6 {
    font-size: calc(var(--defaultSize) /5) !important
}

.mathGrid .fs7 {
    font-size: calc(var(--defaultSize) /4) !important
}

.mathGrid .fs8 {
    font-size: calc(var(--defaultSize) /3) !important
}

.mathGrid .fs9 {
    font-size: calc(var(--defaultSize) /2) !important
}

.mathGrid .fs10 {
    font-size: calc(var(--defaultSize))
}

.mathGrid .sqrt .cell_1_1_0 {
    position: relative;
    left: calc(var(--cellWidth) / 3.3);
    top: 0;
    font-size: calc(var(--defaultSize) / 3)
}

.mathGrid .cell_1_2 {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: calc(var(--defaultSize) / 3);
    width: var(--cellWidth);
    height: var(--cellHeight);
    align-items: center
}

.mathGrid .cell_1_2_0 {
    font-size: calc(var(--defaultSize) / 6)
}

.mathGrid .cell_1_2_1 {
    font-size: calc(var(--defaultSize) / 6)
}

.mathGrid .cell_2_1 {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    flex-direction: row;
    font-size: calc(var(--defaultSize) / 3);
    width: var(--cellWidth);
    height: var(--cellHeight)
}

.mathGrid .cell_2_1_0 {
    font-size: calc(var(--defaultSize) / 6)
}

.mathGrid .power .cell_2_1_0 {
    font-size: calc(var(--defaultSize) / 6);
    position: relative;
    top: calc(var(--cellHeight) / 3)
}

.mathGrid .power .cell_2_1_1 {
    font-size: calc(var(--defaultSize) / 6);
    position: relative;
    top: calc(var(--cellHeight) / 3)
}

.mathGrid .power2x2 {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    flex-direction: row;
    width: var(--cellWidth);
    height: var(--cellHeight)
}

.mathGrid .power2x2 .cell_2_2_0 {
    position: relative;
    top: calc(var(--cellHeight) / 3);
    font-size: calc(var(--defaultSize) / 6)
}

.mathGrid .power2x2 .cell_2_2_1 {
    position: relative;
    top: calc(var(--cellHeight) / 3);
    font-size: calc(var(--defaultSize) / 6)
}

.mathGrid .power2x2 .cell_2_2_2 {
    font-size: calc(var(--defaultSize) / 8)
}

.mathGrid .power2x2 .cell_2_2_3 {
    font-size: calc(var(--defaultSize) / 8)
}

.mathGrid .power3x3 {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    flex-direction: row;
    width: var(--cellWidth);
    height: var(--cellHeight)
}

.mathGrid .power3x3 .cell_3_3_0 {
    position: relative;
    top: calc(var(--cellHeight) / 3);
    font-size: calc(var(--defaultSize) / 6)
}

.mathGrid .power3x3 .cell_3_3_1 {
    position: relative;
    top: calc(var(--cellHeight) / 3);
    font-size: calc(var(--defaultSize) / 6)
}

.mathGrid .power3x3 .cell_3_3_2 {
    position: relative;
    top: calc(var(--cellHeight) / 3);
    font-size: calc(var(--defaultSize) / 6)
}

.mathGrid .power3x3 .cell_3_3_3 {
    font-size: calc(var(--defaultSize) / 8)
}

.mathGrid .power3x3 .cell_3_3_4 {
    font-size: calc(var(--defaultSize) / 8)
}

.mathGrid .power3x3 .cell_3_3_5 {
    font-size: calc(var(--defaultSize) / 8)
}

.mathGrid .cell_1_3 {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    flex-direction: row;
    font-size: calc(var(--defaultSize) /4);
    width: var(--cellWidth);
    height: var(--cellHeight)
}

.mathGrid .power .cell_2_1_1 {
    font-size: calc(var(--defaultSize) / 6);
    position: relative;
    top: 0
}

.mathGrid .divide .cell_1_1_0 {
    display: inline;
    border-right: 2px black solid;
    border-radius: 0 0 16px 0;
    text-align: right;
    padding-right: 5px;
    font-size: calc(var(--defaultSize) /4)
}

.mathGrid .divide2Col {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: var(--cellHeight)
}

.mathGrid .divide2Col .cell_2_1_0 {
    display: inline;
    text-align: right;
    font-size: calc(var(--defaultSize) /4)
}

.mathGrid .divide2Col .cell_2_1_1 {
    display: inline;
    border-right: 2px black solid;
    border-radius: 0 0 16px 0;
    text-align: right;
    padding-right: 5px;
    font-size: calc(var(--defaultSize) /4)
}

.mathGrid .carry {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: var(--cellHeight)
}

.mathGrid .carry .cell_1_1_0 {
    display: inline;
    position: relative;
    top: calc(var(--cellHeight) / 4);
    left: 0;
    font-size: calc(var(--defaultSize) /6)
}

.mathGrid .borrow {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: var(--cellHeight)
}

.mathGrid .cell_1_1 {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: calc(var(--defaultSize) / 2);
    width: var(--cellWidth);
    height: var(--cellHeight);
    position: relative;
    align-items: center
}

.mathGrid .whole.cell_1_1 {
    font-size: calc(var(--defaultSize) / 3)
}

.mathGrid .operator.cell_1_1 {
    font-size: calc(var(--defaultSize) / 3)
}