html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100% - 10px);
  background-color: #b0d6f2;
  background-image: url('../jpg/big_blue_sky.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #000000;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 20px;
  min-width: 300px;
  height: 96%;
  min-height: 300px;
}

div,
main,
p,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
object,
audio {
  margin: 0;
}
main {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}
object {
  margin: auto;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}
