.svgeditor
{
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    top:20%;
    left: 25%;
    width: 90%;
    height: 90vh;
    z-index: 1000;
}
.selected
{
    border: solid 4px red;
}