.shapetoolbar {
    column-count: 2;
    background-color: #F0F0F0;
    border: 1px solid #C0C0C0;
    border-radius: calc(var(--px)*5);
    box-shadow: 0 0 calc(var(--px)*5) #C0C0C0;
    padding: calc(var(--vw) * 2) calc(var(--vw) * 2);
    z-index: 100;
    margin: calc(var(--vw) * 1);
    list-style: none;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.shapetoolbar li {
    margin: calc(var(--vw) * 1);
    padding: calc(var(--vw) * 1);
}

.shapetoolbar li img {
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.propertyPanel
{
    column-count: 2;
    background-color: #F0F0F0;
    border: 1px solid #C0C0C0;
    border-radius: calc(var(--px)*5);
    box-shadow: 0 0 calc(var(--px)*5) #C0C0C0;
    padding: calc(var(--vw) * 2) calc(var(--vw) * 2);
    z-index: 100;
    margin: calc(var(--vw) * 1);
    list-style: none;
    width: calc(var(--vw) * 30);
}
.propertyPanel li
{
    margin: calc(var(--vw) * 1);
    padding: calc(var(--vw) * 1);
}
.propertyPanel li input
{
    width: calc(var(--vw) * 10);
}
.propertyPanel li input[type="color"]
{
    width: calc(var(--vw) * 4);
}
.propertyPanel li label
{
    width: calc(var(--vw) * 10);
}
.propertyPanel li select
{
    width: calc(var(--vw) * 10);
}
.propertyPanel li button
{
    width: calc(var(--vw) * 10);
}

