.white
{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    fill:white;
    text-anchor: middle;
    dominant-baseline:middle;
}
.rock-1 {
    isolation: isolate;
}

.rock-2 {
    fill: url(#radial-gradient);
}

.rock-3 {
    fill: #b98a8a;
    mix-blend-mode: multiply;
}

.rock-3,
.rock-4 {
    opacity: 0.6;
}

.rock-4 {
    fill: #985b5b;
    mix-blend-mode: color-dodge;
}

.rock-5 {
    fill: url(#radial-gradient-2);
}

.rock-6 {
    fill: url(#radial-gradient-3);
}

.rock-7 {
    fill: url(#radial-gradient-4);
}

.rock-8 {
    fill: url(#radial-gradient-5);
}

.rock-9 {
    fill: url(#radial-gradient-6);
}

.rock-10 {
    fill: url(#radial-gradient-7);
}

.rock-11 {
    fill: url(#radial-gradient-8);
}

.rock-12 {
    fill: url(#radial-gradient-9);
}

.rock-13 {
    fill: url(#radial-gradient-10);
}

.rock-14 {
    fill: url(#radial-gradient-11);
}

.rock-15 {
    fill: url(#radial-gradient-12);
}

.rock-16 {
    fill: url(#radial-gradient-13);
}

.rock-17 {
    fill: url(#radial-gradient-14);
}

.rock-18 {
    fill: url(#radial-gradient-15);
}
.cls-1 {
isolation: isolate;
}

.cls-2,
.cls-3 {
fill: #6d6e70;
}

.cls-11,
.cls-16,
.cls-3,
.cls-5,
.cls-8 {
mix-blend-mode: multiply;
}

.cls-16,
.cls-3,
.cls-5,
.cls-8 {
opacity: 0.4;
}

.cls-4,
.cls-5 {
fill: #223d62;
}

.cls-6 {
fill: #d4d4d5;
}

.cls-7,
.cls-8 {
fill: #9e9e9e;
}

.cls-15,
.cls-9 {
fill: #fff;
}

.cls-9 {
opacity: 0.3;
}

.cls-10,
.cls-11 {
fill: #d36476;
}

.cls-11 {
opacity: 0.5;
}

.cls-12 {
fill: #4880c1;
}

.cls-13 {
fill: #3b69a5;
}

.cls-14 {
fill: #335980;
}

.cls-15 {
mix-blend-mode: soft-light;
}

.cls-17 {
fill: #f6e16c;
}