.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#base
{
  max-width:80%;
  margin:auto;
}
.head1
{
  background-color: #3498db!important;
}
.titleText
{
  color:white;
  font-size: 26px;
    font-family: "BarthowheelReg";
   
}
.tac
{
  text-align: center;
}
.standard
{
  color:rosybrown;
  font-size: 26px;
}
.red
{
  color:red;
  font-size: 22px;
  font-family: "BarthowheelReg";
  padding-left: 10px;
  padding-right: 10px;
}
.green
{
  color:green;
  font-size: 26px;
  font-family: "BarthowheelReg";
}
.pink
{
  color:pink;
  font-size: 26px;
  font-family: "BarthowheelReg";
}
.blue
{
  color:lightskyblue;
  font-size: 26px;
  font-family: "BarthowheelReg";

}
.highlight {
  color: red;
  font-size: 26px;
  font-family: "BarthowheelReg";
}

.highlight2 {
  color: green !important;
  font-size: 26px;
  font-family: "BarthowheelReg";
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.fscreen {
  background: brown;
  color:white;
  z-index: 10;
 
}

.noEffect {
  color: white;
  font-size: 26px;
  font-family: "BarthowheelReg";
}
.bookText
{
  color: wheat;
  font-size: 26px;
  font-family: "BarthowheelReg";
  word-wrap: break-word;
  width:30%;

}
@keyframes strike {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.strike {
  position: relative;
}

.strike::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: white;
  animation-name: strike;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.slowglow {
  color: #fff;
  -webkit-animation: slowglow 8s infinite;
  animation: slowglow 8s infinite;
}

.fastflash {
  color: white;
  -webkit-animation: fastflash 0.35s infinite;
  animation: fastflash 0.35s infinite;
}

.fineshine {

  background: -webkit-linear-gradient(#fff, #eee, #fff, #666, #eee, #fff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 1px 45px rgba(255, 255, 255, 0.2);
}


div {
  text-align: center;
  position: relative;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes slowglow {
  0% {
    text-shadow: 0 0 3px #FF0000;
    color: #fff;
  }

  25% {
    text-shadow: 0 0 12px #FF0000;
  }

  50% {
    text-shadow: 0 0 20px #FF0000;
    color: pink;
  }

  75% {
    text-shadow: 0 0 12px #FF0000;
  }

  100% {
    text-shadow: 0 0 3px #FF0000;
    color: #fff;
  }
}

@-webkit-keyframes fastflash {
  0% {
    text-shadow: 0 0 6px #FFF;
  }

  100% {
    text-shadow: 0 0 0px #000;
  }
}

/* Internet Explorer */

@keyframes slowglow {
  0% {
    text-shadow: 0 0 3px #FF0000;
    color: #fff;
  }

  25% {
    text-shadow: 0 0 12px #FF0000;
  }

  50% {
    text-shadow: 0 0 20px #FF0000;
    color: pink;
  }

  75% {
    text-shadow: 0 0 12px #FF0000;
  }

  100% {
    text-shadow: 0 0 3px #FF0000;
    color: #fff;
  }
}

@keyframes fastflash {
  0% {
    text-shadow: 0 0 6px #FFF;
  }

  100% {
    text-shadow: 0 0 0px #000;
  }
}

.slide-fwd-center {
  font-family: "BarthowheelReg";
  -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-5-3 16:12:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}

@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}

@keyframes colorTest {
  0% {
    color: red;
  }

  25% {
    color: yellow;
  }

  50% {
    color: blue;
  }

  100% {
    color: green;
  }
}

.rainbow {
  color: white;
  animation-name: colorTest;
  font-size: 26px;
  font-family: "BarthowheelReg";
  animation-duration: 2s;
}