h1 {
  color: white;
  background-color: black;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0 !important;
  touch-action: none;
}
#char
{
  position: absolute;
  top:0%;
  pointer-events: none;
  touch-action: none;
}
.full
{
  width: 100vw;
  height: 100vh;
}
.uiWindow
{
  height: 100%;
  width: 100%;
}
.draggable {
  cursor: move;
}
.boxText
{
  dominant-baseline:middle;
  text-anchor:middle;
  touch-action: none;
  pointer-events: none;
}
#instText
{
  width: 80%;
  word-wrap:break-word;
}
#btnNext
  {
    position: absolute;
    top:10px;
    right: 10px;
    width: 15%;
    height: 10%;
  }
  #btnPrev
  {
    position: absolute;
    top:10px;
    left:0px;
    width: 15%;
    height: 10%;
  }