@import url("https://font.teachingtextbooksapp.com/AndikaTT/AndikaTT.css");


html {
  --defaultSize: 128px;
  --cellWidth: 50px;
  --cellHeight: 50px;
  --halfCellWidth: calc(var(--cellWidth) / 2);
  --halfCellHeight: calc(var(--cellHeight) / 2);
 
}

body {
  font-family: var(--andika)!important;
}

.App {
  text-align: center;
}

.topMenu
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 4px;
	width: 100%;
	background-color: silver;
	color:white;
}
.squareButton {
  width: var(--cellWidth);
  height: var(--cellHeight);
  border: solid thin gainsboro;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell_1_1 {
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  flex-direction: column;
  font-size: calc(var(--defaultSize) / 2);
  width: var(--cellWidth);
  height: var(--cellHeight);
  position: relative;
}

.whole.cell_1_1 {
  font-size: calc(var(--defaultSize) / 3);
}

.operator.cell_1_1 {
  font-size: calc(var(--defaultSize) / 3);
}

/* .sqrt {

  position: relative;
  left: 30%;
  top: -3%;
} */

/* .editScreen {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 20vw;
}
 */
/* .cell_1_1_0 {
  position: relative;
  top: 50%;
} */


.topline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #000;
  top: 0;
}
.bottomline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #000;
  bottom: 0;
}
.rightline::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #000;
  right: 0;
}
.leftline::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #000;
  left: 0;
}
.halfDown .cell_1_1_0 {
  position: relative;
  top: 50%;
}



.editButtons {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  flex-direction: row;
  font-size: calc(var(--defaultSize) / 4);
  width: 100%;
  height:30vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background: white;
  border: gainsboro solid 2px;
}

.templateButtons
{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  flex-direction: row;
  font-size: calc(var(--defaultSize) / 4);
  width: 20vw;
  
}
.cellButton {
  display: flex;
  border: solid thin gainsboro;
  width: var(--cellWidth);
  height: var(--cellHeight);
  background-color: #f2f2f2;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cellButton.danger
{
  color: white;
  background-color: red;
}
.cellButton.success
{
  color: white;
  background-color: green;
}
.cellButton.warning
{
  color: white;
  background-color: orange;
}
.cellButton.info
{
  color: white;
  background-color: blue;
}
.cellButton.primary
{
  color: white;
  background-color: cornflowerblue;
}
.cellButton.secondary
{
  color: white;
  background-color: grey;
}
.longButton {
  display: flex;
  border: solid thin gainsboro;
  width: calc(var(--cellWidth)*2);
  height: var(--cellHeight);
  background-color: #f2f2f2;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}
.longButton .selected
{
  background-color: #f2f2f2;
  border: solid thin red;
}
.longButton2
{
  display: flex;
  border: solid thin gainsboro;
  width: calc(var(--cellWidth)*2);
  height: var(--cellHeight*.8);
  background-color: #f2f2f2;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}
.longButton3
{
  display: flex;
  border: solid thin gainsboro;
  width: 100%;
  height: 5vh;
  background-color:cornflowerblue;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}
.longButton3.danger
{
  color: white;
  background-color: red;
}
.longButton3.success
{
  color: white;
  background-color: green;
}
.longButton3.warning
{
  color: white;
  background-color: orange;
}
.longButton3.info
{
  color: white;
  background-color: blue;
}
.longButton3.primary
{
  color: white;
  background-color: cornflowerblue;
}
.longButton3.secondary
{
  color: white;
  background-color: grey;
}
.btnEye {
  font-size: 16px;
}


.symButtons {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  height: 18vh;
  overflow-y: scroll;
}

.centerLabel {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*input selector*/
.sideSelect {
  position: relative;
  top: 0;
  font-size: calc(var(--defaultSize) / 4);
  width: 20vw;
  border: solid thin gainsboro;

}

.styleButtons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  height: 15vh;
}
.colorButtons {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  height: 20vh;
  flex-wrap: wrap;
  align-content: flex-start;
}

.react-tabs__tab {
  font-size: 12px;
}

.buttonRed {
  background-color: red;
  color: white;
}

.buttonGreen {
  background-color: green;
  color: white;
}

.buttonBlue {
  background-color: blue;
  color: white;
}

.buttonYellow {
  background-color: yellow;
  color: black;
}

.buttonOrange {
  background-color: orange;
  color: black;
}

.buttonPurple {
  background-color: purple;
  color: white;
}

.buttonPink {
  background-color: pink;
  color: black;
}

.buttonBrown {
  background-color: brown;
  color: white;
}

.buttonBlack {
  background-color: black;
  color: white;
}

.buttonWhite {
  background-color: white;
  color: black;
}

.buttonGrey {
  background-color: grey;
  color: white;
}

.buttonLightGrey {
  background-color: lightgrey;
  color: black;
}

.buttonDarkGrey {
  background-color: darkgrey;
  color: white;
}

.buttonGold {
  background-color: gold;
  color: black;
}

.btnLightGreen {
  background-color: lightgreen;
  color: black;
}

.btnLightBlue {
  background-color: lightblue;
  color: black;
}
.cp {
  position: absolute;
  top: .5vh;
}
.stepPanel
{
  margin-top: 5vh;
  position: absolute;
  top: 0;
  left: 0; 
}

.stepPanel {
  width: 20vw;
  margin-top: 5vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.stepButtonPanel
{
  text-align: start;
}
.stepButtonPanel button
{
  width: 3vw;
}
.gridSteps {
  padding: 10px;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  font-size: calc(var(--defaultSize) / 4);
  width: 17vw;
  height: 75vh;
  flex-direction: column;
  overflow-y: scroll;
}
.stepCard
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 12vw;
  height: 10vh;
  border: solid thin gainsboro;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.stepCard.selected
{
  background-color: #f2f2f2!important;
  border: red solid thin!important;
}
.scroll2
{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 50vh;
}