html {
	--shadow: #0006;
	--primary: #121212;
	--mainFont: "Roboto", sans-serif;
	--vw: 1vw;
	--px: calc(var(--vw) / 8);
	--bigfont: calc(var(--px) * 20);
	--medfont: calc(var(--px) * 16);
	--smallfont: calc(var(--px) * 12);
	--tinyfont: calc(var(--px) * 10);
	--inputfont: calc(var(--px) * 12);
	--textareafont: calc(var(--px)*12);
	--buttonfont: calc(var(--px) * 12);
	--tabfont: calc(var(--px) *10);
	--smallbuttonfont: calc(var(--px) * 12);
	--smallScreen: 500px;
	--bodyheight: 100vh;
	--medfont2: calc(var(--px) * 11);
	--seleted: pink;
}

@media (max-width: 600px) {
	html {
		--bigfont: calc(var(--px) * 6);
		--medfont: calc(var(--px) * 4);
		--smallfont: calc(var(--px) * 3);
		--tinyfont: calc(var(--px) * 2);
		--inputfont: calc(var(--px) * 4);
		--textareafont: calc(var(--px)*3);
		--buttonfont: calc(var(--px) * 3);
	}
}




html {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: hwb(220 35% 65%);
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG00000d.png");
	background-position: center;
	font-family: var(--mainFont);
	color: black;
	overflow: hidden;

}

body {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	width: calc(var(--vw) * 100);
	height: var(--bodyheight);
	max-height: 100%;
	background-color: white;
	overflow-y: scroll;
}

.flash-message {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	width: calc(var(--vw) * 50);
	height: calc(var(--vw) * 50);
	text-align: center;
	font-size: 20px;
}

.fr {
	float: right;
}

@media (min-aspect-ratio: 16/9) {

	/* recalculate the value of --vw if window gets wider than the app */
	html {
		--vw: calc(1vh * 16 / 9);
	}
}

/*center both :horizontal and verticle */
.match-game {

	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #0F193D;
	border: solid thick black;
    width:calc(var(--vw) * 50);
    height: calc(var(--vw) * 50);
}
.match-game p {
	font-size: 20px;
	background-color: silver;
	border: solid 1px black;
	padding: 5px;
	
}
.match-grid-holder {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50%;
	
}

.match-grid {
	display:grid;
	grid-template-columns: repeat(5, 1fr);
	width: calc(var(--vw) * 26);
	flex-wrap: wrap;
	flex-direction: row;
}

.match-icon {
	display: flex;
	justify-content: center;
	align-items: center;

	width: calc(var(--vw) * 5);
	height: calc(var(--vw) * 5);
	cursor: pointer;
	background-color: #9384BD;;
	border:solid thin black;
}
.match-icon img {
	width: 32px;
	height: 32px;
	pointer-events: none;
}
.slot {
    display: flex;
    width: calc(var(--vw) * 6);
    height: calc(var(--vw) * 6);
    font-size: 26px;
    justify-content: center;
    align-items: center;
	background-color: #F2737E;
	border:solid black 1px;
	border-radius: 50%;
}
.slot img {
	width: 32px;
	height: 32px;
	pointer-events: none;
}
.slots {
    display: grid;
    grid-template-columns: 1fr 1fr .5fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    width: calc(var(--vw) * 40);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.spacer
{
	width: calc(var(--vw) * 1);
	height: calc(var(--vw) * 3);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.selected
{
	background-color: #17B79B!important;
}
.buttonRow
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: calc(var(--vw) * 26);
	margin-top: calc(var(--vw) * 1);
}
.button
{
	
	width: calc(var(--vw) * 5);
	height: calc(var(--vw) * 2.5);
	border: solid thin;
	cursor: pointer;
}
.button.btnCheck
{
	background-color: greenyellow;
}
.button.btnReset
{
	background-color: red;
}
.button.btnCheck.disabled
{
	background-color: gray;
}
