.btnClose {
    position: absolute;
    width: calc(var(--vw) * 5);
    height: calc(var(--vw) * 5);
    background-image: url(../assets/images/buttons/btnClose.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: 0;
    top: 15%;
}

.barButtons {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.toggleButton {
    width: calc(var(--vw) * 9);
    height: calc(var(--vw) * 9);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.toggleButton.autoPlay {
    background-image: url(../assets/images/buttons/btnAuto.svg);
}

.toggleButton.autoPlay.selected {
    background-image: url(../assets/images/buttons/selected/btnAutoSelected.svg);
}

.toggleButton.listen {
    background-image: url(../assets/images/buttons/btnListen.svg);
}

.toggleButton.listen.selected {
    background-image: url(../assets/images/buttons/selected/btnListenSelected.svg);
}

.toggleButton.read {
    background-image: url(../assets/images/buttons/btnRead.svg);
}

.toggleButton.read.selected {
    background-image: url(../assets/images/buttons/selected/btnReadSelected.svg);
}

.toggleButton.prev {
    background-image: url(../assets/images/buttons/btnPrev.svg);
}

.toggleButton.next {
    background-image: url(../assets/images/buttons/btnEnd.svg);
}

.toggleButton.play {
    width: calc(var(--vw) * 10);
    height: calc(var(--vw) * 10);
    transform: translate(0, calc(var(--vw)*-1));
    background-image: url(../assets/images/buttons/btnPlay.svg);
}

.toggleButton.play.pause {
    background-image: url(../assets/images/buttons/btnPause.svg);
}

.toggleButton.music {
    background-image: url(../assets/images/buttons/btnMusic.svg);
}

.toggleButton.speech {
    background-image: url(../assets/images/buttons/btnSpeech.svg);
}

.toggleButton.speed {
    background-image: url(../assets/images/buttons/btnSpeed.svg);
}

.toggleButton.copyright {
    background-image: url(../assets/images/buttons/btnCopyright.svg);
}

.toggleButton.copyright.selected {
    background-image: url(../assets/images/buttons/btnCopyrightDown.svg);
}

.toggleButton.full {
    background-image: url(../assets/images/buttons/btnFull.svg);
}

