html {
	--shadow: #0006;
	--primary: #121212;
	--mainFont: "Roboto", sans-serif;
	--vw: 1vw;
	--px: calc(var(--vw) / 9.6);
	--bigfont: calc(var(--px) * 20);
	--medfont: calc(var(--px) * 16);
	--smallfont: calc(var(--px) * 12);
	--tinyfont: calc(var(--px) * 10);
	--inputfont: calc(var(--px) * 12);
	--textareafont: calc(var(--px)*12);
	--buttonfont: calc(var(--px) * 12);
	--tabfont: calc(var(--px) *10);
	--smallbuttonfont: calc(var(--px) * 12);
	--smallScreen: 500px;
	--bodyheight: 100vh;
	--medfont2: calc(var(--px) * 11);
	--seleted: pink;
	--wratio: 1;
	--tfontsize: calc(var(--vw)*var(--wratio));
}


@media (max-width: 600px) {
	html {
		--bigfont: calc(var(--px) * 6);
		--medfont: calc(var(--px) * 4);
		--smallfont: calc(var(--px) * 3);
		--tinyfont: calc(var(--px) * 2);
		--inputfont: calc(var(--px) * 4);
		--textareafont: calc(var(--px)*3);
		--buttonfont: calc(var(--px) * 3);
	}
}




html {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: hwb(220 35% 65%);
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG00000d.png");
	background-position: center;
	font-family: var(--mainFont);
	color: black;
	overflow: hidden;

}

body {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	width: calc(var(--vw) * 100);
	height: var(--bodyheight);
	max-height: 100%;
	background-color: greenyellow;
	overflow: hidden;
}

.flash-message {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	width: calc(var(--vw) * 50);
	height: calc(var(--vw) * 50);
	text-align: center;
	font-size: 20px;
}

.fr {
	float: right;
}

.hid {
	visibility: hidden;
}

.darkScreen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 100;
}

.svgDefs {
	display: none;
}

.full {
	width: calc(var(--vw) * 100);
	height: var(--bodyheight);
}

.pageContainer {
	background-color: #ccc;
}

@media (min-aspect-ratio: 96/55) {

	/* recalculate the value of --vw if window gets wider than the app */
	html {
		--vw: calc(1vh * 96 / 55);
	}
}