.cornerText {
    width: 25% !important;
    height: 25%;
    overflow: hidden;
    border: solid 1px black;
    /* font-size: 3vw!important; */
    font-size: var(--tfontsize) !important;
}

.centerText {
    margin: auto;
    width: 50% !important;
    height: 50%;
    overflow: hidden;
    border: solid 1px black;
    /*  font-size: 3vw!important; */
    font-size: var(--tfontsize) !important;
}

.towerText {
    width: 25% !important;
    height: 100%;
    overflow: hidden;
    font-size: var(--tfontsize) !important;
    /*  font-size:3vw!important; */
}

.fullHalf {
    width: 50% !important;
    height: 100%;
    overflow: hidden;
    font-size: var(--tfontsize) !important;
    /* font-size: 3vw!important; */
}

.fullLine {
    position: absolute;
    width: 100%;
    height: 100vh;
}