.svgArrow
{
  stroke-width: 2px;
}
.svgFull
{
  width: 100%;
  height: 100vh;
}
.svgArrow .redStroke
{
  stroke: red;
}
.svgArrow .red
{
  stroke: red!important;
}
.svgArrow .blue
{
  stroke: blue!important;
}
.svgArrow .black
{
  stroke: black!important;
}
.svgArrow .yellow
{
  stroke: yellow!important;
}