<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="redbox" viewBox="0 0 128 128">
        <rect fill="red" stroke="black" stroke-width="5" width="100" height="100"></rect>
    </symbol>
</svg>