h1 {
  color: white;
  background-color: black;
}

#char
{
  position: absolute;
  top:0%;
  pointer-events: none;
  touch-action: none;
}
.full
{
  width: 100vw;
  height: 99%;
}
#gridLines
{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  left: 0; 
}
.uiWindow
{
  height: 100%;
  width: 100%;
}
.draggable {
  cursor: move;
}
#bookArea
{
  position: absolute;
  left: 0;
  top:0;
  height: 100%;
  width: 100%;
}
.boxText
{
  dominant-baseline:middle;
  text-anchor:middle;
  touch-action: none;
  pointer-events: none;
}
#instText
{
  width: 80%;
  word-wrap:break-word;
}
.shadow {
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  /* Similar syntax to box-shadow */
}

#addArea
{
  position: absolute;
  top:0;
  left:0;
}