.addArea
{
    position: absolute;
    left: 0;
    top: 0;
    background-color: gold;
    border: solid 1px black;
    height: 100%;
}
.fullscreen
{
  height: 100vh;
  width: 100vw;
}
.draggable {
  cursor: move;
}