.gameBoard {
    display: grid;
    align-items: center;
    height: calc(var(--vw)*48);
    width: calc(var(--vw)*95);
    border: solid 4px black;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: repeat(5, 1fr);
    align-content: center;

}

.gameCard p {
    font-size: var(--bigfont);
}

.gameCard {
    position: relative;
    height: calc(var(--vw)*11);
    width: calc(var(--vw)*11);
    margin: 10px;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    opacity: 0;
}
/** height is less than 450px */
@media screen and (max-height: 450px) {
    .gameCard {
        height: calc(var(--vw)*10);
        width: calc(var(--vw)*10);
    }
}
.btnStart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--bigfont);
    background-color: cornflowerblue;
    color: #000;
    border: solid 1px black;
    border-radius: 6%;
    padding: 10px;
    cursor: pointer;
    width: calc(var(--vw)*10);
}
.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(var(--vw)*10);
    width: calc(var(--vw)*10);
    border: solid 4px black;
    background-color: cornflowerblue;
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.gameCard .front {
    background-color: cornflowerblue;
    z-index: 2;
}

.gameCard .back {
    font-size: var(--smallfont);
    text-align: center;
    background-color: red;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    z-index: 1;
}