/*///////Navbar////////*/
#navigation{
  background-color: #31394b;
  padding-left: 20px;
}

.nav-item.dropdown{
  color: white;
  padding-left: 20px;
}

#zoom-select{
  padding-left: 20px;
}

.navbar-brand{
  color: white !important;
}
/*///////////////*/
.App {
  text-align: center;
}


.App-header {
  background-color: #282c34; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.attributionCard {
  margin: auto;
  width: 50%;
}

#base {
  max-width: 100%;
  margin: 0px;
  padding: 0px; 
}

.editThumb {
  margin: auto;
  max-height: 30px;
}

.contentThumb {
  max-height: 60px;
  
}

.thumb {
  min-width: 150px;
  min-height: 300px;
  margin-bottom: 20px;
}

.tempThumb {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hid {
  display: none;
}

.locked {
  pointer-events: none !important;
}

.fitText {
  font-size: 1vw;
  font-weight: bold;
}

.head1 {
  background-color: #3498db !important;
}

.titleText {
  color: white;
  font-size: 26px;

}

.tac {
  text-align: center;
}

.picCardBody {
  background-color: white;
}

.picCardBodySelected {
  background-color: tomato;
}

#mediaLib {
  margin-top: 20px;
}

.btnClose {
  float: right;
}

.headTitle {
  font-size: large;
  font-weight: bold;
}

.picCard {
  margin-bottom: 20px;

}

.titleText {
  color: white;
  font-size: 26px;
}

.cardImageHolder {
  height: 20vh;
  text-align: center;
}

.cardImage {
  max-width: 100%;
  max-height: 100%;
}

.mbutton {
  margin-left: 20px;
}

#preview {
  position: absolute;
  top: 0;
  left: 0;
  height: 300;
  text-align: center;
}

.pageStart {
  position: absolute;
  width: var(--stageWidth);
  height: var(--stageHeight);
}

#preview2 {
  height: 460px;


}

.modBox {
  width: 50%;
  text-align: center;
  margin: auto;
}

.smButtonLine {
  width: 50%;
  margin: auto;
}

.addIcon {
  font-size: 32px;
  text-align: center;
}

.pageStart2 {
  position: absolute;
  width: 960;
  height: 540;
}

.pageTitle {
  margin-top: 10%;
}

.scroll1 {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll3 {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#scroll2 {
  height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#steps {
  width: 1000px;
}

#stepScroll {
  max-height: 150px;
  margin: auto;
  overflow-x: scroll;
}

.stepCard {
  float: left;
  width: 25px;
  height: 25px;
  text-align: center;
  border: solid 1px blue !important;
  background-color: white;
}

.stepCard.selected {
  background-color: lightgreen !important;
}

#btnExit {
  position: absolute;
  bottom: 30%;
  left: 5%;
  z-index: 10;
}

#fullFrame {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

.pvtext {
  font-size: 50px;
}

.animationCard {
  margin: 10px;
}

#stepButtons {
  width: 10%;
}

#errorText {
  font-size: small;
  color: red;
}

.noPoint {
  pointer-events: none;
}

.dragCircle {
  cursor: move;
  opacity: 0.8;
}

#pholder {
  position: absolute;

}



.centerTrans {
  transform: translate(-50%, -50%);
}

.zoomLocked {
  pointer-events: none;
  opacity: 0.3;
}

.sideScroll {
  height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.genImage {
  width: 50%;
}

.hw {
  width: 50%;
  margin: auto;
}

.styleImage {
  height: 100px;
}

.dpagethumb {
  width: 100%;
}

.fw {
  width: 100%;
}

#slider {
  width: 50%;
  margin: auto;
}

.selectedItem {
  background: mistyrose !important;
}

#listHolder {
  position: relative;
}

.usn {
  user-select: none;
}

.draggableListItem {
  position: absolute;
  top: 0;
  width: 100%;
  cursor: move;
}

.elementBox {
  height: 75px;
  overflow: hidden;
}

#blockScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(12, 12, 12, 0.5);
  touch-action: none;
  z-index: 50;
}

#alert1 {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
}

/*///////Toolbar////////*/

#selectedTool{
  background-color: #a2a2a4;
}

#toolContainer{
  padding: 10px;
  height: 100%;
  width:calc(var(--vw)*20);
  background-color: rgb(210, 213, 221);
} 
#toolButtonRack{
  padding-top: 10px;
  padding-left: 10px;
  width:40px;
  height: 100%;
  overflow: hidden;
  border-right: 2px solid rgb(255, 255, 255);
  float: left;

}


#toolProperties{
  overflow: hidden;
  padding: 20px;
}

/*////////////////////////////////////////////*/

.controlGrid
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  width: 100%;
  margin: 10px;
}

.rsidePanel
{
  position: absolute;
  width: calc(var(--vw)*20);
  margin-left: 10px;
}
.scrollingProps
{
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.zoomProps {
  width: 100%;
  font-size: 16px;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: start;
  justify-items: stretch;
  align-content: space-between;
  flex-direction: column;
}
.zoomProps .zoomPropsCol {
  text-align: center;
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.zoomProps .zoomPropsCol input {
  width: 50px;
}
.zoomProps .zoomPropsCol label {
  margin-right: 5px;
  margin-left: 5px;
}
.lockAspect
{
  margin-left: 20px;
}