<style media='screen' type='text/css'>
    @font-face {
        font-family: "BarthowheelReg";
        src: url('./assets/Barthowheel Regular.ttf');
    }

    @font-face {
        font-family: "BarthowheelIt";
        src: url('./assets/Barthowheel Italic.ttf');
    }
    #htext
    {
        font-family: "BarthowheelReg";
        src: url('./assets/Barthowheel Regular.ttf');
        color:white;
        font-size: 20px;
        word-wrap:break-word;
        
    }
    body
    {
        margin:0;
    }
    
</style>
<div style="font-family:'BarthowheelReg';display:none">BarthowheelReg</div>
<div style="font-family:'BarthowheelIt'; display: none;">BarthowheelIt</div>
<div id="htext" style="color:white">Try to place the <span id="ptext">TEXT HERE</span> on top of the html</div>
