.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#base
{
  max-width:80%;
  margin:auto;
}
.head1
{
  background-color: #3498db!important;
}
.titleText
{
  color:white;
  font-size: 26px;
  
}
.eqInput
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  
}