.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.redText
{
  font-size: 16px;
  color:#ff0000;
}
.mylist
{
  margin-top: 10px;
}
#base
{
  max-width: 80%;
  margin:auto;
}
.App-link {
  color: #61dafb;
}
.tar
{
  text-align: right;
}
.marginTop
{
  margin-top: 6px;
}
.fr
{
  float: right;
}
.tal
{
  text-align: left;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
