#thecanvas {
    position: absolute;
    border: 80px solid #B3862C;
    border-image-source: url('assets/main/pictureframe.png');
    border-image-slice: 150;
    border-image-width: 120px;
    border-image-repeat: round;
    z-index: 1;
}
#puppetcanvas
{
    position: absolute;
    left: 80px;
    top:80px;
    z-index: 2;
}
#table1
{
    position: absolute;
    bottom: 0px;
    left:90px;
    margin-bottom: 90px;
    z-index: 3;
}
body {
    margin: 0px;
}
#buttonGroup
{
    position: absolute;
    bottom: 0px;
    right: 80px;
    margin-bottom: 90px;
    z-index: 4;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */