.underlineRow {
    border-bottom: 2px solid black !important;
}

.smallText {
    font-size: 0.8em;
}

.largeText {
    font-size: 1.2em;
}

.redText {
    color: red;
}

.greenText {
    color: green;
}

.blueText {
    color: blue;
}

.yellowText {
    color: yellow;
}

.boldText {
    font-weight: bold;
}

.tableBorder {
    border: solid;
    padding: 18px;
    width: 150px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.strikethrough {
    position: relative;
    font-size: 0.8em;
}

.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;

    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.halfCircle {
    display: inline;
    border-right: 2px black solid;
    border-radius: 0px 0px 16px 0px;
    text-align: right;
    padding-right: 5px;
}

.division-line {
    border-top: 2px solid black;
    width: 50px;
    margin: 0 10px;
}