/* The frame for showing a wallpaper thumbnail */
.buddythumbnails
{ 
	height: calc(var(--vw) * 36);	
	overflow-y: hidden;
	border:solid 2px black;
}
/* if body has touch then use scroll instead of hidden */
@media (hover: none) {
	.buddythumbnails
	{ 
		overflow-y: scroll;
	}
}

/* BUDDY style */
.buddythumbnails data {
	display: inline-block;
	position: relative;
	margin: 0 0 var(--vw) 0;
	padding: calc(var(--vw) * 1.41667) 0 0 0;
	width: calc(var(--vw) * 17);
	height: calc(var(--vw) * 17);
	cursor: pointer;
}
.buddythumbnails data video {
	position: absolute;
	top: calc(var(--px) * 43.5);
	left: calc(var(--px) * 13.5);
	width: calc(var(--px) * 137);
}
.buddythumbnails data figure {
	position: absolute;
	top: 0;
	left: 0;
}
/* The frame to contain a wallpaper thumbnail and title */
.buddythumbnails data figure, .wpthumbnails figure {
	--burst: none;
	--frame: url("https://ttv5.s3.amazonaws.com/img/bg/BG000018.png");
	--thumb: none;
	display: inline-block;
	margin: 0 0 var(--vw) 0;
	padding: calc(var(--vw) * 1.41667) 0 0 0;
	width: calc(var(--vw) * 17);
	height: calc(var(--vw) * 17);
	background-image: var(--burst), var(--frame), var(--thumb);
	background-size: calc(var(--px) * 40) auto, 100% auto, calc(100% * 5 / 6) auto;
	background-position: 0% 21%, 50% 0%,  52% 67%;
	background-repeat: no-repeat;
	cursor: pointer;
}
/* Put a NEW burst on new thumbnails */
.buddythumbnails data.new figure {
	--burst: url("https://ttv5.s3.amazonaws.com/img/ik/IK00001b.svg");
}

/* Use locked thumbnail if locked */
.buddythumbnails data.locked figure {
	--thumb: url("https://ttv5.s3.amazonaws.com/img/bg/BG000019.jpg");
}
/* Ignore mouseover if on, or locked */
.buddythumbnails data.on figure, .buddythumbnails data.locked figure,

/* Show highlighted frame on hover */
.buddythumbnails data:hover figure {
	--frame: url("https://ttv5.s3.amazonaws.com/img/bg/BG00001a.png");
}
/* Put a border around the “on” thumbnail */
.buddythumbnails data.on figure {
	--frame: url("https://ttv5.s3.amazonaws.com/img/bg/BG00001c.png");
}
/* Text style for the wallpaper titles */
.buddythumbnails data figure figcaption {
	height: calc(var(--vw) * 2);
	font-family: var(--barto);
	font-size: calc(var(--px) * 18);
	line-height: 0.9;
	text-align: center;
	overflow: hidden;
}