/* Ebook background */
body.ebook {
	background-color: hwb(196 38% 10%);
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG000031.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}
/* The header, with the tabs */
.ebook header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: calc(var(--px) * 11) calc(var(--vw) * 10) 0 calc(var(--vw) * 4);
}
.ebook header button {
	margin-top: calc(var(--px) * 12);
}
.ebook header nav {
	display: inline-block;
	padding-top: calc(var(--px) * 22.5);
	width: calc(var(--px) * 274);
	height: calc(var(--px) * 48);
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG000017.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	background-position: center;
	font-family: var(--barto);
	font-size: calc(var(--px) * 30);
	line-height: 0.6;
	color: #0006;
	text-align: center;
	cursor: pointer;
}
/* The active tab gets the active background */
.ebook header nav.on {
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG000016.png");
	color: #000C;
}
/* The main element */
.ebook main {
	padding: 0 calc(var(--vw) * 9) 0 calc(var(--vw) * 5);
	font-size: 0;
}