
/* CSS for 5.0 Math apps */
@import "https://font.teachingtextbooksapp.com/Barto/Barto.css";
@import "https://font.teachingtextbooksapp.com/Andika/Andika.css";
header, p, h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0;}
html {
	--shadow: #0006;
	--vw: 1vw;
	--px: calc(var(--vw) / 9.6);
	--scrollbarWidth: calc(var(--vw) * 2);
	--bodyheight:calc(var(--vw) * 5500 / 96);
	--scrollerHeight:calc(var(--px) * 210);
}
html {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: hwb(220 35% 65%);
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG00000d.png");
	background-size: calc(var(--vw) * 25) auto;
	background-position: center;
	font-family: var(--andika);
	color: black;
	overflow: hidden;
}
body {
	position: relative;
	margin: 0;
	padding: 0;
	width: calc(var(--vw) * 100);
	height: calc(var(--vw) * 5500 / 96);
}
/* Jumble background */
body.corky {
	background-color: hwb(196 38% 10%);
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG00000e.jpg");
	background-size: 28%;
	background-repeat: repeat;
	background-position: 26% 7%;
}
/* Corky Header */
.corky > header {
	display: grid;
	grid-template-columns: 1fr 8fr 1fr;
	grid-template-rows: 1fr;
	padding: 0 calc(var(--vw) * 4);
	width: calc(var(--vw) * 92);
	height: calc(var(--px) * 66);
	background-color: #F7F1D9;
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG00000f.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
	box-shadow: 0 calc(var(--vw) / 2) var(--vw) calc(var(--vw) / 10) var(--shadow);
}
/* Corky H1 */
.corky > header h1 {
	font-family: var(--barto);
	font-weight: normal;
	font-size: calc(var(--px) * 55);
	line-height: 0.9;
	color: #375982;
	text-align: center;
}
.corky > header h1::before {
	position: absolute;
	content: attr(title);
}
.corky > header h1::after {
	content: attr(title);
	font-weight: 700;
	color: #FFFFFF;
	text-shadow: var(--px) var(--px) #000B;
}
/* Main */
.dashboard main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	padding: var(--vw);
}
/* framed sections */
.dashboard main article {
	position: relative;
	margin: calc(var(--vw) * -0.5) calc(var(--vw) * -1);
	padding: calc(var(--vw) * 2.2) calc(var(--vw) * 2) var(--vw) calc(var(--vw) * 2);
	min-height: calc(var(--vw) * 14);
	border-color: #375982;
	border-style: solid;
	border-width: calc(var(--vw) * 2.9) calc(var(--vw) * 3.9) calc(var(--vw) * 4.9) calc(var(--vw) * 3.9);
	border-image-source: url("https://ttv5.s3.amazonaws.com/img/bg/BG000010.png");
	border-image-slice: 43 54 77 54;
	border-image-width: calc(var(--vw) * 3) calc(var(--vw) * 4) calc(var(--vw) * 6) calc(var(--vw) * 4);
	background-clip: padding-box;
	background-color: #F3F2EE;
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG000012.jpg");
	background-position: center;
	background-repeat: repeat-y;
	background-size: 100% auto;
	text-align: center;
	cursor: pointer;
}
.dashboard main article hr {
	pointer-events: none;
	position: absolute;
	top: calc(var(--vw) * -2.4);
	left: 28%;
	right: 28%;
	margin: 0;
	padding: 0;
	height: calc(var(--vw) * 3.5);
	border: none;
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG000013.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.dashboard main article:nth-child(6n) hr,
.dashboard main article:nth-child(6n+1) hr {
	transform: rotate(-5deg);
}
.dashboard main article:nth-child(6n+3) hr,
.dashboard main article:nth-child(6n+5) hr {
	transform: rotate(5deg);
}
.dashboard main article h2 {
	font-family: var(--barto);
	font-weight: normal;
	font-size: calc(var(--px) * 30);
	line-height: 0.9;
	color: black;
	text-align: center;
}
.dashboard main article h2::before {
	position: absolute;
	content: attr(title);
}
.dashboard main article h2::after {
	content: attr(title);
	font-weight: 900;
	color: #FFFFFF;
	text-shadow: var(--px) var(--px) calc(var(--px) * 2) #000B;
}
/* the icons inside the framed sections */
.dashboard main article figure {
	--ikon: none;
	margin: calc(var(--vw) * 2) auto 0 auto;
	width: calc(var(--vw) * 11);
	height: calc(var(--vw) * 8);
	background-image: var(--ikon);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.dashboard main article.gradebook figure {
	--ikon: url("https://ttv5.s3.amazonaws.com/img/ik/IK00001e.png");
}
.dashboard main article.wallpaper figure {
	--ikon: url("https://ttv5.s3.amazonaws.com/img/ik/IK000014.png");
}
/* This is a TEMPORARY button style, until I make the actual button style */
.tempbutton {
	padding: 0 calc(var(--px) * 15);
	height: calc(var(--px) * 34);
	min-width: calc(var(--px) * 80);
	background-color: #F47A23;
	border: calc(var(--px) * 2) solid white;
	border-radius: calc(var(--px) * 12);
	font-family: var(--barto);
	font-size: calc(var(--px) * 24);
	line-height: 0.9;
	color: white;
	text-align: center;
	text-shadow: calc(var(--px) * 1.5) calc(var(--px) * 1.5) black;
	box-shadow: calc(var(--px) * -4) calc(var(--px) * 4) #B54F02;
	cursor: pointer;
}
.corky header .tempbutton {
	margin-top: calc(var(--px) * 8);
}
.hid
{
	display: none;
}
@media (min-aspect-ratio: 96/55) {
	/* recalculate the value of --vw if window gets wider than the app */
	html {
		--vw: calc(1vh * 96 / 55);
		--bodyheight: calc(var(--vw) * 5500 / 96);
	}
}