/* Wallpaper Book background */
body.stickerbook {
	background-color: hwb(196 38% 10%);
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG00002c.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.stickerbook header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: calc(var(--vw) * 90);
	padding: calc(var(--px) * 11) calc(var(--vw) * 30) 0 calc(var(--vw) * 4);
}

.stickerbook header h2 {
	font-size: calc(var(--px) * 20);
	text-align: center;
	margin: calc(var(--px) * 12) 0 0 calc(var(--px) * 100);
	width: calc(var(--vw)*30);
	height: calc(var(--vw)*6);
	background-image: url("./assets/tempstickers/TabW_art.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: calc(var(--vw)*1.5) 0 0 0;
}

.stickerbook header>div {
	width: calc(var(--vw) * 20);
	height: calc(var(--vw) * 4);
	background-image: url("./assets/tempstickers/paper.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin: calc(var(--vw) * 2.25) 0 0 0;

}

.stickerbook header>div h3 {
	font-size: calc(var(--px) * 14);
	text-align: right;
	margin: 0;
	padding: calc(var(--vw) * 0.5) calc(var(--vw) * 1.5) 0 0;
}

.stickerbook header button {
	margin-top: calc(var(--px) * 12);
}

.stickerbook header nav {
	display: inline-block;
	padding-top: calc(var(--px) * 22.5);
	width: calc(var(--px) * 274);
	height: calc(var(--px) * 48);
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG000017.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	font-family: var(--barto);
	font-size: calc(var(--px) * 30);
	line-height: 0.6;
	color: #0006;
	text-align: center;
	cursor: pointer;
}

.stickerbook header nav.twoline {
	padding-top: calc(var(--px) * 14.5);
	height: calc(var(--px) * 56);
}

.stickerbook header nav.on {
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG000016.png");
	color: #000C;
}

.stickerbook header nav small {
	font-size: calc(var(--px) * 20);
}

.stickerbook main {
	padding: 0 calc(var(--vw) * 5);
}

.stickerbook article {
	padding: 0 calc(var(--vw) * 2);
	margin: calc(var(--vw)*2) 0 var(--vw) 0;
	font-family: var(--barto);
	font-size: calc(var(--px) * 14);
}

/* The frame for showing a wallpaper thumbnail */

.stickerthumbnails {
    width:calc(var(--vw)*100);
    height: calc(var(--vw) * 30);
    overflow-y: hidden;
}
.stickerthumbnails figure {
	--burst: none;
	--frame: url("https://ttv5.s3.amazonaws.com/img/bg/BG000018.png");
	--thumb: url("https://ttv5.s3.amazonaws.com/img/bg/BG000019.jpg");
	
	display: inline-block;
	margin: 0 0 var(--vw) 0;
	padding: calc(var(--vw) * 0.5) 0 0 0;
	width: calc(var(--vw) * 6*2.5);
	height: calc(var(--vw) * 5*2.5);
	background-image: var(--burst), var(--thumb),var(--frame);
	background-size: calc(var(--px) * 30) auto,calc(100% * 5 / 6) auto, 100% auto;
	background-position: 0% 0%,52% 55%, 50% 10%;
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: hidden;
}

/* Put a NEW burst on new thumbnails */
.stickerthumbnails figure.new {
	--burst: url("https://ttv5.s3.amazonaws.com/img/ik/IK00001b.svg");
}

/* Put a green light on the thumbnail */
.stickerthumbnails .on {
	--frame: url("https://ttv5.s3.amazonaws.com/img/bg/BG00002d.png");
}

/* Put a red light on the thumbnail */
.stickerthumbnails .off {
	--frame: url("https://ttv5.s3.amazonaws.com/img/bg/BG00002e.png");
}

/* Ignore mouseover if on, or locked */
.stickerthumbnails  figure.locked {
	pointer-events: none;
	cursor: default;
	--frame: url("https://ttv5.s3.amazonaws.com/img/bg/BG00002f.png");
	--thumb:none;
}

/* Show highlighted frame on hover */
/* .stickerthumbnails figure:hover {
	--frame: url("https://ttv5.s3.amazonaws.com/img/bg/BG00001a.png");
} */
.stickerthumbnails figure figcaption {
	height: calc(var(--vw) * 2);
	font-family: var(--barto);
	font-size: calc(var(--px) * 20);
	text-align: center;
	overflow: hidden;
}
.stickerbook .scrollbarHolder
{
	position: absolute;
	top: 55%;
	right: calc(var(--vw) * 2.5);
	width: var(--scrollbarWidth);
	height: calc(var(--px) * 380);
	transform: translate(0, -50%);
}
.allSwitch {
	display: grid;
	grid-template-columns: 1fr 1fr;
	
}
.allSwitch input[type="checkbox"] {
	visibility: hidden;
}
.allSwitch .status::after {
    position: relative;
    left: calc(var(--vw) * 5);
    bottom: calc(var(--vw) * 4.5);
    color: white;
    z-index: 5;
    pointer-events: none;
	content: "OFF";
}

.allSwitch label {
	cursor: pointer;
	width: calc(var(--vw) * 6);
	height: calc(var(--vw) *2.5);
	background: grey;
	display: block;
	border-radius: calc(var(--vw) * 2);
	position: relative;
	bottom: calc(var(--vw) * 1.9);
	left: calc(var(--vw) * 2);
}

.allSwitch label:after {
	content: '';
	position: absolute;
	top: calc(var(--vw) * 0.16);
	left:calc(var(--vw) * 0.2);
	width: calc(var(--vw) * 2.25);
	height:calc(var(--vw) * 2.25);
	background: red;
	border-radius: calc(var(--vw) * 2);
	transition: 0.3s;
}

.allSwitch input:checked + label {
	background: grey;
}

.allSwitch input:checked + label:after {
	left: calc(100% - 5px);
	background-color: greenyellow;
	transform: translateX(-90%);
}
.allSwitch input:checked ~ span::after {
	color: white;
	left: calc(var(--vw) * 2.5);
	content:"ON";
}
