
/* Sticker Book background */
body.stickerbook {
	background-color: hwb(196 38% 10%);
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG00002c.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}
/* The header, with the tab for the page headline */
.stickerbook header {
	display: grid;
	grid-template-columns: 1fr 9fr;
	grid-template-rows: 1fr;
	padding: calc(var(--px) * 11) calc(var(--vw) * 10) 0 calc(var(--vw) * 4);
}
.stickerbook header button {
	margin-top: calc(var(--px) * 12);
}
.stickerbook header nav {
	display: inline-block;
	margin: 0 auto;
	padding-top: calc(var(--px) * 22.5);
	width: calc(var(--px) * 274);
	height: calc(var(--px) * 48);
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG000016.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	background-position: center;
	font-family: var(--barto);
	font-size: calc(var(--px) * 30);
	line-height: 0.6;
	color: #000C;
	text-align: center;
	cursor: pointer;
}
/* The main element */
.stickerbook main {
	padding: 0 calc(var(--vw) * 6);
}
.stickerbook article {
	padding: 0 calc(var(--vw) * 2);
	margin: 0 0 var(--vw) 0;
	font-family: var(--barto);
	font-size: calc(var(--px) * 14);
}
/* The div for Stickers */
body div.stickers {
	padding-left: calc(var(--vw) * 0.7);
	text-align: left;
	height: calc(var(--bodyheight)*0.6);
    overflow-y: hidden;
}
/* The frame for showing a sticker */
div.stickers figure {
	--burst: none;
	--torn: url("https://ttv5.s3.amazonaws.com/img/bg/BG000030.png");
	--frame: url("https://ttv5.s3.amazonaws.com/img/bg/BG00002d.png");
	display: inline-block;
	margin: 0 calc(var(--vw) * -1.25) calc(var(--vw) * -0.3) 0;
	padding: calc(var(--vw) * 0.7) 0 0 0;
	width: calc(var(--vw) * 15);
	height: calc(var(--vw) * 10.975);
	background-image: var(--burst), var(--frame);
	background-size: calc(var(--px) * 30) auto, 100% auto;
	background-position: 3% 21%, 50% 0%;
	background-repeat: no-repeat;
	cursor: pointer;
}
/* Put a NEW burst on new thumbnails */
div.stickers figure.new {
	--burst: url("https://ttv5.s3.amazonaws.com/img/ik/IK00001b.svg");
}
/* Use red-dot frame if off */
div.stickers figure.off {
	--frame: url("https://ttv5.s3.amazonaws.com/img/bg/BG00002e.png");
}
/* Use gray-dot and ignore mouseover if locked */
div.stickers figure.locked {
	--frame: url("https://ttv5.s3.amazonaws.com/img/bg/BG00002f.png");
	pointer-events: none;
	cursor: default;
}
/* The title of each sticker */
div.stickers figure figcaption {
	margin-bottom: calc(var(--px) * 4);
	padding-right: calc(var(--px) * 17);
	height: calc(var(--vw) * 2);
	font-family: var(--barto);
	font-size: calc(var(--px) * 13);
	line-height: 1;
	text-align: center;
	overflow: hidden;
}
/* A container for the sticker image */
div.stickers figure s {
	--brst: none;
	--stkr: none;
	--torn: url("https://ttv5.s3.amazonaws.com/img/bg/BG000030.png");
	display: block;
	margin-left: calc(var(--px) * 13.5);
	width: calc(var(--px) * 119);
	height: calc(var(--px) * 72.5);
	background-image: var(--brst), var(--torn), var(--stkr);
	background-size: calc(var(--px) * 30) auto, 100% auto, contain;
	background-position: -11.3% -30%, 50% 104%, 50% 50%;
	background-repeat: no-repeat;
}
/* Need to repeat the NEW burst here in case sticker overlaps */
div.stickers figure.new s {
	--brst: url("https://ttv5.s3.amazonaws.com/img/ik/IK00001b.svg");
}
.stickerbook .scrollbarHolder
{
	position: absolute;
	top: 55%;
	right: calc(var(--vw) * 2.5);
	width: var(--scrollbarWidth);
	height: calc(var(--px) * 380);
	transform: translate(0, -50%);
}
.allSwitch {
	display: grid;
	grid-template-columns: 1fr 1fr;
	
}
.allSwitch input[type="checkbox"] {
	visibility: hidden;
}
.allSwitch .status::after {
    position: relative;
    left: calc(var(--vw) * 5);
    bottom: calc(var(--vw) * 4.5);
    color: white;
    z-index: 5;
    pointer-events: none;
	content: "OFF";
}

.allSwitch label {
	cursor: pointer;
	width: calc(var(--vw) * 6);
	height: calc(var(--vw) *2.5);
	background: grey;
	display: block;
	border-radius: calc(var(--vw) * 2);
	position: relative;
	bottom: calc(var(--vw) * 1.9);
	left: calc(var(--vw) * 2);
}

.allSwitch label:after {
	content: '';
	position: absolute;
	top: calc(var(--vw) * 0.16);
	left:calc(var(--vw) * 0.2);
	width: calc(var(--vw) * 2.25);
	height:calc(var(--vw) * 2.25);
	background: red;
	border-radius: calc(var(--vw) * 2);
	transition: 0.3s;
}

.allSwitch input:checked + label {
	background: grey;
}

.allSwitch input:checked + label:after {
	left: calc(100% - 5px);
	background-color: greenyellow;
	transform: translateX(-90%);
}
.allSwitch input:checked ~ span::after {
	color: white;
	left: calc(var(--vw) * 2.5);
	content:"ON";
}