/**Temp White Card placeholder centered**/

.card1 {
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: palegoldenrod;
	border-radius: 5px;
	border: solid darkblue 4px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

	transform: translate(-50%, -50%);
	width: calc(var(--vw) * 80);
	height: calc(var(--vw) * 40);
}
.uisettings .soundBarContainer
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: calc(var(--vw) * 2);
	width: calc(var(--vw) * 60);
	height: calc(var(--vw) * 20);
	margin: calc(var(--vw )*5) calc(var(--vw) * 10);
	align-self: center;
	justify-self: center;

}
.uisettings .soundbar {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	grid-gap: calc(var(--vw) * 2);
	width:80%;
	margin: auto;
}
.uisettings .soundbar>div {
	margin: auto;
}
.uisettings .soundbar .switch {
	position: relative;
	display: inline-block;
	width: calc(var(--vw)*6);
	height: calc(var(--vw)*3);
}

.uisettings .soundbar .switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.uisettings .soundbar .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.uisettings .soundbar .slider:before {
	position: absolute;
	content: "";
	height:calc(var(--vw)*2.5);
	width: calc(var(--vw)*2.5);
	left: calc(var(--vw)*0.2);
	bottom: calc(var(--vw)*0.3);
	background-color: white;
	
}

.uisettings .soundbar input:checked+.slider {
	background-color: #2196F3;
}

.uisettings .soundbar input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

.uisettings .soundbar input:checked+.slider:before {
	-webkit-transform: translateX(calc(var(--vw)*3));
	-ms-transform: translateX(calc(var(--vw)*3));
	transform: translateX(calc(var(--vw)*3));
}

/* Rounded sliders */
.uisettings .soundbar .slider.round {
	border-radius: calc(var(--vw)*3);
}

.uisettings .soundbar .slider.round:before {
	border-radius: 50%;
}

.uisettings .soundbar button
{
	background-color: orange;
	border: solid white calc(var(--vw)*0.25);
	border-radius: calc(var(--vw)*8);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	width: calc(var(--vw) * 3);
	height: calc(var(--vw) * 3);
	font-size: calc(var(--px) * 7);
	background-image: url('https://research.teachingtextbooksapp.com/a/audio-list-040822/assets/ico-sound.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: calc(var(--vw) * 2);
	margin: auto;
}
.uisettings .soundbar button:hover
{
	background-color: darkorange;
}
.uisettings .soundbar .title
{
	font-size: calc(var(--px) * 14);
	color:black;
}

