body.bookindex {
	background-color: hwb(196 38% 10%);
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG000015.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.bookindex header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: calc(var(--px) * 11) calc(var(--vw) * 10) 0 calc(var(--vw) * 4);
}
.bookindex header button {
	margin-top: calc(var(--px) * 12);
}
.bookindex header nav {
	display: inline-block;
	padding-top: calc(var(--px) * 22.5);
	width: calc(var(--px) * 274);
	height: calc(var(--px) * 48);
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG000017.png");
	background-size: 100%  100%;
	background-repeat: no-repeat;
	background-position: center;
	font-family: var(--barto);
	font-size: calc(var(--px) * 30);
	line-height: 0.6;
	color: #0006;
	text-align: center;
	cursor: pointer;
}
.bookindex header nav.twoline {
	padding-top: calc(var(--px) * 14.5);
	height: calc(var(--px) * 56);
}
.bookindex header nav.on {
	background-image: url("https://ttv5.s3.amazonaws.com/img/bg/BG000016.png");
	color: #000C;
}
.bookindex header nav small {
	font-size: calc(var(--px) * 20);
}
.bookindex main {
	padding: 0 calc(var(--vw) * 6);
}
.bookindex .indexThumbs
{
    display: flex;
    flex-direction: column;
    columns:2;
    grid-gap: calc(var(--vw) * .5) calc(var(--vw) * 1);
    
}
.bookindex .indexThumbs .indexCard
{    
    width: calc(var(--vw) * 36);
    padding: calc(var(--px) * 2) calc(var(--vw) * 2);
    background-color: beige;
    border: solid 1px #0006;
}
.bookindex .indexThumbs .indexCard data{
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    align-items: center;
}
.bookindex .indexThumbs .indexCard data h2
{
    font-size: calc(var(--px) * 14);
    color:black;
    font-weight: bold;
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 0 calc(var(--vw) * 2) 0 calc(var(--vw) * 2);
}
/** first h3 tag in indexCard */
.bookindex .indexThumbs .indexCard data h3:first-of-type
{
    font-size: calc(var(--px) * 12);
    color: black;
    font-weight: bold;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 8px;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: orange;
}
/** second h3 tag in indexCard */
.bookindex .indexThumbs .indexCard data h3:nth-of-type(2)
{
    font-size: calc(var(--px) * 12);
    color: black;
    font-weight: bold;
    width: calc(var(--px) * 50);
    height: calc(var(--px) * 50);
    border: 1px solid white;
    border-radius: 8px;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: red;
}
/** arrow background image */
.bookindex .nextarrow
{
    position: absolute;
    bottom: calc(var(--vw) * 6);
    right:calc(var(--vw) * 10);
    background-image: url("/assets/ui/right-arrow.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: none!important;
    width: calc(var(--vw) * 4);
    height: calc(var(--vw) * 4);    
    margin: 0;
    padding: 0;
    cursor: pointer;

}
/** arrow background image reversed */
.bookindex .nextarrow.reverse
{
    background-image: url("/assets/ui/left-arrow.svg");
    left:calc(var(--vw) * 6);
}
.bookindex .disabled
{
    opacity: 0.5;
}
