.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#base
{
  max-width:100%;
  margin:auto;
}
.editThumb
{
   margin: auto;
   max-height: 30px;
}
.contentThumb
{
  margin: auto;
  max-height: 60px;
  padding-bottom: 15px;
}
.thumb
{
  min-width: 150px;
  min-height: 300px;
  margin-bottom: 20px;
}
.tempThumb
{
  position: absolute;
  left: 50%;
  top:50%;
  transform:translate(-50%,-50%);
}
.hid
{
  display: none;
}
.locked
{
  pointer-events: none!important;
}
.fitText
{
  font-size: 1vw;
  font-weight: bold;
}
.head1
{
  background-color: #3498db!important;
}
.titleText
{
  color:white;
  font-size: 26px;
  
}
.tac
{
  text-align: center;
}

.picCardBody
{
  background-color: white;
}
.picCardBodySelected
{
  background-color: tomato;
}
#mediaLib
{
  margin-top: 20px;
}
.btnClose
{
  float:right;
}
.headTitle
{
  font-size: large;
  font-weight: bold;
}
.pvtext
{
  font-size: 50px;
}
.pageTemplateImage
{
  max-width: 200px;
}
.picCard
{
  margin-bottom: 20px;
  
}
.titleText
{
  color:white;
  font-size: 26px;  
}
.cardImageHolder
{
  height: 20vh;
  text-align: center;
}
.cardImage
{
  max-width: 100%;
  max-height: 100%;
}
.mbutton
{
  margin-left: 20px;
}
#preview
{
  position: absolute;
  top:0;
  left:0;
  height: 300;
  text-align: center;
}
.pageStart
{
  position: absolute;
  width: 480px;
  height: 300px;
}

#preview2
{
  height: 460px;
  

}
.modBox
{
  width: 50%;
  text-align: center;
  margin: auto;
}
.smButtonLine
{
  width: 50%;
  margin: auto;
}
.addIcon
{
  font-size: 32px;
  text-align: center;
}
.pageStart2
{
  position: absolute;
  width: 960;
  height: 540;
}
.pageTitle
{
  margin-top: 10%;
}
.scroll1
{
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.scroll3
{
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#scroll2
{
  height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.mt10
{
  margin-top: 10px;
}
.m20
{
  margin-top: 20px;
  margin-bottom: 20px;
}
#inOutLine
{
  width: 25%;
}
#animFilterLine
{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
}
.animationCard
{
  margin: 10px;
}

.cardTitle
{
  font-size: 0.8vw;
}
.cb
{
  font-size: 36px;
}
#steps
{
  width: 1000px;
}
#stepScroll
{
    max-height: 150px;
    margin: auto;
    overflow-x: scroll;
}
.stepCard
{
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
  border: solid 1px blue !important;
  background-color: white;
}
.stepCard.selected
{ 
  border: solid 6px lightgreen !important;
}
#stepButtons
{
   width: 10%;
}
#stepLabel
{
  color:black;
  font-weight: bold;
  background-color:rgba(255, 255, 255, 0.5);
}
#stepMoveButtons
{
  width:20%;
}
#errorText
{
  font-size: small;
  color:red;
}
.noPoint
{
  pointer-events: none;
}
.dragCircle
{
  cursor:move;
  opacity: 0.8;
}
#pholder
{
  position: absolute;
  left: 110px;
}
#zoomFrame
{
  position: absolute;
  top:0;
  left:0;
}
#zoomPreview
{
  text-align: center;
}
.zoomCorner
{
  position: absolute;
  filter: invert();
}
.zoomCorner .r0
{
 transform:translate(0%,-95%);
}
.zoomCorner .r90
{
  transform: rotate(90deg);
}
.zoomCorner .r270
{
  transform: rotate(270deg) translate(95%,-95%);
}
.zoomCorner .r180
{
  transform: rotate(180deg) translate(95%,0);
}

.zoomFrameImage
{
  max-width: 25px;
}
.centerTrans
{
  transform: translate(-50%, -50%);
}
.zoomLocked
{
  pointer-events: none;
  opacity: 0.3;
}

.sideScroll
{
  height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.tac
{
  text-align: center;
}
.tar
{
  text-align: right;
}
.genImage
{
  width: 50%;
}
.hw
{
  width:50%;
  margin: auto;
}
.styleImage
{
  height: 100px;
}
.dpagethumb
{
  width:100%;
}
.fw
{
  width: 100%;
}
#slider
{
  width: 50%;
  margin: auto;
}
.selectedItem
{
  background:mistyrose!important;
}
#listHolder
{
  position: relative;
}
.usn
{
  user-select: none;
}
.draggableListItem
{
  position: absolute;
  top:0;
  width: 100%;
  cursor: move;
}
.elementBox
{
  height: 75px;
  overflow: hidden;
}