.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#base
{
  max-width:80%;
  margin:auto;
}
.editThumb
{
  height: 100px;
}
.thumb
{
  min-width: 150px;
  min-height: 300px;
  margin-bottom: 20px;
}
.tempThumb
{
  position: absolute;
  left: 50%;
  top:50%;
  transform:translate(-50%,-50%);
}
.head1
{
  background-color: #3498db!important;
}
.titleText
{
  color:white;
  font-size: 26px;
  
}
.tac
{
  text-align: center;
}

.picCardBody
{
  background-color: white;
}
.picCardBodySelected
{
  background-color: tomato;
}
#mediaLib
{
  margin-top: 20px;
}
.btnClose
{
  float:right;
}
.headTitle
{
  font-size: large;
  font-weight: bold;
}
.picCard
{
  padding-bottom: 20px;
}
.titleText
{
  color:white;
  font-size: 26px;  
}
.cardImageHolder
{
  height: 20vh;
  text-align: center;
}
.cardImage
{
  max-width: 100%;
  max-height: 100%;
}
.mbutton
{
  margin-left: 20px;
}
#preview
{
  height: 300px;
  text-align: center;

}
.pageStart
{
  position: absolute;
  width: 300px;
  height: 300px;
}

#preview2
{
  height: 500px;
  text-align: center;

}
.pageStart2
{
  position: absolute;
  width: 300;
  height: 450;
}
.pageTitle
{
  margin-top: 10%;
}
.scroll1
{
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#scroll2
{
  height: 150px;
  overflow-y: scroll;
}