.appcard {
    display: flex;
    background-color: #e5e9ec;
    padding: 20px;
    border-radius: 5px;
    transition: box-shadow 0.4s;
}

.appcard:hover {
    box-shadow: 0 5px 20px rgba(1, 45, 128, 0.5);
}

.appcard h2 {
    font-size: calc(var(--vw)*2.5);
    font-family: var(--mainFont);
    font-weight: bold;
    margin-bottom: 0.5rem;

}

.appcard i {
    margin-right: 20px;
    font-size: 24px;
    color: black;
}

.appcard p {
    font-family: var(--mainFont);
    line-height: 1.6;
    font-size:var(--smallFont);
    color: black;
}