


.card 
{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--vw)*80);
    height: calc(var(--vw)*60);

}

.appListScroll
{
   
    width: 100%;
    height: calc(var(--bodyheight)/1.25);
    overflow: auto;
    padding: 0 calc(var(--vw)*2);
  
}
 @media screen and (max-width: 600px) {
    .appListScroll
    {
        height: calc(var(--bodyheight)*0.9);
    }
}
    


.applistscreen 
{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    width: 100%;
    gap: 10px;
}
.applistscreen figure
{
    display: flex;
    justify-content: center;
    flex-direction: column;

    align-items: stretch;
    
    border: white solid 1px;
    margin: (calc(var(--vw)*2)) calc(var(--vw)*2);
}
.applistscreen figure h2
{
    font-size: calc(var(--vw)*2.5);
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}
.applistscreen figure img
{
    width: 100%;
    height: 100%;
}
.applistscreen figure figcaption
{
    text-align: center;
    font-size: calc(var(--vw)*2.5);
    color: white;
    font-weight: bold;
    font-family: var(--mainFont);
}
.topButtons
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: calc(var(--vw)*6);
    padding: 0 calc(var(--vw)*2);
    margin: calc(var(--vw)*2) 0;
}
.topButton
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--vw)*6);
    height: calc(var(--vw)*6);
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 20px var(--shadow);
}
.appcard-icon img
{
    width: calc(var(--vw)*2.5);
    height: calc(var(--vw)*2.5);
    margin: calc(var(--vw)*0.5);
}
  @media (max-width: 900px) {
    .applistscreen {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 700px) {
    .applistscreen {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 500px) {
    .applistscreen {
      grid-template-columns: 1fr;
    }
  }
    
  
