.shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 900;
}

.blockScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--vw)*50);
    height: auto;
    background-color: white;
    padding:calc(var(--vw)*2) calc(var(--vw)*2);
    z-index: 1000;
}

.blockScreen h2 {
    font-size: var(--medfont);
    font-family: var(--mainfont);
}

.blockScreen p {
    font-size: var(--smallfont);
    font-family: var(--mainfont);
}

.blockScreen button {
    font-size: var(--buttonfont);
    font-family: var(--mainfont);
    width: 90%;
    margin: calc(var(--vw)*2) calc(var(--vw)*2);
}