.formGrid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #F3F5F8;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--shadow);
    padding: calc(var(--vw)*2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden
}
@media screen and (max-width:450px) {
   .formGrid
   {
    top:0;
    transform: translate(-50%,-25%);
   }
}
.hdiv {
    height: 100%;
    width: calc(var(--vw)*4)
}

.form1 {
    display: flex;
   
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: white;
    padding: 0 calc(var(--vw)*1.5) calc(var(--vw)*3) calc(var(--vw)*1.5)
}

@media screen and (max-width:600px) {
    .formGrid {
        height: 100%;
        width: 100%
    }
}

.form1 h2 {
    font-size: var(--bigfont);
    font-weight: 500;
    color: var(--primary);
    margin-top: calc(var(--vw)*1.5)
}

.form1 h3 {
    font-size: var(--smallfont);
    font-weight: 500;
    color: var(--primary);
    text-align: left;
    margin-bottom: calc(var(--vw)*4)
}

.form1 .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    background-color: #FBFBFB
}

.form1 .form-group label {
    font-size: var(--medfont);
    font-weight: bold;
    color: var(--primary);
    text-align: left
}

.form1 .required::after {
    content: "*";
    color: red
}

.form1 .form-group small {
    font-size: var(--tinyfont);
    font-weight: 500;
    color: var(--primary);
    text-align: left
}
.textInfoGrid
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    margin-bottom: calc(var(--vw)*2);
}
.howMany {
    font-size: var(--tinyfont)!important;
    font-weight: 500;
    color: var(--primary);
    text-align: right!important;
    margin-bottom: calc(var(--vw)*1.5)
}
.minText
{
    font-size: var(--tinyfont)!important;
    font-weight: 500;
    color: var(--primary);
    text-align: left!important;
    margin-bottom: calc(var(--vw)*1.5)
}
.form1 .form-group input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    font-size: var(--inputfont);
    font-weight: 500;
    outline: none;
   
}
.form1 .form-group .input2
{
    margin-bottom: calc(var(--vw)*4);
}
.form1 .form-group input:focus {
    border-bottom: 1px solid var(--primary)
}

.form1 .form-group input::placeholder {
    color: var(--shadow);
    font-size: var(--inputfont);
    font-weight: 500
}

.form1 .form-group button {
    font-size: var(--buttonfont);
    width: 100%;
    margin-bottom: calc(var(--vw)*1.5);
}
.form3 h2 {
    font-size: var(--bigfont);
    font-weight: 500;
    color: var(--primary);
    margin-top: calc(var(--vw)*1.5)
}

.form3 h3 {
    font-size: var(--smallfont);
    font-weight: 500;
    color: var(--primary);
    text-align: left;
    margin-bottom: calc(var(--vw)*4)
}
.form3 .form-group label {
    font-size: var(--medfont);
    font-weight: bold;
    color: var(--primary);
    text-align: left
}

.form3 .required::after {
    content: "*";
    color: red
}

.form3 .form-group small {
    font-size: var(--tinyfont);
    font-weight: 500;
    color: var(--primary);
    text-align: left
}
.abCenter
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: white;
    padding: 0 calc(var(--vw)*1.5) calc(var(--vw)*3) calc(var(--vw)*1.5)
}

.form3 .form-group textarea
{
    width: 100%;
    
    border-bottom: 1px solid var(--primary);
    background-color: white;
    color: var(--primary);
    font-size: var(--textareafont);
    

}


.form3 .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    background-color: #FBFBFB
}

.form3 .form-group label {
    font-size: var(--smallfont);
    font-weight: bold;
    color: var(--primary);
    text-align: left
}

.form3 .required::after {
    content: "*";
    color: red
}

.form3 .form-group small {
    font-size: var(--tinyfont);
    font-weight: 500;
    color: var(--primary);
    text-align: left
}
.form3 .form-group button {
    font-size: var(--buttonfont);
    width: 100%;
    margin-bottom: calc(var(--vw)*1.5);
}
.outputGrid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #F3F5F8;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--shadow);
    padding: calc(var(--vw)*2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden
}
@media screen and (max-width:400px) {
    .outputGrid {
        height: 100vh;
    }
    .formGrid
    {
        height: 100vh;
    }
}
    
.outputbox {
    width: 100%;
    height: 100%;
    padding: 0 calc(var(--vw)*4);
    overflow: scroll
}

.outputbox textarea {
    width: 100%;
    height: 50%;
    border: solid 1px var(--primary);
    border-radius: 16px;
    color: var(--primary);
    font-size: var(--inputfont);
    outline: none;
    margin-top: 5vh
}

.outputbox .outputButtons {
    display: flex;
    flex-direction: column;
    gap: 2vh
}

.outputbox h2 {
    font-size: var(--bigfont);
    font-weight: 500;
    color: var(--primary);
    margin-top: calc(var(--vw)*1.5)
}

.outputbox h3 {
    font-size: var(--medfont);
    font-weight: 500;
    color: var(--primary);
    text-align: left
}

.btn-close {
    position: absolute;
    top: calc(var(--vw)*4);
    left: calc(var(--vw)*2);
    width: calc(var(--vw)*4);
    height: calc(var(--vw)*4);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "x"
}