.frameGrid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #F3F5F8;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--shadow);
    padding: calc(var(--vw)*2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden
}
.frameGrid iframe
{
    width: calc(var(--vw)*90);
    height: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--shadow);
}
.frameGrid button
{
    width: calc(var(--vw)*90);
}