.searchGrid
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #F3F5F8;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--shadow);
    padding: calc(var(--vw)*2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}
.searchGrid h2
{
    font-size:var(--bigfont);
    font-weight: 600;
    color: var(--primary);
    margin-bottom: calc(var(--vw)*2);
    text-align: center;
}
.searchGrid .searchResults
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto
}
.searchText
{
    margin: calc(var(--vw)*2);
    text-align: center;
}
.searchText input
{
    background-color: #FFFFFF;
    border: 1px solid #000000;
    color: #000000;
    font-family: var(--mainFont);
    font-size: var(--inputfont);
    font-weight: bold;
    height: auto;
    width: calc(var(--vw)*80);
    
}
.searchGrid .cardMore
{
    width:100%;
    background-color: white;
    
}
.searchGrid .cardMore button
{
    width: 100%;
}