.statusScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--vw)*100);
    height: 100vh;
    background-color: #F3F5F8;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--shadow);
    padding: calc(var(--vw)*2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    align-items: center;

}

.statusScreen table {
    font-size: var(--medfont);
    width: calc(var(--vw)*76);
    height: auto;
    border-collapse: collapse;
    border: 1px solid black;
}

.statusScreen td,
th {
    padding: 5px;
    border: 1px solid black;
}

.statusScreen .table1 td:nth-child(2n+2),
.statusScreen td:nth-child(3n+3) {
    text-align: right;
}

.statusScreen .table2 td:nth-child(even) {
    text-align: right;
}

.statusScreen .statusBar {
    width: 80%;
    height: calc(var(--vw)*5);
    background-color: #F3F5F8;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--shadow);
    padding: calc(var(--vw)*2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}




.statusScreen .statusBar .statusBarLeft {
    width: 40%;
    height: 100%;
    display: flex;
    background-color: red;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}