
.textcard
{
    background-color: #FBFBFB;
    color: var(--primary);
    box-shadow: 0 0 20px var(--shadow);
    padding: calc(var(--vw)*2) calc(var(--vw)*2) calc(var(--vw)*2) calc(var(--vw)*2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-bottom: calc(var(--vw)*2);
    margin: calc(var(--vw)*2);
    
}
.textcard p
{
    font-size: calc(var(--vw)*2);
    font-weight: 500;
    color: var(--primary);
    text-align: left;
    margin-bottom: calc(var(--vw)*4);
}
