.writingScreen
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.writingScreen img
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(var(--vw)*50);
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.writingScreen h2
{
    position: absolute;
    top: 10%;
    left: 50%;
    width: calc(var(--vw)*80);
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: var(--bigfont);
    font-weight: 600;
    color: black;
    text-align: center;
    
}
.loadingScreen
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.loadingScreen img
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(var(--vw)*50);
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.loadingScreen h2
{
    position: absolute;
    top: 10%;
    left: 50%;
    width: calc(var(--vw)*80);
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: var(--bigfont);
    font-weight: 600;
    color: black;
    text-align: center;
    
}