h1 {
  color: white;
  background-color: black;
}
.progressArrow
{
  font-size: 35px;
  fill: black;
  dominant-baseline: central
}
#char
{
  position: absolute;
  top:0%;
  pointer-events: none;
  touch-action: none;
}
.full
{
  width: 100vw;
  height: 99%;
}
#gridLines
{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  left: 0; 
}
.uiWindow
{
  height: 100%;
  width: 100%;
}
.draggable {
  cursor: move;
}
.boxText
{
  dominant-baseline:middle;
  text-anchor:middle;
  touch-action: none;
  pointer-events: none;
}
#instText
{
  width: 80%;
  word-wrap:break-word;
}
.shadow {
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  /* Similar syntax to box-shadow */
}

#addArea
{
  position: absolute;
  top:0;
  left:0;
}
#buttonArea
{
  position: absolute;
  top:0;
  left: 0;
}
#btnEdit
{
 background-color: cadetblue;
}
#btnAdd
{
  background-color: green;
}
.redStroke
{
  stroke: red;
}
.red
{
  stroke: red!important;
}
.blue
{
  stroke: blue!important;
}
.black
{
  stroke: black!important;
}
.yellow
{
  stroke: yellow!important;
}
.glow
{
  
  width: 150px;
  height: 150px;
  background-color: #fff;

  box-shadow: 120px 80px 40px 20px #0ff;
}
.selectedArrow
{
 /*  stroke-dasharray: 1,2,3; */
  stroke-opacity: 1;
  
}

.buttonA
{
  background-color: cornflowerblue;
}
.buttonB
{
  background-color: darkred;
  color:white;
}
#propArea
{
  position: absolute;
  bottom: 20%;
  right:5%;
}
#propBox
{
  padding:20px;
  height: 400px;
  width: 200px;
  border: solid black 2px;
}
#pasteBox
{
  position: absolute;
  bottom: 10%;
  left:5%;
  height: 200px;
  width: 200px;
  border: solid black 2px;
}
#editEndChoices
{
  display: none;
  text-align: center;
}
.ta
{
  text-align: center;
}