<div class="growgrid" id="growgrid">
    <div>
        <div class="whole cell cell_1_1 currentCell"><span class="cell_1_1_0 currentCell"></span></div>
        <div class="threeRows cell cell_3_1"><span class="cell_3_1_0 fs1">1</span><span
                class="cell_3_1_1 fs1">2</span><span class="cell_3_1_2 fs1">3</span></div>
    </div>
    <div>
        <div class="threeCol cell cell_1_3"><span class="cell_1_3_0">1</span><span class="cell_1_3_1">2</span><span
                class="cell_1_3_2">3</span></div>
        <div class="fraction cell cell_1_2"><span class="cell_1_2_0 fs4">1</span><span class="cell_1_2_1 fs4">2</span>
        </div>
    </div>
    <div>
        <div class="whole cell cell_1_1"><span class="cell_1_1_0 fs8"></span></div>
        <div class="power cell cell_2_1"><span class="cell_2_1_0">2</span><span class="cell_2_1_1">3</span></div>
    </div>
    <div>
        <div class="whole cell cell_1_1"><span class="cell_1_1_0 fs8">1</span></div>
        <div class="power2x2 cell cell_2_2"><span class="cell_2_2_0">2</span><span class="cell_2_2_1">3</span><span
                class="cell_2_2_2">4</span><span class="cell_2_2_3">5</span></div>
    </div>
</div>