.bonusbuttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    width: 50%;
}

.btnGo {
    width: calc(var(--vw)*10);
    height: calc(var(--vw)*10);
    font-size: calc(var(--vw)*5);
    font-weight: bold;
    background-color:var(--primary);
    color:var(--text);
    text-shadow: black 1px 1px 1px;
}

.squarebutton {
    width: calc(var(--vw)*4);
    height: calc(var(--vw)*4);
    font-size: calc(var(--vw)*3);
    font-weight: bold;
    background-color:var(--primary);
    color:var(--text);
    text-shadow: black 1px 1px 1px;
}

.buttonGrid {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.editButtons {
    gap: 18px;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.editButtons button {
    background-color: var(--primary);
    border: none;
    color: var(--text);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

.editButtons button:focus {
    outline: none;
}

.editButtons button .selected {
    background-color: #f2f2f2;
}

.editButtons button {
    background-color: var(--primary);
    color: white;
    text-shadow: black 1px 1px 1px;
    border:solid 2px black;
    border-radius: 2px;
}