/* put a card around the game  and place in the center of the screen */
.game {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: var(--background);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    width: calc(var(--vw)*60);
    height: calc(var(--vh)*50);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.greenCheck {
    position: absolute;
    top: calc(var(--vw)*6);
    left: calc(var(--vw)*45);
    width: 50px;
    background-size: 50px 50px;
    background-image: url('../assets/green_check.svg');
    background-repeat: no-repeat;
    height: 50px;
}

.redX {
    position: absolute;
    top: calc(var(--vw)*6);
    left: calc(var(--vw)*45);
    width: 50px;
    background-size: 50px 50px;
    background-image: url('../assets/red_x.svg');
    background-repeat: no-repeat;
    height: 50px;

}

.problemArea {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    font-size: calc(var(--vw)*5);
    padding: 10px;
    margin: 10px;
    background-color: var(--accent);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
}

.problemBox {
    letter-spacing: calc(var(--vw)*2.5);
    color:var(--text);
}

.bonusInput {
    display: flex;
    width: calc(var(--vw)*10);
    height: calc(var(--vw)*10);
    font-size: calc(var(--vw)*5);
    font-weight: bold;
    background-color: var(--link);
    color: var(--text);
    justify-content: center;
    align-items: center;
    border: solid 2px black;
}

.topBar {
    display: flex;
    position: absolute;
    top: 4vh;
    left: 0;
    font-size: calc(var(--vw)*2);
    color: white;
    width: 100%;
    height: calc(var(--vh)*5);
    align-items: center;
    justify-content: space-evenly;
}

.topBar .clock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--vw)*6);
    height: calc(var(--vw)*3);
    background-color: var(--primary);
    border: solid 2px var(--text);
}

.topBar .indexBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--vw)*6);
    height: calc(var(--vw)*3);
    background-color: var(--primary);
    border: solid 2px var(--text);
}

.topBar button {
    width: calc(var(--vw)*16);
    height: calc(var(--vw)*3);
    background-color: var(--secondary);
    border: solid 2px white;
    color: var(--text);
    font-size: calc(var(--vw)*2);
}

.gameOverScreen .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.gameOverScreen .title {
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}

.gameOverScreen .questions {
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.rightColor {
    background-color: var(--rightColor) !important;
}

.wrongColor {
    background-color: var(--wrongColor) !important;
}