.selectScreen
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.selectScreen button
{
    width: 40%;
    height: 10%;
    font-size: calc(var(--vw)*2);
    font-weight: bold;
    background-color: var(--accent);
    border: solid 2px white;
}
.selectCard {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: calc(var(--vw)*30);
    margin: 0 auto;
  }
  
  .selectCard select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #f4f4f4;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .selectCard option {
    padding: 5px;
    font-size: 14px;
  }