/* Solution Area - maintain 50/45 aspect ratio
 */
.solutionArea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--vw) * 45);
    height: calc(var(--vw) * 45 / 50 * 45);
    background-color: gold;
    background-image: url("../assets/parchment.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.rufflePlayer
{
    width: 100%;
    height:100%;
}
.rufflePlayer2
{
	position: absolute;
	width: calc(var(--vw) * 100);
	height:calc(var(--vw) * (100 / 96 * 55));
	z-index: -1;
}
.playbackUI {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(var(--vw) * 30);
    /* height: 5%; */
    list-style: none;
    background-color: #D6E6F3;
    padding: 0;
}
.playbackUI .buttons
{
    position: relative;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: calc(var(--vw) * 6);
    height: 100%;
    list-style: none;
    padding: 0;
}
.btnPlay
{
    background:url("../assets/arrow.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: calc(var(--vw) * 2);
    height:calc(var(--vw) * 2);
}
.btnPlay.paused
{
    background:url("../assets/pause.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: calc(var(--vw) * 2);
    height:calc(var(--vw) * 2);
}
.btnRewind
{
    background:url("../assets/rewind.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: calc(var(--vw) * 2);
    height:calc(var(--vw) * 2);
}