.answer
{
    padding: 3px 6px;
    min-height: 20px;
}
.wordbox {
    background-color: #e8e8e8;
    border: none;
    margin: 20px;
    border-radius: 0;
    padding: 5px;
}
.correctbox
{
    background-color:greenyellow!important;
    color:white;
}
.btnwrong
{
    background-color: tomato!important;
    color:white;
}
#questArea
{
    font-size: 22px;
}
#wordArea
{
    border: solid;
    padding:20px;
}
#card1
{
    width: 55%;
    height: 100px;
    margin: auto;
}
#card2
{
    width: 55%;
    margin: auto;
}