.inputCell
{
    width: calc(var(--vw) * 2);
    height: calc(var(--vw) * 2);
    text-align: center;
}
.inputCell.selected
{
    background-color: #f4511e!important;
    color: #FFFFFF!important;
}
.editArea {
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.previewTable {
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 20px;    
}

.previewTable td {
   
    width: calc(var(--vw) * .2);
}
.previewTable td sub
{
    letter-spacing: calc(var(--vw) * -.5);
    position: relative;
    left: calc(var(--vw) * -.4);
    top: calc(var(--vw) * -.6);
}
.previewTable td sup {
    letter-spacing: calc(var(--vw) * -.5);
    position: relative;
    left: calc(var(--vw) *.2);
    top: calc(var(--vw) * -1.25);
    font-size: calc(var(--vw) * 0.99);
}
.gridTable {
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 20px;
}

.gridTable td {
    display: inline-block;
    padding: 0;
    border: none;
    margin: 0;
    width: 8px;
    height: 8px;
}

.stepTable
{
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 12px;
}
.stepTable td {
    width: calc(var(--vw) * .2);
}
.btnClear
{
    margin-top: 10px;
}
.subSuper {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(var(--vw) * 21);
    gap: calc(var(--vw) * 2);
}
.subSuper label
{
    margin-bottom: 0;
    font-size: 20px;
}
.subSuper input
{
    width: calc(var(--vw) * 2);
    height: calc(var(--vw) * 2);
    text-align: center;
    font-size: 20px;
}
