html {
	--shadow: #0006;
	--vw: 1vw;
	--px: calc(var(--vw) / 9.6);
}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #f0f0f0;
	height: 100vh;
	overflow: hidden;
}
@media (min-aspect-ratio: 96/55) {
	/* recalculate the value of --vw if window gets wider than the app */
	html {
		--vw: calc(1vh * 96 / 55);
	}
}
.App
{
    text-align: center;
    width: calc(var(--vw) * 90);
    margin: auto;
}
.hid
{
	visibility: hidden;
}

.card-header
{
	font-weight: bold;
	background-color: rgb(212, 212, 212) !important;
	z-index: 1100;
}

/* .card-body{
    padding: 16px 0px 16px 0px !important;
} */
.topCardBody
{
	padding: 0!important;
}
.toolArea{
	padding: 0px 4px;
}
.topMenu
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 4px;
	width: 100%;
	background-color: silver;
	color:white;
}