.tabs {
    display: flex;
    float: left;
    align-items: left;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    width: 10%;
}

.styleButtons {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
}


/**fancy buttons */
.styleButtons button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 2px;
    width: calc(var(--vw)*20);
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
}

.stepPanel {

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-direction: row;

}

.stepLine {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    width: 100%;
    height: 240px;
    overflow-x: hidden;
    overflow-y: scroll;
    align-items: center;
}
.stepCard
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: fit-content;
    min-height: 200px;
}

.stepCard.selected
{
    border:#f4511e thick solid !important;
}
.buttonNav {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}
.buttonNav .btn
{
    width: calc(var(--vw)*20);
}
.navLabel {
    font-weight: bold;
    padding-top: 6px;
}

.calcPanel
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-direction: row;
}
.calcPanel .btn
{
    width: calc(var(--vw)*20);
}

.calcPanel h2
{
    width: 100%;
    text-align: left;
}
.symbolList
{
    padding-top:10px;
}

.sizeNav {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}

.sizeNav .btn
{
    width: calc(var(--vw)*7);
    padding: 4px;
    margin: 2px;
    font-weight: bold;

}
.insertNav {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}
.insertNav .btn
{
    width: calc(var(--vw)*12);
    padding: 4px;
    margin: 2px;
    font-weight: bold;
}


#flyoutMenu {
    position:absolute;
    left: 0;
    top: 0;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    width: 10%;
    height: 100%;
    background-color: rgb(63, 63, 74);
    overflow: scroll;
    z-index: 1000;
    padding-top: 20px;
}

#flyoutMenu.hide {
    transform: translate3d(0vw, -100vw, 0);
  }

#flyoutMenu.show {
    transform: translate3d(0vw, 0vw, 0);
    overflow: hidden;
}
