#flyMenuButton {
    background-color: rgb(63, 63, 74);
    margin-bottom: 20px;
    width: 10%;
    height: 25px;
    outline: none;
    transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: small;
    z-index: 1001;
  }
   
  #flyMenuButton:hover {
    background-color: rgb(63, 63, 74);
    cursor: pointer;
    color: rgb(154, 198, 237);
  }
   