<g id="testButton">
    <use href="#blueback"></use>
    <text x="10%" y="5%" id="buttonText" fill="white" class="whiteText">Press Me</text>
</g>
<g id="change1">
    <use href="#greenback"></use>
    <text x="10%" y="5%" id="buttonText" fill="white" class="buttonText">Change Screen</text>
</g>
<g id="btnSpin">
    <use href="#greenback"></use>
    <text x="10%" y="5%" id="buttonText" fill="white" class="buttonText">Start Spin</text>
</g>
<g id="btnFly">
    <use href="#greenback"></use>
    <text x="10%" y="5%" id="buttonText" fill="white" class="buttonText">Tween Me</text>
</g>