<pattern id="smallGrid" width="8" height="8" patternUnits="userSpaceOnUse">
    <path d="M 8 0 L 0 0 0 8" fill="none" stroke="white" stroke-width="0.5"/>
  </pattern>
  <pattern id="grid" width="9.09%" height="9.09%" patternUnits="userSpaceOnUse">
    <rect width="9.09%" height="9.09%" fill="url(#smallGrid)"/>
    <path id="gridPath" d="M 80 0 L 0 0 0 80" fill="none" stroke="red" stroke-width="1"/>
  </pattern>
  <rect id="agrid" width="100%" height="100%" fill="url(#grid)" />

  <!--default text-->
  <text id="defaultText" fill="white">Your Text Here</text>