.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.infoIcon
{
  color:cornflowerblue;
  font-size: 1vw;
  float: right;
}
.ft
{
  font-size: 0.9vw;
  text-align: center;
}
.fr
{
  float: right;
}
.fl
{
  float: left;
}
.rightLetter
{
  font-size: 22px;
  color:green;
  padding-right: 5px;
}
.wrongLetter
{
  font-size: 20px;
  color:red;
  padding-right: 5px;
}
.rightLetter2
{
  font-size: 18px;
  color:green;
  padding-right: 5px;
}
.wrongLetter2
{
  font-size: 18px;
  color:red;
  padding-right: 5px;
}
.wordList
{
  text-align: left;
}
#gameData
{
  display: block;
}
#gamePrev
{
  width: 100%;
  height: 500px;
}
#base
{
  max-width:80%;
  margin:auto;
}
.gameCard
{
  margin-bottom: 20px;
}
.picRow
{
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.picThumb
{
  border:solid black 2px;
}
.picThumbWrong
{
  border:solid red 2px;
}
.head1
{
  background-color: #3498db!important;
}
.tac
{
  text-align: center;
}
.cardHeader
{
  text-align: center;
  font-size: larger;
  font-weight: bold;
}
.picCardBody
{
  background-color: white;
}
.picCardBodySelected
{
  background-color: tomato;
}
#mediaLib
{
  margin-top: 20px;
}
.btnClose
{
  float:right;
}
.sLetter
{
  font-size: 26px;
  text-align: center;
}
.headTitle
{
  font-size: large;
  font-weight: bold;
}
.picCard
{
  margin-bottom: 20px;
}
.titleText
{
  color:white;
  font-size: 26px;  
}
.cardImageHolder
{
  height: 20vh;
  text-align: center;
}
.cardImage
{
  max-width: 100%;
  max-height: 100%;
}
.cardImageHolder2
{
  height: 10vh;
  text-align: center;
}
.cardImage2
{
  max-width: 100%;
  max-height: 100%;
}
.scroll1
{
  height: 400px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}