.paper1 {
  background-image: url('./assets/images/coreimages/back2.png');
  height: 100%;
  background-color: hsl(35, 45%, 85%);
  background-size: 100% 100%;
}

div.pageback {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsl(35, 45%, 85%);
  background-image: url('./assets/images/coreimages/back2.png');
  background-size: 100% 100%;
  z-index: 0;
}
.psize1
{
  width: 300px;
  height: 450px;
}
.psize2
{
  width: 300px;
  height: 300px;
}
#addArea {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
#popups
{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.popupContent
{
  height: 300px;
}

.closeButton {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 90%;
  top: 30px;
  z-index: 10;
}
.fullHeight {
  height: 100%;
}

.full {
  width: 600px;
  height: 450px;
}
.bookContent
{
  width: 100%;
  aspect-ratio: 1.3;
}
.full3
{
  position: absolute;
  width: 100%;
  height: 100vh;
}
.fullDevice
{
  width: 100%;
  aspect-ratio: 1/.4;
}
.pgshadow {
  fill: rgba(0, 0, 0, 40%);
}

.page {
  fill: hsl(45, 100%, 85%);
}

.hid {
  display: none;
}


#playbackUI #leftArrowButton {
	position: absolute;
	width: 6.5vh;
	height: 6.5vh;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	top: 20%;
	left: 0%;
	background-image: url("./assets/btn_larr.svg");
}

#playbackUI #rightArrowButton {
	position: absolute;
	width: 6.5vh;
	height: 6.5vh;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	top: 20%;
	right: 0%;
	background-image: url("./assets/btn_rarr.svg");
}
.crossGutter2
{
  background-repeat: no-repeat;
}
