.grid1
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;    
    padding: 0px;
    margin: 0px;
    height: 10vh;
    overflow-y: scroll;
    border: 1px solid #000;
   
}
.gridTops
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid #000;
}