<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="bluebox" viewBox="0 0 128 128">
         <rect fill="blue" stroke="white" stroke-width="12" width="100%" height="100%" rx="16"></rect>
    </symbol>
    <symbol id="uiWindow">
        <rect class="uiWindow" fill="white" stroke="#375982" stroke-width="10"></rect>
    </symbol>
    <symbol id="greenbox">
        <rect width="100" height="100" fill="white" stroke="green" stroke-width="5px"></rect>
    </symbol>
</svg>