.gadgets {
    position: absolute;
    bottom: 26vh;
    left: 0;
    width: 100%;
    height: 20vh;
}

.gadgets.open {
    z-index: 100;
}

/**VOLUME SLIDER */
.volumeSlider {
    display: flex;
    position: absolute;
    top: 0;
    left: calc(var(--vw)*15);
    width: calc(var(--vw)*5);
    height: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}
.volumeSlider .back {
    
    background-image: url("../assets/images/vol/volback.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: calc(var(--vw)*3);
    height: 100%;
    border-radius: 10px;
    background-color: white;
}

.volumeSlider .well {
    position: absolute;
    top: 0.5vh;
    width: calc(var(--vw)*2);
    height: 90%;
    border: solid 2px blue;
    border-radius: 10px;
    background-color: lightblue;
}

.volumeSlider .knob {
    position: absolute;
    left: 50%;
    top: 0;
    width: calc(var(--vw)*3);
    height: calc(var(--vw)*3);
    background-image: url("../assets/images/vol/slideknob.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, 0);
    z-index: 20;
}

/**Speech Volume Slider */
/**VOLUME SLIDER */
.speechSlider {
    display: flex;
    position: absolute;
    top: 0;
    left: calc(var(--vw)*24);
    width: calc(var(--vw)*5);
    height: 100%;
    flex-wrap: nowrap;
    justify-content: center;
}
.speechSlider .back {
    background-image: url("../assets/images/vol/volback.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: calc(var(--vw)*3);
    height: 100%;
    border-radius: 10px;
    background-color: white;
}

.speechSlider .well {
    position: absolute;
    top: 0.5vh;
    width: calc(var(--vw)*2);
    height: 90%;
    border: solid 2px blue;
    border-radius: 10px;
    background-color: lightblue;
}

.speechSlider .knob {
    position: absolute;
    left: 50%;
    top: 0;
    width: calc(var(--vw)*3);
    height: calc(var(--vw)*3);
    background-image: url("../assets/images/vol/slideknob.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, 0);
    z-index: 20;
}

/**Voice Balloon */


.speedBalloon {
    position: absolute;
    top: -13vh;
    left: calc(var(--vw)*32);
    width: calc(var(--vw)*7);
}
.balloon {
    display: flex;
    font-size: calc(var(--px)*16);
    height: 100%;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.balloon:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid #ffffff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.balloon .selected {
    background-color: #e6e6e6;
    color: orange;
}