html
{
    --vw : 1vw;
    --scrollbarWidth: calc(var(--vw) * 2);
}
.testText
{
    font-family: "Arial";
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    width: calc(var(--vw) *30);
    height: 400px;
    overflow-y: hidden;
}
.scrollGroup
{
    display: grid;
    grid-template-columns: calc(var(--vw)*31) var(--scrollbarWidth);
}
@media (min-aspect-ratio: 96/55) {
	/* recalculate the value of --vw if window gets wider than the app */
	html {
		--vw: calc(1vh * 96 / 55);
	}
}