<polygon id="hex" class="hexagon" points="12,0 6,-10.3923 -6,-10.3923 -12,0 -6,10.3923 6,10.3923" />
<polygon id="prl" class="parallelogram" points="-3.1058,0 0,11.5911 3.1058,0 0,-11.5911" />
<polygon id="rhm" class="rhombus" points="-6,0 0,10.3923 6,0 0,-10.3923" />
<polygon id="sqr" class="square" points="-6,-6 6,-6 6,6 -6,6" />
<polygon id="trg" class="triangle" points="0,-6.9282 -6,3.4641 6,3.4641" />
<polygon id="trz" class="trapezoid" points="12,5.1962 6,-5.1962 -6,-5.1962 -12,5.1962" />