.paper1 {
    background-image: url('./assets/images/coreimages/back2.png');
    height: 100%;
    background-color: hsl(35, 45%, 85%);
    background-size: 100% 100%;
}
#addArea
{
  position: absolute;
  left: 0;
  top:0;
  height: 100%;
  width: 100%;
}
.pageStart2
{
  position: absolute;
  width: 300;
  height: 450;
}
.rbook {
    height: 450px;
    width: 300px;
    margin: auto;
}
.fullHeight
{
    height: 100%;
}
.full
{
    width: 600px;
    height: 450px;
}

.pgshadow {
    fill: rgba(0, 0, 0, 40%);
  }
  .page {
    fill: hsl(45, 100%, 85%);
  }