body {
    overflow-y: hidden;
    /* Hide vertical scrollbar */
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
    margin: 0;
    padding: 0;
}

.full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#btnNext {
    position: absolute;
    right: 2%;
    top: 40%;
    width: 10%;
    z-index: 20;
}

#btnPrev {
    position: absolute;
    left: 2%;
    top: 40%;
    width: 10%;
    z-index: 20;
}

.imageFrame {
    position: absolute;
    left: 20%;
    top: 10%;
    z-index: 15;
    display: none;
}

.imageFrame img {
    border: blue;
    border-style: solid;
    border-width: 8px;
}

.infoCard {
    font-family: 'Andika', sans-serif;
    background-color: #84B154;
    max-width: 30%;
    height: fit-content;
    min-width: 200px;
    position: absolute;
    top: 10%;
    left: 10%;
    display: none;
}

.textCard {
    font-family: 'Andika', sans-serif;
    background-color: rgba(255, 255, 255, 0.6);
    max-width: 30%;
    height: fit-content;
    min-width: 200px;
    position: absolute;
    top: 10%;
    left: 50%;
    display: none;
}

.textCard #bodyText {
    font-size: 3vh;
    font-weight: bold;
    word-wrap: break-word;
    color: black;
    padding: 5%;
    transition: color 2s;
}

.hl1 {
    color: black;
    font-size: 1.25vw;
    font-weight: normal;
    transition: color 1s;
}

.hl2 {
    font-size: 1.25vw;
    color: #0B5ABF;
    font-weight: bold;
}

.infoCard #titleText {
    font-size: 4vh;
    font-weight: bold;
    text-align: left;
    color: black;
    margin-top: 5%;
    margin-left: 5%;
}

.infoCard #bodyText {
    font-size: 3vh;
    font-weight: bold;
    word-wrap: break-word;
    color: black;
    padding: 5%;
}

#problemHead {
    color: blue;
    text-align: center;
}

.qnum {
    font-size: 4vh;
    color: black;
    margin-left: 3%;
}

.qnumActive {
    font-size: 4.5vh;
    color: blue;
    margin-left: 3%;
}

.shadow {
    -webkit-filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, .7));
    /* Similar syntax to box-shadow */
}

.shadow2 {
    -webkit-filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, .2));
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, .2));
    /* Similar syntax to box-shadow */
}

.shadow3 {
    -webkit-filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.534));
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.534));
    /* Similar syntax to box-shadow */
}

#svgCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 99%;
}

#dart {
    position: absolute;
    z-index: 50;
    transition: top 1s, right 1s;
}

#btnCloseQuiz {
    position: absolute;
    top: 0;
    right: 0;

}

#quizBox {
    display: none;
    position: absolute;
    border: solid gainsboro;
    border-radius: 8px 0 0 8px;
    background-color: gainsboro;
    height: 80%;
    width: 30%;
    top: 7%;
    right: 40%;

}

#quizQuestion {
    margin-top: 10%;
    color: black;
    font-size: 3.5vh;
    text-align: center;
    font-weight: normal;
    word-wrap: break-word;
}

.quizAnswer {
    position: absolute;
    display: none;
    line-height: 40px;
    left: 25%;
    width: 50%;
    height: 8%;
    border: black none;
    border-radius: 8px;
    background-color: white;
    color: black;
    font-size: 4vh;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    z-index: 30;
}

#quizNumbers {
    color: black;
    margin-top: 5%;
    text-align: center;
    font-size: 2vh;
}

#quizNumbers .active {
    color: blue;
}

#btnCheck,
#btnRemind {
    display: inline-block;
    line-height: 40px;

    width: 50%;
    height: 40px;
    color: white;
    font-size: 2.5vh;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    z-index: 30;

    background-image: url("./assets/icons/blueButton.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
}

#btnCheck {
    position: absolute;
    bottom: 5%;
    right: 0;

}

#btnRemind {
    position: absolute;
    bottom: 5%;
    left: 0;
}

#topBar {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 105%;
    height: 15%;
    z-index: 40;
    ;
    background-image: url("./assets/ui/nav/bar.svg");
    transition: top 2s;
}

#bottomBar {
    position: absolute;
    bottom: -10px;
    left: -10px;
    width: 105%;
    height: 15%;
    z-index: 40;
    background-image: url("./assets/ui/nav/bar.svg");
    transition: top 2s;
}

#btnNavUp {
    position: absolute;
    top: 12vh;
    left: 2%;
    width: 120px;
    height: 60px;
    background-image: url("./assets/ui/buttons/navbuttons/navUp.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#btnNavDown {
    position: absolute;
    top: 12vh;
    left: 2%;
    width: 120px;
    height: 60px;
    background-image: url("./assets/ui/buttons/navbuttons/navDown.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#progBar {
    position: absolute;
    top: 35%;
    left: 45%;
    width: 40%;
    height: 4vw;
    background-image: url("./assets/ui/nav/slidebar.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#progKnob {
    position: absolute;
    top: 10%;
    left: 0;
    width: 4vw;
    height:4vw;
    background-image: url("./assets/ui/nav/slideknob.svg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#btnAuto,
#btnListen,
#btnRead,
#btnBarClose #btnSpeed,
#btnPlay,
#btnSpeed {
    position: absolute;
    top: 15%;
    width: 12vh;
    height: 12vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#btnAuto {

    left: 5%;
    background-image: url("./assets/ui/buttons/navbuttons/btnAutoPlay.svg");
}

#btnSpeed {

    left: 25%;
    background-image: url("./assets/ui/buttons/navbuttons/btnSpeed.svg");
}



#btnPlay {

    left: 5%;
    background-image: url("./assets/ui/buttons/navbuttons/btnPlay.svg");
}

#btnListen {

    left: 15%;
    background-image: url("./assets/ui/buttons/navbuttons/btnListen.svg");
}

#btnRead {

    left: 25%;
    background-image: url("./assets/ui/buttons/navbuttons/btnRead.svg");
}

#btnBarClose {
    right: 5%;
    background-image: url("./assets/ui/buttons/navbuttons/btnClose.svg");
}
#btnVolume {
    position: absolute;
    top:15%;
    left: 15%;
    width: 12vh;
    height: 12vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
   
    z-index: 100;
    background-image: url("./assets/ui/buttons/navbuttons/btnVolume.svg");
}
#volBar {
    position: absolute;
    top: 46%;
    z-index: 100;
    left: 14.5%;
    width: 25vh;
    height: 50vh; 
}

#volBack {
    position: absolute;
    left: 0;
    top: 0;
    width: fit-content;
    height: fit-content;
   
}
#volWell
{
    position: absolute;
    left: 18.5%;
    top: 10%;
    width: max-content;
    height: max-content;   
}


.buttonLabel {
    color: white;
    font-size: 1.4vh;
    margin-top: 86%;
    text-align: center;

}
#prevFrame
{
    position: absolute;
    bottom: 15%;
    right:30%;
    width: 10%;
    opacity: .5;
    z-index: 110;
    display: none;
}

#titleTextHeader
{
    position: absolute;
    top:0;
    left: 50%;  
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: #6384D2;
    font-size: 6vw;
  
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

@media screen and (max-width: 600px) {
    .hl1 {
        color: black;
        font-size: 1.5vw;
        font-weight: normal;
        transition: color 1s;
    }
}