.app {
    display: flex;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px #000000;
    width: calc(var(--vw)*50);
    height: fit-content;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: calc(var(--vw)*1);
}
.conumber
{
    color:red;
}
.coefficient
{
    width: calc(var(--vw)*4);
}
h3
{
    margin: 0;
    margin-bottom: calc(var(--vw)*1);
    margin-top: calc(var(--vw)*1);
    font-weight: bold;
}