.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#blockScreen
{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(12, 12, 12,0.5);
  touch-action: none;
  z-index: 50;
}
#base
{
  max-width:100%;
  margin:auto;
}
.editThumb
{
   margin: auto;
   max-height: 30px;
}
.contentThumb
{
  margin: auto;
  max-height: 60px;
  padding-bottom: 15px;
}
.thumb
{
  min-width: 150px;
  min-height: 300px;
  margin-bottom: 20px;
}
.tempThumb
{
  position: absolute;
  left: 50%;
  top:50%;
  transform:translate(-50%,-50%);
}
.hid
{
  display: none;
}
.locked
{
  pointer-events: none!important;
}
.fitText
{
  font-size: 1vw;
  font-weight: bold;
}
.head1
{
  background-color: #3498db!important;
}
.titleText
{
  color:white;
  font-size: 26px;
  
}
.tac
{
  text-align: center;
}

.picCardBody
{
  background-color: white;
}
.picCardBodySelected
{
  background-color: tomato;
}
#mediaLib
{
  margin-top: 20px;
}
.btnClose
{
  float:right;
}
.headTitle
{
  font-size: large;
  font-weight: bold;
}

.picCard
{
  margin-bottom: 20px;
  
}
.titleText
{
  color:white;
  font-size: 26px;  
}
.cardImageHolder
{
  height: 20vh;
  text-align: center;
}
.cardImage
{
  max-width: 100%;
  max-height: 100%;
}
.mbutton
{
  margin-left: 20px;
}
#preview
{
  height: 300px;
  text-align: center;

}
.pageStart
{
  position: absolute;
  width: 300px;
  height: 300px;
}

#preview2
{
  height: 460px;
  

}
.modBox
{
  width: 50%;
  text-align: center;
  margin: auto;
}
.smButtonLine
{
  width: 50%;
  margin: auto;
}
.addIcon
{
  font-size: 32px;
  text-align: center;
}
.pageStart2
{
  position: absolute;
  width: 300;
  height: 450;
}
.pageTitle
{
  margin-top: 10%;
}
.scroll1
{
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.scroll3
{
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#scroll2
{
  height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.sideScroll
{
  height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.hw
{
  width:50%;
  margin: auto;
}
.styleImage
{
  height: 100px;
}
.dpagethumb
{
  width:100%;
}
.fw
{
  width: 100%;
}
#slider
{
  width: 50%;
  margin: auto;
}
.selectedItem
{
  background:mistyrose!important;
}
#listHolder
{
  position: relative;
}
.usn
{
  user-select: none;
}
.draggableListItem
{
  position: absolute;
  top:0;
  width: 100%;
  cursor: move;
}
.elementBox
{
  height: 75px;
  overflow: hidden;
}
#alert1
{
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
}
