@import url(https://fonts.googleapis.com/css?family=Righteous);

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.dang {
    display: inline-block;
    color: cornflowerblue;
    font-family: 'Righteous', serif;
    text-shadow: .03em .03em 0 hsla(230, 40%, 50%, 1);
}

.dang:after {
    content: attr(data-shadow);
    position: absolute;
    top: .06em;
    left: .06em;
    z-index: -1;
    text-shadow: none;
    background-image:
        linear-gradient(45deg,
            transparent 45%,
            hsla(48, 20%, 90%, 1) 45%,
            hsla(48, 20%, 90%, 1) 55%,
            transparent 0);
    background-size: .05em .05em;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shad-anim 15s linear infinite;
}

@keyframes shad-anim {
    0% {
        background-position: 0 0
    }

    0% {
        background-position: 100% -100%
    }
}

.deepShadow {
    text-shadow: 0.1em 0.1em 0 hsl(200deg 50% 30%);
}


.tomato {
    
    font-weight: 900;
    color: tomato;

    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: white;
    --stroke-color: lightblue;

    text-shadow:

        var(--x-offset) var(--y-offset) 0px var(--background-color),

        calc(var(--x-offset) - var(--stroke)) calc(var(--y-offset) + var(--stroke)) 0px var(--stroke-color);

}

/* for browsers that support spread, added in
  https://drafts.csswg.org/css-text-decor-4/#text-shadow-property
  currently: none browsers! none of them!
  I can't even find a test: 
  https://wpt.fyi/results/css/css-text-decor */
@supports (text-shadow: 1px 1px 1px 1px black) {
    .tomato {
        text-shadow:

            var(--x-offset) var(--y-offset) 0px 0px var(--background-color),

            var(--x-offset) var(--y-offset) var(--stroke) 0px var(--stroke-color);

    }
}


.neonbase {
    
    --interval: 1s;
    display: block;
    text-shadow:
        0 0 10px var(--color1),
        0 0 20px var(--color2),
        0 0 40px var(--color3),
        0 0 80px var(--color4);
    will-change: filter, color;
    filter: saturate(60%);
    animation: flicker steps(100) var(--interval) 1s infinite;
}

.neon1 {
    background-color: black;
    color: yellow;
    --color1: goldenrod;
    --color2: orangered;
    --color3: mediumblue;
    --color4: purple;
    font-family: Gruppo;
}

.neon2 {
    font-family: cursive;
    background-color: black;
    color: tomato;
    --color1: orangered;
    --color2: firebrick;
    --color3: maroon;
    --color4: darkred;
}


@keyframes flicker {
    50% {
        color: white;
        filter: saturate(200%) hue-rotate(20deg);
    }
}

.css-3d-text {
    
    color: #ffc107;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 0px 0px 0 rgb(250,188,2),
                 1px 1px 0 rgb(245,183,0),
                 2px 2px 0 rgb(240,178,0),
                 3px 3px 0 rgb(235,173,0),
                 4px 4px 0 rgb(230,168,0),
                 5px 5px 0 rgb(225,163,0),
                 6px 6px 0 rgb(220,158,0),
                 7px 7px 0 rgb(215,153,0),
                 8px 8px 0 rgb(210,148,0),
                 9px 9px 0 rgb(205,143,0),
                 10px 10px  0 rgb(200,138,0),
                 11px 11px 10px rgba(0,0,0,0.6),
                 11px 11px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);
 }
.blue3D
{
    
    color: #07b5ff;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    text-shadow: 0px 0px 0 rgb(-4,170,244),
                 1px 1px 0 rgb(-16,158,232),
                 2px 2px 0 rgb(-27,147,221),
                 3px 3px 0 rgb(-38,136,210),
                 4px 4px 0 rgb(-50,124,198),
                 5px 5px 0 rgb(-61,113,187),
                 6px 6px 0 rgb(-73,101,175),
                 7px 7px 0 rgb(-84,90,164),
                 8px 8px  0 rgb(-95,79,153),
                 9px 9px 8px rgba(0,0,0,0.59),
                 9px 9px 1px rgba(0,0,0,0.5),
                 0px 0px 8px rgba(0,0,0,.2);

}

.shadow1 {
    color: #131313;
    background: #e7e5e4;
    letter-spacing: .15em;
    text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89, -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897, -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6, -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5, -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4, -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1, -24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc, -27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2;
    color: #131313;
    background: #e7e5e4;
    }

.retro
{
    color: #FFFFFF;
background: #b8b8b8;
text-shadow: 4px 3px 0 #7A7A7A;
}
.comic
{
    color: #bc2e1e;
background: #edde9c;
text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;
}
.blocks
{
color: #FFFFFF;
background: #0e8dbc;
text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}