.sqrt .cell_1_1_0 {
    position: relative;
    left: calc(var(--cellWidth) / 3.3);
    top: 0;
    font-size: calc(var(--defaultSize) / 3);
}
.cell_1_2 {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: calc(var(--defaultSize) / 3);
    width: var(--cellWidth);
    height: var(--cellHeight);
}

.cell_1_2_0 {
    font-size: calc(var(--defaultSize) / 6);
}

.cell_1_2_1 {
    font-size: calc(var(--defaultSize) / 6);
}

.cell_2_1 {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    flex-direction: row;
    font-size: calc(var(--defaultSize) / 3);
    width: var(--cellWidth);
    height: var(--cellHeight);
}

.cell_2_1_0 {
    font-size: calc(var(--defaultSize) / 6);
}


.power .cell_2_1_0 {
    font-size: calc(var(--defaultSize) / 6);
    position: relative;
    top:calc(var(--cellHeight) / 3);
}

.power .cell_2_1_1 {
    font-size: calc(var(--defaultSize) / 6);
    position: relative;
    top: calc(var(--cellHeight) / 3);
}

.power2x2 {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    flex-direction: row;
    width: var(--cellWidth);
    height: var(--cellHeight);
}

.power2x2 .cell_2_2_0 {
    position: relative;
    top: calc(var(--cellHeight) / 3);
    font-size: calc(var(--defaultSize) / 6);
}

.power2x2 .cell_2_2_1 {
    position: relative;
    top: calc(var(--cellHeight) / 3);
    font-size: calc(var(--defaultSize) / 6);
}

.power2x2 .cell_2_2_2 {

    font-size: calc(var(--defaultSize) / 8);
}

.power2x2 .cell_2_2_3 {

    font-size: calc(var(--defaultSize) / 8);
}

.power3x3 {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    flex-direction: row;
    width: var(--cellWidth);
    height: var(--cellHeight);
}

.power3x3 .cell_3_3_0 {
    position: relative;
    top: calc(var(--cellHeight) / 3);
    font-size: calc(var(--defaultSize) / 6);
}

.power3x3 .cell_3_3_1 {
    position: relative;
    top: calc(var(--cellHeight) / 3);
    font-size: calc(var(--defaultSize) / 6);
}

.power3x3 .cell_3_3_2 {
    position: relative;
    top: calc(var(--cellHeight) / 3);
    font-size: calc(var(--defaultSize) / 6);
}

.power3x3 .cell_3_3_3 {
    font-size: calc(var(--defaultSize) / 8);
}

.power3x3 .cell_3_3_4 {
    font-size: calc(var(--defaultSize) / 8);
}

.power3x3 .cell_3_3_5 {
    font-size: calc(var(--defaultSize) / 8);
}

.cell_1_3 {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    flex-direction: row;
    font-size: calc(var(--defaultSize) /4);
    width: var(--cellWidth);
    height: var(--cellHeight);
}

.power .cell_2_1_1 {
    font-size: calc(var(--defaultSize) / 6);
    position: relative;
    top: 0;
}

.divide .cell_1_1_0 {
    display: inline;
    border-right: 2px black solid;
    border-radius: 0px 0px 16px 0px;
    text-align: right;
    padding-right: 5px;
    font-size: calc(var(--defaultSize) /4);
}

.divide2Col {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: var(--cellHeight);
}

.divide2Col .cell_2_1_0 {
    display: inline;
    text-align: right;
    font-size: calc(var(--defaultSize) /4);
}

.divide2Col .cell_2_1_1 {
    display: inline;
    border-right: 2px black solid;
    border-radius: 0px 0px 16px 0px;
    text-align: right;
    padding-right: 5px;
    font-size: calc(var(--defaultSize) /4)
}


.decimal {
    position: relative;
}
.decimal .cell_2_1_0 {
    position: absolute !important;
    top: calc(var(--cellHeight) * -0.15);
    left: inherit !important;
}
.decimal .cell_2_1_1 {
    position: absolute !important;
    top: calc(var(--cellHeight) * -0.15);
    left: var(--cellWidth) !important;
    transform: translateX(-50%) !important;
}


.carry {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: var(--cellHeight);
}

.carry .cell_1_1_0 {
    display: inline;
    position: relative;
    top: calc(var(--cellHeight) / 4);
    left: 0;
    font-size: calc(var(--defaultSize) /6);
}

/* was just .borrow, but this gives more flexibility */
.borrow, .borrow-top, .borrow-side {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: var(--cellHeight);
}

/* .borrow .cell_1_2_0 {
    display: inline;
    font-size: calc(var(--defaultSize) /10);
}

.borrow .cell_1_2_1 {
    display: inline;
    font-size: calc(var(--defaultSize) /6);
} */

/* .borrow .cell_1_2_1:before {
    position: relative;
    content: "";
    left: 0;
    top: 0%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;

    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
} */

