.twoCol {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.twoCol .cell_2_1_0 {
    display: inline;
    text-align: right;
    font-size: calc(var(--defaultSize) /4);
}

.twoCol .cell_2_1_1 {

    display: inline;
    text-align: left;
    font-size: calc(var(--defaultSize) /4);
}
.threeCol {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: var(--cellHeight);
}
.threeCol .cell_3_1_0 {
    display: inline;
    text-align: right;
    font-size: calc(var(--defaultSize) /5);
}

.threeCol .cell_3_1_1 {
    display: inline;
    text-align: center;
    font-size: calc(var(--defaultSize) /5);
}

.threeCol .cell_3_1_2 {
    display: inline;
    text-align: left;
    font-size: calc(var(--defaultSize) /5);
}
.fourCol {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: var(--cellHeight);
}
.fourCol .cell_1_4_0 {
    display: inline;
    text-align: right;
    font-size: calc(var(--defaultSize) /6);
}

.fourCol .cell_1_4_1 {
    display: inline;
    text-align: center;
    font-size: calc(var(--defaultSize) /6);
}
.fourCol .cell_1_4_2 {
    display: inline;
    text-align: center;
    font-size: calc(var(--defaultSize) /6);
}

.fourCol .cell_1_4_3 {
    display: inline;
    text-align: left;
    font-size: calc(var(--defaultSize) /6);
}

.twoRows
{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: calc(var(--defaultSize) /6);
}
.threeRows
{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: calc(var(--defaultSize) /9);
}
.fourRows
{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: calc(var(--defaultSize) /6);
}