
/* make a range of 10 font sizes */

.fs1
{
    font-size: calc(var(--defaultSize) /10)!important;
}
.fs2
{
    font-size: calc(var(--defaultSize) /9)!important;
}
.fs3
{
    font-size: calc(var(--defaultSize) /8)!important;
}
.fs4
{
    font-size: calc(var(--defaultSize) /7)!important;
}
.fs5
{
    font-size: calc(var(--defaultSize) /6)!important;
}
.fs6
{
    font-size: calc(var(--defaultSize) /5)!important;
}
.fs7
{
    font-size: calc(var(--defaultSize) /4)!important;
}
.fs8
{
    font-size: calc(var(--defaultSize) /3)!important;
}
.fs9
{
    font-size: calc(var(--defaultSize) /2)!important;
}
.fs10
{
    font-size: calc(var(--defaultSize));
}
