/** Fractions */
.fraction {
    font-size: calc(var(--defaultSize) / 6);
}

 .fraction .cell_1_2_0 {
    border-bottom: solid 2px black;
}
/* .fraction .cell_1_2_0::after
{
    content: ".";
    position: relative;
    top: 0;
    left: 0;
    width: var(--cellWidth);
    border-bottom: red solid 2px;
} */

.fraction2x2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: calc(var(--defaultSize) / 6);
}

.fraction2x2 .cell_2_2_0 {
    border-bottom: solid 2px black;
}

.fraction2x2 .cell_2_2_1 {
    border-bottom: solid 2px black;
}


.fraction3x3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: calc(var(--defaultSize) / 6);
}

.fraction3x3 .cell_3_3_0 {
    border-bottom: solid 2px black;
}

.fraction3x3 .cell_3_3_1 {
    border-bottom: solid 2px black;
}

.fraction3x3 .cell_3_3_2 {
    border-bottom: solid 2px black;
}


.fraction4x4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: calc(var(--defaultSize) / 6);
}

.fraction4x4 .cell_4_4_0 {
    border-bottom: solid 2px black;
}

.fraction4x4 .cell_4_4_1 {
    border-bottom: solid 2px black;
}

.fraction4x4 .cell_4_4_2 {
    border-bottom: solid 2px black;
}

.fraction4x4 .cell_4_4_3 {
    border-bottom: solid 2px black;
}