.gridContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.growgrid {

  display: flex;
  font-size: var(--defaultSize);
  width: 100%;
  justify-content: center;
}

.floatingSymbol {
  position: absolute;
  top: 0;
  left: 0;
}

.cell {
  outline: solid thin gainsboro;
  width: var(--cellWidth);
  height: var(--cellHeight);
  position: relative;
}

.cellGuideV {
  border: solid thin gainsboro;
  width: var(--cellWidth);
  height: var(--cellHeight);
  background-image: repeating-linear-gradient(to right, transparent, transparent 25%, #0dcaf0 25%, transparent 26%);
}

.cellGuideH {
  border: solid thin gainsboro;
  width: var(--cellWidth);
  height: var(--cellHeight);
  background-image: repeating-linear-gradient(to bottom, transparent, transparent 25%, #0dcaf0 25%, transparent 26%);
}

.cellGuideHV {
  border: solid thin gainsboro;
  width: var(--cellWidth);
  height: var(--cellHeight);
  background-image: repeating-linear-gradient(to right, transparent, transparent 25%, #0dcaf0 25%, transparent 26%),
    repeating-linear-gradient(to bottom, transparent, transparent 25%, #0dcaf0 25%, transparent 26%);
}

.cellNoBorder {
  border: none;
  width: var(--cellWidth);
  height: var(--cellHeight) !important;
}

.currentCell {
  /*#f2f2f2* but with 50% opacity*/
  /* background-color: rgba(242, 242, 242, 0.5); */
  /*yellow with 50% opacity*/
  background-color: rgba(255, 255, 0, 0.5);
}

.dragCell {
  /**light blue with 50% opacity */
  background-color: rgba(13, 202, 240, 0.5);
}

.cellLight {
  color: black;
  background-color: white;
}

.cellDark {
  color: white;
  background-color: black
}

.gridPosition {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}

.gridGuide {
  background-image: repeating-linear-gradient(to bottom, transparent, transparent 10px, #ccc 10px, #ccc 11px);
  background-size: 100% 10px;
}

/*cell grid*/
/**2x2 */
.grid2x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: calc(var(--defaultSize) / 6);
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

/*3x2 */
.grid3x2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: calc(var(--defaultSize) / 6);
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

/*4x2 */
.grid4x2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: calc(var(--defaultSize) / 6);
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}