.underlineRow {
    border-bottom: 2px solid black !important;
}

.smallText {
    font-size: 0.8em;
}

.largeText {
    font-size: 1.2em;
}

.redText {
    color: red;
}

.greenText {
    color: green;
}

.blueText {
    color: blue;
}

.yellowText {
    color: yellow;
}
.purpleText {
    color: purple;
}
.orangeText {
    color: orange;
}
.pinkText {
    color: pink;
}
.brownText {
    color: brown;
}
.blackText {
    color: black;
}
.whiteText {
    color: white;
}
.grayText {
    color: gray;
}
.lightBlueText {
    color: lightblue;
}
.lightGreenText {
    color: lightgreen;
}

/*redText
blueText
greenText
yellowText
purpleText
orangeText
pinkText
brownText
blackText
whiteText
grayText
lightBlueText
lightGreenText
*/

.boldText {
    font-weight: bold;
}
.italicText {
    font-style: italic;
}
.tableBorder {
    border: solid;
    padding: 18px;
    width: 150px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.strikethrough {
    position: relative;
    font-size: 0.8em;
}

.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 4px solid;
    border-color: inherit;

    -webkit-transform: rotate(-55deg);
    -moz-transform: rotate(-55deg);
    -ms-transform: rotate(-55deg);
    -o-transform: rotate(-55deg);
    transform: rotate(-55deg);
}

.halfCircle {
    border-right: 4px solid black !important;
    border-radius: 0px 0px 16px 0px;
}

.division-line {
    border-top: 2px solid black;
    width: 50px;
    margin: 0 10px;
}