.ovrscr {
	--arc: url("https://ttv5.s3.amazonaws.com/img/bg/BG000067.svg");
	--avg: url("https://ttv5.s3.amazonaws.com/img/bg/BG000068.svg");
	--dot: url("https://ttv5.s3.amazonaws.com/img/bg/BG000069.svg");
	--lin: url("https://ttv5.s3.amazonaws.com/img/bg/BG00006a.svg");
	--ray: url("https://ttv5.s3.amazonaws.com/img/bg/BG00006c.svg");
	--seg: url("https://ttv5.s3.amazonaws.com/img/bg/BG00006b.svg");
	padding: 0.4% 0.4% 0 0.4%;
	background-repeat: no-repeat;
	background-size: 99% 25%;
	background-position: 50% 10%;
}
.ovrscr mi
{
	display: block;
	font-family: var(--andika)!important;
}
.ovrscr.low {
	background-position: 50% 25%;
}
.ovrscr.avg {
	background-size: 95% 6%;
	background-position: 50% 22%;
	background-image: var(--avg);
}
.ovrscr.pav {
	background-size: calc(100% - 0.3em) 6%, auto 10%;
	background-position: 20% 22%, 99% 22%;
	background-image: var(--avg), var(--dot);
}
.ovrscr.avg.low {background-position: 50% 38%;}
.ovrscr.pav.low {background-position: 20% 38%, 99% 38%;}
.ovrscr.arc {background-image: var(--arc);}
.ovrscr.lin {background-image: var(--lin);}
.ovrscr.ray {background-image: var(--ray);}
.ovrscr.seg {background-image: var(--seg);}