.stepGrid {
    --defaultSize: 32px;
    --cellWidth: 12px;
    --cellHeight: 12px;
    margin-top: 1vh;
    display: flex;
    font-size: calc(var(--defaultSize) / 2);
    width: 100%;
    justify-content: center;
}

.stepCell {
    border: solid thin gainsboro;
}
